{% extends 'base.html' %}


{% block head %}{% endblock head %}


{% block content %}

{% url 'pensions:pensions_new' as url_pensions %}
{% url 'pensions:pensions_type_new' as url_pensions_type_new %}
<div class="row mt-2">
    <div class="col-lg-8">
        <div class="row my-2">
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_pensions }}"><i class="fas fa-plus"></i> Pajamas</button>
            </div>
        </div>
        <div id="pension-content">{{ data }}</div>
    </div>
    <div class="col-lg-4">
        <div class="row my-2">
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_pensions_type_new }}"><i class="fas fa-plus"></i> Pajamų rūšį</button>
            </div>
        </div>

        <div class="row">
            <div id="pension-categories" class="col-lg-12 ps-0">{{ categories }}</div>
        </div>
    </div>
</div>

{% include 'modal.html' %}
{% endblock content %}
