{% load humanize %}
{% load i18n %}
{% load slippers %}

{% if object_list %}
<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>{% translate 'Date' %}</th>
            <th>{% translate 'Fund' %}</th>
            <th>{% translate 'Remark' %}</th>
            <th class="text-end">{% translate 'Sum' %}</th>
            <th class="text-end">{% translate 'Fees' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'pensions:update' object.id as url_update %}
        {% url 'pensions:delete' object.id as url_delete %}
        <tr hx-get="{{ url_update }}" hx-trigger="dblclick" hx-target="#dialog">
            <td class="text-start">{{ object.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ object.pension_type }}</td>
            <td class="text-start">{{ object.remark }}</td>
            <td>{{ object.price|default_if_none:'-'|intcomma }}</td>
            <td>{{ object.fee|default_if_none:'-'|intcomma }}</td>
            {% edit_cell url=url_update %}
            {% delete_cell url=url_delete %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
