{% load i18n %}
{% load math %}
{% load cell_format %}

{% if object_list %}
<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-left">{% translate 'Date' %}</th>
            <th class="text-left w18">{% translate 'Fund' %}</th>
            <th class="text-left w18">{% translate 'Remark' %}</th>
            <th class="w8">{% translate 'Sum' %}</th>
            <th class="w8">{% translate 'Fees' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'pensions:update' object.id as url_update %}
        {% url 'pensions:delete' object.id as url_delete %}
        <tr hx-get="{{ url_update }}" hx-trigger="dblclick" hx-target="#mainModal">
            <td class="text-left">{{ object.date|date:"Y-m-d" }}</td>
            <td class="text-left">{{ object.pension_type }}</td>
            <td class="text-left">{{ object.remark }}</td>
            <td>{{object.price|price|cellformat}}</td>
            <td class="{{object.fee|css_class_if_none}}">{{object.fee|price|cellformat}}</td>
            {% include "core/includes/cell_edit.html" with url=url_update %}
            <c-td-delete :url=url_delete />
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="alert alert-warning">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
