{% load i18n %}
{% load form_tags %}

{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}

        {# --- SPECIAL CASE --- #}
        {% if field.html_name == 'total_sum' %}
            <c-input-sum-price :field="field" />

        {% elif field|is_checkbox %}
            <c-input-checkbox :field="field" />

        {% elif field|is_file %}
            <c-input-file :field="field" />

        {% elif field|is_select %}
            <c-input-select :field="field" />

        {% else %}
            <c-input-text :field="field" />
        {% endif %}

    {% endif %}
{% endfor %}