{% if paginator_object.total_pages > 1 %}

<ul class="pagination">
    <!-- previous button -->
    {% if page_obj.has_previous %}
        <li><a role="button" hx-get="{{ url }}?page={{ page_obj.previous_page_number|title }}{% if search %}&search={{ search }}{% endif %}{% if tab %}&tab={{tab}}{% endif %}" {% if target %}hx-target="{{target}}"{% endif %} hx-indicator="#indicator">&laquo;</a></li>
    {% else %}
        <li class="disabled">&laquo;</li>
    {% endif %}

    <!-- pages -->
    {% for i in paginator_object.page_range %}
        {% if page_obj.current_page == i %}
        <li class="active">
            {{ i|title }}
        </li>
    {% else %}
        {% if i == paginator_object.ELLIPSIS %}
            <li class="disabled">
                {{ paginator_object.ELLIPSIS }}
            </li>
        {% else %}
            <li>
                <a role="button" hx-get="{{ url }}?page={{ i|title }}{% if search %}&search={{ search }}{% endif %}{% if tab %}&tab={{tab}}{% endif %}" {% if target %}hx-target="{{target}}"{% endif %} hx-indicator="#indicator">{{ i|title }}</a>
            </li>
        {% endif %}
    {% endif %}
    {% endfor %}


    <!-- next button -->
    {% if page_obj.has_next %}
        <li>
            <a role="button" hx-get="{{ url }}?page={{ page_obj.next_page_number|title }}{% if search %}&search={{ search }}{% endif %}{% if tab %}&tab={{tab}}{% endif %}" {% if target %}hx-target="{{target}}"{% endif %} hx-indicator="#indicator">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled">&raquo;</li>
    {% endif %}
</ul>

{% endif %}
