{% extends 'base.html' %}

{% load static %}


{% block head %}
    {% include 'highcharts.html' with heatmap="True" %}
    <script src="{% static 'js/chart_calendar.js' %}"></script>
    <script src="{% static 'js/chart_drinks_quantity.js' %}"></script>
    <script src="{% static 'js/chart_drinks_consumption.js' %}"></script>
    <script src="{% static 'js/chart_drinks_compare.js' %}"></script>
    <script src="{% static 'js/chart_drinks_summary.js' %}"></script>
    <script src="{% static 'js/sticky-table-headers.js' %}"></script>
{% endblock head %}


{% block content %}


<!-- htmx tab data load -->
<div hx-get="{% url 'drinks:tab_index' %}" hx-target="#tab_content" hx-trigger="reloadIndex from:body"></div>
<div hx-get="{% url 'drinks:tab_data' %}" hx-target="#tab_content" hx-trigger="reloadData from:body"></div>
<div hx-get="{% url 'drinks:tab_history' %}" hx-target="#tab_content" hx-trigger="reloadHistory from:body"></div>

<!-- tab content -->
<div id="tab_content">
    {{content}}
</div>

{% endblock content %}
