{% load i18n %}
{% load static %}

<div class="row">
    <div class="col-lg-6" id="chart_consumption">{{chart_consumption}}</div>
    <div class="col-lg-6" id="chart_quantity">{{chart_quantity}}</div>
</div>

<div class="row my-2">
    <div class="col-lg-6">
        <div class="row gx-2">
            <div id="tbl_consumption" class="col-lg-3 col-md-3">{{tbl_consumption}}</div>
            <div id="tbl_last_day" class="col-lg-4 col-md-3">{{tbl_last_day}}</div>
            <div id="tbl_alcohol" class="col-lg-2 col-md-3">{{tbl_alcohol}}</div>
            <div id="target_list" class="col-lg-3 col-md-3">{{target_list}}</div>
        </div>

        <div class="row">
            <div class="col" id="tbl_std_av">{{tbl_std_av}}</div>
        </div>
    </div>

    <div class="col-lg-6 d-flex">
        {% get_current_language as LANGUAGE_CODE %}
        {% with 'images/drinks_info_'|add:LANGUAGE_CODE|add:'.jpg' as image %}
        <div class="text-center mx-auto align-self-center">
            <img src="{% static image %}" width="500" alt="{% translate 'What is a standard unit of alcohol' %}">
        </div>{% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12" id="chart_calendar_1H">{{chart_calendar_1H}}</div>
    <div class="col-lg-6 col-md-12" id="chart_calendar_2H">{{chart_calendar_2H}}</div>
</div>

<div class="row mt-4">
    <div class="col-lg-6">
        <div class="row my-2">
            <div class="col-sm-3 pt-1"><b>{% translate 'Historical data' %}</b></div>
            <div class="col-sm-9 text-end">
                <button type="button" class="btn btn-sm btn-info btn_click" hx-get="{% url 'drinks:compare' 2 %}" hx-target="#historical_data">{% translate '2 years' %}</button>
                <button type="button" class="btn btn-sm btn-info btn_click" hx-get="{% url 'drinks:compare' 3 %}" hx-target="#historical_data">{% translate '3 years' %}</button>
                <button type="button" class="btn btn-sm btn-info btn_click" hx-get="{% url 'drinks:compare' 7 %}" hx-target="#historical_data">{% translate '7 years' %}</button>
                <button type="button" class="btn btn-sm btn-info btn_click" hx-get="{% url 'drinks:compare' all_years %}" hx-target="#historical_data">{% translate 'All years' %}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" id="historical_data"></div>
        </div>
    </div>

    <div class="col-lg-6" id="compare_form_and_chart">
        {{compare_form_and_chart}}
    </div>
</div>


{% if request.htmx %}
<span id="btn-new" hx-swap-oob="true">
    {% include 'drinks/includes/new_buttons.html' with tab="index" hx_swap_oop="true" %}
</span>
{% endif %}
