{% load i18n %}
{% load drinks_templatetags %}

{% include 'drinks/includes/navbar.html' %}

{% if object_list %}

<table class="main striped hover sticky-table">
    <thead>
        <tr>
            <th class="text-left">{% translate 'Data' %}</th>
            <th class="text-left">{% translate 'Dink Type' %}</th>
            <th class="text-left">{% translate 'Quantity' %}</th>
            <th class="edit-col"></th>
            <th class="delete-col"></th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        {% url 'drinks:update' obj.id as url_update %}
        {% url 'drinks:delete' obj.id as url_delete %}

        <tr hx-get="{{ url_update }}" hx-trigger="dblclick" hx-target="#mainModal" class="{% ifchanged obj.date|date:"F" %}{% if not forloop.first %}table-group-divider{% endif %}{% endifchanged %}">
            <td class="text-left">{{ obj.date|date:"Y-m-d" }}</td>
            <td class="text-left">{% with obj.option|title as drink_type %}{% translate drink_type %}{% endwith %}</td>
            <td class="text-left">{{ obj.quantity|convert:obj.option|floatformat:'2g' }}</td>
            <c-td-edit :url=url_update />
            <c-td-delete :url=url_delete />
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>$('.sticky-table').stickyTableHeaders();</script>

{% else %}

{% include 'core/no_records.html' %}

{% endif %}