<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper1.14.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-4.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment-with-locales-2.9.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap_datepicker/js/bootstrap-datetimepicker-4.17.47.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-4.4.1.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'bootstrap_datepicker/css/bootstrap-datetimepicker-4.17.47.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap_datepicker_plus/css/datepicker-widget.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app_global.css' %}" />

    {% block head %}{% endblock head %}

    <title>Bookkeeping</title>
  </head>

  <body>
    {% block body %}
    <!-- top navidation bar -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.profile.year|title }}</a>
            <div class="dropdown-menu">
              {% with request.resolver_match.view_name as m_url %}
              <a class="dropdown-item" href="{% url 'core:set_year' 2019 m_url  %}">2019</a>
              <a class="dropdown-item" href="{% url 'core:set_year' 2018 m_url  %}">2018</a>
              <a class="dropdown-item" href="#">2017</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
              {% endwith %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/' == request.path %}active{% endif %}" href="{% url 'bookkeeping:index' %}">Bendra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/expenses/' in request.path %}active{% endif %}" href="{% url 'expenses:expenses_index' %}">Išlaidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/incomes/' in request.path %}active{% endif %}" href="{% url 'incomes:incomes_index' %}">Pajamos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/transactions/' in request.path %}active{% endif %}"
              href="{% url 'transactions:transactions_index' %}">Pervedimai</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/savings/' in request.path %}active{% endif %}"
              href="{% url 'savings:savings_index' %}">Taupymas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/books/' in request.path %}active{% endif %}"
              href="{% url 'books:books_list' %}">Knygos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/drinks/' in request.path %}active{% endif %}"
              href="{% url 'drinks:drinks_list' %}">Gėrimai</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/plans/' in request.path %}active{% endif %}"
              href="{% url 'plans:plans_index' %}">Planavimas</a>
          </li>
        </ul>
      </nav>

      <div class="row mx-0 my-2">
        {% block content %}{% endblock content %}
      </div>
    </div>
    {% endblock body %}
  </body>
</html>
