{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-ui-1.11.3.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script> <!-- Htmx -->
    <script defer src="https://unpkg.com/@alpinejs/morph@3.10.2/dist/cdn.min.js"></script><!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script> <!-- Alpine Core -->
    {% include 'core/includes/form_date_scripts.html' %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'bootstrap_datepicker/css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap_datepicker_plus/css/datepicker-widget.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app_global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/expand_table_row.css' %}">
    <link rel="stylesheet" href="{% static 'css/css-loader.css' %}">

    {% block head %}{% endblock head %}

    <title>{{ user.journal.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>

  <body>
    {% block body %}
    <!-- top navidation bar -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
        <ul class="nav nav-pills">
          <!-- Years Dropdown -->
          <li class="nav-item dropdown ms-0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.year|title }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for y in years %}
              <li><a class="dropdown-item btn-sm" href="{% url 'core:set_year' y %}">{{ y|safe }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <!-- End of Years Dropdown -->

          <li class="nav-item">
            <a class="nav-link {% if '/' == request.path %}active{% endif %}" href="{% url 'bookkeeping:index' %}">{% translate 'Main' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/month/' == request.path %}active{% endif %}" href="{% url 'bookkeeping:month' %}">{% translate 'Month' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/detailed/' == request.path %}active{% endif %}" href="{% url 'bookkeeping:detailed' %}">{% translate 'Detailed' %}</a>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn nav-link {% if '/expenses/' in request.path and not '/summary/' in request.path %}active{% endif %}" href="{% url 'expenses:index' %}">{% translate 'Expenses' %}</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split nav-link {% if '/expenses/' in request.path and not '/summary/' in request.path %}active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                {% for m in context_months %}
                {% with m|date:'n' as m_num %}
                <li>
                  <a class="dropdown-item btn-sm" hx-get="{% url 'expenses:index'%}?month={{ forloop.counter }}" hx-target="body">{{ m|date:'F'|title }}</a>
                </li>
                {% endwith %}{% endfor %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item btn-sm" hx-get="{% url 'expenses:index' %}?month=13" hx-target="body">{% translate 'All records' %}</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/incomes/' in request.path %}active{% endif %}" href="{% url 'incomes:index' %}">{% translate 'Incomes' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/transactions/' in request.path %}active{% endif %}" href="{% url 'transactions:index' %}">{% translate 'Transactions' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/savings/' in request.path and not '/summary/' in request.path %}active{% endif %}" href="{% url 'savings:index' %}">{% translate 'Savings' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/debts/' in request.path %}active{% endif %}" href="{% url 'debts:index' %}">{% translate 'Depts' %}</a>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn nav-link {% if '/books/' in request.path %}active{% endif %}" href="{% url 'books:index' %}">{% translate 'Books' %}</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split nav-link {% if '/books/' in request.path %}active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'books:index' %}?tab=all">{% translate 'All records' %}</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/drinks/' in request.path %}active{% endif %}" href="{% url 'drinks:index' %}">{% translate 'Drinks' %}</a>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn nav-link {% if '/counts/' in request.path %}active{% endif %}" href="{% url 'counts:redirect' %}">{% translate 'Counter' %}</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split nav-link {% if '/counts/' in request.path %}active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">

                {% if counts_menu %}{{ counts_menu }}{% endif %}

                <li class="dropdown-divider"></li>
                <li>
                  <button type="button" class="dropdown-item btn-sm" hx-get="{% url 'counts:type_new' %}" hx-target="#dialog">{% translate 'Add count type' %}</button>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/plans/' in request.path %}active{% endif %}" href="{% url 'plans:index' %}">{% translate 'Plans' %}</a>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn nav-link {% if 'summary' in request.path %}active{% endif %}" href="{% url 'bookkeeping:summary' %}">{% translate 'Summary' %}</a>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split nav-link {% if '/summary/' in request.path %}active{% endif %}" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'bookkeeping:summary' %}">{% translate 'Incomes' %} & {% translate 'Expenses' %}</a>
                </li>
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'bookkeeping:summary_savings_and_incomes' %}">{% translate 'Incomes'%} & {% translate 'Savings' %}</a>
                </li>
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'bookkeeping:summary_savings' %}">{% translate 'Savings' %}</a>
                </li>
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'bookkeeping:summary_expenses' %}">{% translate 'Expenses' %}</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">{% translate 'Add' %}</button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'incomes:new' %}" hx-target="#dialog">{% translate 'Incomes' context 'incomes button' %}</button>
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'expenses:new' %}" hx-target="#dialog">{% translate "Expenses" context "expenses button" %}</button>
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'transactions:new' %}" hx-target="#dialog">{% translate 'Transactions' context "transactions button" %}</button>
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'savings:new' %}" hx-target="#dialog">{% translate 'Savings' context "savings button" %}</button>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'accounts:new' %}" hx-target="#dialog">{% translate 'Account' context 'account button' %}</button>
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'incomes:type_new' %}" hx-target="#dialog">{% translate 'Incomes type' context 'income type button' %}</button>
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'expenses:type_new' %}" hx-target="#dialog">{% translate "Expenses type" context "expenses type button" %}</button>
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'expenses:name_new' %}" hx-target="#dialog">{% translate "Expenses name" context "expenses name button" %}</button>
                </li>
                <li>
                  <button class="dropdown-item btn-sm" hx-get="{% url 'savings:type_new' %}" hx-target="#dialog">{% translate 'Fund' context 'fund button' %}</button>
                </li>
              </ul>
            </div>
          </li>

        </ul>

        <div class="navbar-text ms-3">{{ yday }} / <b>{{ ydays }}</b></div>

        <div class="nav-item dropdown ms-auto me-0">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item btn-sm" href="{% url 'users:logout' %}">{% translate 'Log out' %}</a></li>
            <li><a class="dropdown-item btn-sm" href="{% url 'users:password_change' %}">{% translate 'Change password' %}</a></li>
            {% if user.is_superuser %}
            <li class="dropdown-divider"></li>
            <li><a role="button" class="dropdown-item btn-sm" href="{% url 'users:settings_index' %}">{% translate 'Settings' %}</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!-- Loader -->
      <div class="htmx-indicator loader loader-default is-active" id="indicator"></div>
      {% block content %}{% endblock content %}
    </div>
    {% endblock body %}

    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog modal-650" hx-target="this" hx-ext="alpine-morph" hx-swap="morph" x-data="{ inserted: false }"></div>
    </div>

    <script src="{% static 'js/tooltip.js' %}"></script>
    <script src="{% static 'js/dialog.js' %}"></script>

  </body>
</html>
