{% load static %}
<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="utf-8">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.3.min.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="{% static 'js/moment-with-locales-2.9.0.min.js' %}"></script>
    <script src="{% static 'bootstrap_datepicker/js/bootstrap-datetimepicker-4.17.47.min.js' %}"></script>
    <script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'bootstrap_datepicker/css/bootstrap-datetimepicker-4.17.47.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap_datepicker_plus/css/datepicker-widget.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app_global.css' %}" />

    {% block head %}{% endblock head %}

    <title>Bookkeeping</title>
  </head>

  <body>
    {% block body %}
    <!-- top navidation bar -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
        <ul class="nav nav-pills">
          <!-- Years Dropdown -->
          <li class="nav-item dropdown ms-0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.year|title }}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for y in years %}
              <li><a class="dropdown-item btn-sm" href="{% url 'core:set_year' y %}">{{ y|safe }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <!-- End of Years Dropdown -->

          <li class="nav-item">
            <a class="nav-link {% if '/' == request.path %}active{% endif %}" href="{% url 'bookkeeping:index' %}">Bendra</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/month/' == request.path %}active{% endif %}" href="{% url 'bookkeeping:month' %}">Mėnuo</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/detailed/' == request.path %}active{% endif %}"
              href="{% url 'bookkeeping:detailed' %}">Detali</a>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn btn-menu nav-link {% if '/expenses/' in request.path %}active{% endif %}"
                href="{% url 'expenses:expenses_index' %}">Išlaidos</a>
              <button type="button" class="btn btn-menu dropdown-toggle dropdown-toggle-split nav-link {% if '/expenses/' in request.path %}active{% endif %}" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                {% for m in context_months %}
                {% with m|date:'n' as m_num %}
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'expenses:expenses_month_list' forloop.counter %}">{{ m|date:'F'|title }}</a>
                </li>
                {% endwith %}{% endfor %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'expenses:expenses_month_list' 13 %}">Visi įrašai</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/incomes/' in request.path %}active{% endif %}"
              href="{% url 'incomes:incomes_index' %}">Pajamos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/transactions/' in request.path %}active{% endif %}"
              href="{% url 'transactions:transactions_index' %}">Pervedimai</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/savings/' in request.path %}active{% endif %}"
              href="{% url 'savings:savings_index' %}">Taupymas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/debts/' in request.path %}active{% endif %}"
              href="{% url 'debts:debts_index' %}">Skolos</a>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn btn-menu nav-link {% if '/books/' in request.path %}active{% endif %}"
                href="{% url 'books:books_index' %}">Knygos</a>
              <button type="button"
                class="btn btn-menu dropdown-toggle dropdown-toggle-split nav-link {% if '/books/' in request.path %}active{% endif %}"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'books:books_all' %}">Visi įrašai</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn btn-menu nav-link {% if '/drinks/' in request.path %}active{% endif %}"
                href="{% url 'drinks:drinks_index' %}">Gėrimai</a>
              <button type="button"
                class="btn btn-menu dropdown-toggle dropdown-toggle-split nav-link {% if '/drinks/' in request.path %}active{% endif %}"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'drinks:drinks_list' %}">Duomenys</a>
                </li>
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'drinks:drinks_history' %}">Istorija</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <div class="btn-group">
              <a class="btn btn-menu nav-link {% if '/counts/' in request.path %}active{% endif %}"
                href="{% url 'counts:counts_index' %}">Kiek</a>
              <button type="button" class="btn btn-menu dropdown-toggle dropdown-toggle-split nav-link {% if '/counts/' in request.path %}active{% endif %}"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'counts:counts_list' %}">Duomenys</a>
                </li>
                <li>
                  <a class="dropdown-item btn-sm" href="{% url 'counts:counts_history' %}">Istorija</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/plans/' in request.path %}active{% endif %}"
              href="{% url 'plans:plans_index' %}">Planavimas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/summary/' in request.path %}active{% endif %}"
              href="{% url 'bookkeeping:summary' %}">Suvestinės</a>
          </li>
        </ul>
        <div class="navbar-text ms-3">{{ yday }} / <b>{{ ydays }}</b></div>

        <div class="nav-item dropdown ms-auto me-0">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">{{ user.username }}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item btn-sm" href="{% url 'users:logout' %}">Log out</a></li>
          </ul>
        </div>
      </nav>

      {% block content %}{% endblock content %}

    </div>
    {% endblock body %}
    <script src="{% static 'js/tooltip.js' %}"></script>
  </body>
</html>
