<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>.</title>
    <style>
        .container {
            height: 100vh;
            display: flex;
        }

        h3 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="row w-50 mx-auto align-items-center">
        <div class="col-12">
            <h3 class="my-auto text-center py-3">SRSLY?</h3>
        </div>
    </div>
</div>
</body>
</html>
