{% load i18n %}
{% load slippers %}
{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>{% translate 'Date' %}</th>
            <th>{% translate 'Quantity' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}

        {% var count_type=request.resolver_match.kwargs.count_type %}

        {% url 'counts:update' count_type item.id as url_update %}
        {% url 'counts:delete' count_type item.id as url_delete %}

        {% ifchanged item.date|date:"F" %}
        {% if not forloop.first %}
        <tr><td colspan="4" class="table-active"></td></tr>
        {% endif %}
        {% endifchanged %}

        <tr data-url="{{ url_update }}" class="dblclick">
            <td class="text-start">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.quantity }}</td>
            {% edit_cell url=url_update %}
            {% delete_cell url=url_delete %}
        </tr>

        {% endfor %}
    </tbody>
</table>

{% else %}

    {% if not records %}<div id="no-records">{% include 'core/no_records.html' %}</div>{% endif %}

{% endif %}
