<script>
    $(document).on('hidden.bs.modal', '#modal-form', function () {
        var url = `{% url 'counts:reload_stats' count_type_object.slug %}`;
        var form = document.getElementById('js-form');
        var action = form.action;

        if (action.includes('type')) {
            window.location.replace(`{% url 'counts:counts_redirect' count_type_object.pk %}`);
            return;
        }

        $.ajax({
            url: url,
            data: {
                'ajax_trigger': '1'
            },
            success: function (data) {
                // delete no records message
                $('#no-records').html('');

                var blocks = [
                    'info_row',
                    'chart_weekdays',
                    'chart_months',
                    'chart_year',
                    'chart_histogram',
                    'chart_calendar_1H',
                    'chart_calendar_2H',
                ];
                reload_stats(data, blocks);
            }
        });
    });
</script>
