{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="{% static 'js/reload_stats.js' %}"></script>

<style>
    .btn-light {
        background-color: rgb(239, 239, 239) !important;
    }
</style>
{% endblock head %}


{% block content %}

<div class="row my-2">
    <div class="col-sm-3 text-start">
        {% with view.kwargs.slug as type %}
        <a href="{% url 'counts:index' type %}" class="btn btn-sm {% if '/'|add:'counts'|add:'/'|add:type|add:'/' == request.path %}btn-info{% else %}btn-light{% endif %}">{% translate 'Charts' %}</a>
        <a href="{% url 'counts:list' type %}" class="btn btn-sm {% if '/lists/' in request.path %}btn-info{% else %}btn-light{% endif %}">{% translate 'Data' %}</a>
        <a href="{% url 'counts:history' type %}" class="btn btn-sm {% if '/history/' in request.path %}btn-info{% else %}btn-light{% endif %}">{% translate 'History' %}</a>
        {% endwith %}
    </div>

    <div class="col text-center" id="info_row">
        {% block info_row %}{% endblock %}
    </div>

    <div class="col-sm-3 text-end">
        <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'counts:new' view.kwargs.slug %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Record' context 'record button' %}</button>

        <button type="button" class="btn btn-sm btn-success" hx-get="{% url 'counts:type_update' view.kwargs.slug %}" hx-target="#dialog"><i class="bi bi-pencil-fill me-1"></i> {% translate 'Counter' context 'counter button' %}</button>
        <button type="button" class="btn btn-sm btn-danger" hx-get="{% url 'counts:type_delete' view.kwargs.slug %}" hx-target="#dialog"><i class="bi bi-trash-fill me-1"></i> {% translate 'Counter' context 'counter button' %}</button>

    </div>
</div>

{% block counts_content %}{% endblock counts_content %}

{% endblock content %}
