{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/paper.min.css' %}">{% endblock css %}

{% block head %}{% endblock head %}


{% block content %}

<div class="paper-skin">

<div class="row">
    <div class="col text-center">
        <div class="alert alert-warning">{% translate 'You have no counters.' %}</div>
    </div>
</div>

<div><button type="button" class="button-secondary" hx-get="{% url 'counts:type_new' %}" hx-target="#mainModal">{% translate 'Add counter'%}</button>
</div>

</div>

{% endblock content %}
