{% if not records %}<div id="no-records"><div class="row my-2"><div class="col">{% include 'core/no_records.html' with data_missing=True %}</div></div></div>{% endif %}

<div class="row my-2">
    <div class="col-lg-4">{% if records %}{{ chart_weekdays }}{% endif %}</div>
    <div class="col-lg-4">{% if records %}{{ chart_years }}{% endif %}</div>
    <div class="col-lg-4">{% if records %}{{ chart_histogram }}{% endif %}</div>
</div>

<script>
    $(document).on('hidden.bs.modal', '#modal-form', function () {
        $.ajax({
            success: function (data) {
                window.location.href = '{% url 'counts:history' view.kwargs.count_type %}';
            },
        });
    });
</script>
