{% extends 'base.html' %}
{% load static %}


{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script type="text/javascript" src="{% static 'js/reload_stats.js' %}"></script>
{% endblock head %}


{% block content %}

<div class="row my-3">
    <div class="col-sm-3 text-left">
        <a href="{% url url_index %}" class="btn btn-sm {% if '/'|add:app_name|add:'/' == request.path %}btn-info{% else %}btn-light{% endif %}">Grafikai</a>
        <a href="{% url url_list %}" class="btn btn-sm mx-2 {% if '/lists/' in request.path %}btn-info{% else %}btn-light{% endif %}">Duomenys</a>
        <a href="{% url url_history %}" class="btn btn-sm {% if '/history/' in request.path %}btn-info{% else %}btn-light{% endif %}">Istorija</a>
    </div>

    <div class="col text-center" id="info_row">
        {% if tab == 'index' or tab == 'data' %}{{ info_row }}{% endif %}
    </div>

    <div class="col-sm-3 text-right">
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{% url url_new %}"><i class="fas fa-plus"></i> Pridėti</button>
    </div>
</div>

{% if tab == 'index' %}
<div class="row mt-2">
    <div class="col-lg-4" id="chart_weekdays">{{ chart_weekdays }}</div>
    <div class="col-lg-4" id="chart_months">{{ chart_months }}</div>
    <div class="col-lg-4" id="chart_histogram">{{ chart_histogram }}</div>
</div>

<div class="row mt-2">
    <div class="col-lg-6 col-md-12" id="chart_calendar_1H">{{ chart_calendar_1H }}</div>
    <div class="col-lg-6 col-md-12" id="chart_calendar_2H">{{ chart_calendar_2H }}</div>
</div>
<div id="chart_year">{{ chart_year }}</div>
{% endif %}


{% if tab == 'data' %}
<div class="row mt-2">
    <div class="col" id="ajax-content">{{ data }}</div>
</div>
{% endif %}


{% if tab == 'history' %}
<div class="row mt-2">
    <div class="col-lg-4">{{ chart_weekdays }}</div>
    <div class="col-lg-4">{{ chart_years }}</div>
    <div class="col-lg-4">{{ chart_histogram }}</div>
</div>
{% endif %}

{% include 'modal.html' %}

<style>
    .btn-light {
        background-color: rgb(239, 239, 239)!important;
    }
</style>

<script>
    $(document).on('hidden.bs.modal', '#modal-form', function () {
        var url = `{% url url_reload %}`;

        $.ajax({
            url: url,
            data: {
                'ajax_trigger': '1'
            },
            success: function (data) {
                var blocks = ['info_row', 'chart_weekdays', 'chart_months', 'chart_year', 'chart_histogram', 'chart_calendar_1H', 'chart_calendar_2H'];
                reload_stats(data, blocks);
            }
        });
    });
</script>

{% endblock content %}
