{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block head %}
    {% include 'highcharts.html' with heatmap="True" %}
    <script src="{% static 'js/chart_calendar.js' %}"></script>
    <script src="{% static 'js/chart_counts_periodicity.js' %}"></script>
    <script src="{% static 'js/sticky-table-headers.js' %}"></script>
{% endblock head %}


{% block content %}

<div class="counts-title">{{object.title}}</div>

<main id="tab_content" class="grid-one-col">
    {{tab_content}}
</main>

<div hx-get="{% url 'counts:tab_data' object.slug %}" hx-target="#tab_content" hx-trigger="reloadData from:body"></div>
<div hx-get="{% url 'counts:tab_index' object.slug %}" hx-target="#tab_content" hx-trigger="reloadIndex from:body"></div>
<div hx-get="{% url 'counts:tab_history' object.slug %}" hx-target="#tab_content" hx-trigger="reloadHistory from:body"></div>

{% endblock content %}
