{% load i18n %}

<div class="info-row" >
    <div
        class="info-row-text"
        hx-get="{% url 'counts:info_row' object.slug %}"
        hx-trigger="reloadIndex from:body, reloadData from:body, reloadHistory from:body">

        {% if tab == 'history' %}

        <div data-info-row="{{records|floatformat:'0g'}}">{% translate "Total" %}:</div>

        {% else %}
        <div data-info-row="{{ total|floatformat:'0g' }}">{% translate 'Quantity' %}:</div>
        <div data-info-row="{{ week|floatformat:'0g' }}">{% translate 'Week' %}:</div>
        <div data-info-row="{{ ratio|floatformat:'1g' }}">{% translate 'Per week' %}:</div>
        {% if current_gap %}<div data-info-row="{{ current_gap|floatformat:'0g' }}">{% translate 'Last time before' %}:</div>{% endif %}

        {% endif%}
    </div>

    <div>
        <c-new-button url="{% url 'counts:new' tab object.slug %}" title="{% translate 'Record' context 'record button' %}" />
        <button type="button" class="button-secondary" hx-get="{% url 'counts:type_update' object.pk %}" hx-target="#mainModal"><i class="bi bi-pencil-fill"></i> {% translate 'Counter' context 'counter button' %}</button>
        <button type="button" class="button-danger" hx-get="{% url 'counts:type_delete' object.pk %}" hx-target="#mainModal"><i class="bi bi-trash-fill"></i> {% translate 'Counter' context 'counter button' %}</button>
    </div>
</div>

