{% load i18n %}
{% load counts_components %}

<div class="info-row" >
    <!-- Counter tabs -->
    <div>
        <button
            class="{% if tab == 'index' %}button-active{% else %}button-secondary{% endif %}"
            hx-get="{% url 'counts:tab_index' object.slug %}"
            hx-target="#tab_content">
            {% translate 'Charts' %}
        </button>
        <button
            class="{% if tab == 'data' %}button-active{% else %}button-secondary{% endif %}"
            hx-get="{% url 'counts:tab_data' object.slug %}"
            hx-target="#tab_content">
            {% translate 'Data' %}
        </button>
        <button
            class="{% if tab == 'history' %}button-active{% else %}button-secondary{% endif %}"
            hx-get="{% url 'counts:tab_history' object.slug %}"
            hx-target="#tab_content">
            {% translate 'History' %}
        </button>
    </div>

    <!-- Counter stats -->
    <div
        class="info-row-text"
        hx-get="{% url 'counts:info_row' object.slug %}"
        hx-trigger="reloadIndex from:body, reloadData from:body, reloadHistory from:body">

        {% if tab == 'history' %}

        <div data-info-row="{{records|floatformat:'0g'}}">{% translate "Total" %}:</div>

        {% else %}
        <div data-info-row="{{ total|floatformat:'0g' }}">{% translate 'Quantity' %}:</div>
        <div data-info-row="{{ week|floatformat:'0g' }}">{% translate 'Week' %}:</div>
        <div data-info-row="{{ ratio|floatformat:'1g' }}">{% translate 'Per week' %}:</div>
        {% if current_gap %}<div data-info-row="{{ current_gap|floatformat:'0g' }}">{% translate 'Last time before' %}:</div>{% endif %}

        {% endif%}
    </div>

    <!-- Counter buttons -->
    <div>
        <c-new-button url="{% url 'counts:new' tab object.slug %}" title="{% translate 'Record' context 'record button' %}" />
        <button type="button" class="button-success" hx-get="{% url 'counts:type_update' object.pk %}" hx-target="#mainModal"><i class="bi bi-pencil-fill"></i> {% translate 'Counter' context 'counter button' %}</button>
        <button type="button" class="button-danger" hx-get="{% url 'counts:type_delete' object.pk %}" hx-target="#mainModal"><i class="bi bi-trash-fill"></i> {% translate 'Counter' context 'counter button' %}</button>
    </div>
</div>

