{% load i18n %}


{{info_row}}

{% if object_list %}

<table class="main striped hover sticky-table">
    <thead>
        <tr>
            <th class="text-left">{% translate 'Date' %}</th>
            <th class="text-left">{% translate 'Quantity' %}</th>
            <th class="edit-col"></th>
            <th class="delete-col"></th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}

        {% url 'counts:update' obj.id as url_update %}
        {% url 'counts:delete' obj.id as url_delete %}
        <tr hx-get="{{ url_update }}" hx-target="#mainModal" hx-trigger="dblclick">
            <td class="text-left">{{ obj.date|date:"Y-m-d" }}</td>
            <td class="text-left">{{ obj.quantity }}</td>
            <c-td-edit :url=url_update />
            <c-td-delete :url=url_delete />
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    let elements = document.querySelectorAll('.sticky-table')
    stickyThead.apply(elements);
</script>


{% else %}
    {% if not records %}{% include 'core/no_records.html' %}{% endif %}
{% endif %}
