{% load i18n %}


{{info_row}}

{% if records %}

<div class="grid-three-col">
    <div id="chart-weekdays-container"></div>
    <div id="chart-years-container"></div>
    <div id="chart-histogram-container">
        {{chart_weekdays|json_script:"chart-weekdays-data"}}
        {{chart_years|json_script:"chart-years-data"}}
        {{chart_histogram|json_script:"chart-histogram-data"}}
        <script>
            chartPeriodicity('chart-weekdays-data', 'chart-weekdays-container');
            chartPeriodicity('chart-years-data', 'chart-years-container');
            chartPeriodicity('chart-histogram-data', 'chart-histogram-container');
        </script>
    </div>
</div>


{% else %}

{% include 'core/no_records.html' with data_missing=True %}

{% endif %}