{% load i18n %}
{% load counts_components %}


{{info_row}}

<div class="grid-three-col">
    <div id="chart-weekdays-container"></div>
    <div id="chart-months-container"></div>
    <div id="chart-histogram-container">
        {{chart_weekdays|json_script:"chart-weekdays-data"}}
        {{chart_months|json_script:"chart-months-data"}}
        {{chart_histogram|json_script:"chart-histogram-data"}}
        <script>
            chartPeriodicity('chart-weekdays-data', 'chart-weekdays-container');
            chartPeriodicity('chart-months-data', 'chart-months-container');
            chartPeriodicity('chart-histogram-data', 'chart-histogram-container');
        </script>
    </div>
</div>

<div class="grid-two-col">
    <div id="chart-calendar-1H-container"></div>
    <div id="chart-calendar-2H-container">
        {{chart_calendar_1H|json_script:"chart-calendar-1H-data"}}
        {{chart_calendar_2H|json_script:"chart-calendar-2H-data"}}
        <script>
            chartCalender('chart-calendar-1H-data', 'chart-calendar-1H-container');
            chartCalender('chart-calendar-2H-data', 'chart-calendar-2H-container');
        </script>
    </div>
</div>
