{% load i18n %}
{% load counts_components %}


{% if records %}

<div class="row my-2">
    <div class="col-lg-4" id="chart_weekdays">{{ chart_weekdays }}</div>
    <div class="col-lg-4" id="chart_months">{{ chart_months }}</div>
    <div class="col-lg-4" id="chart_histogram">{{ chart_histogram }}</div>
</div>

<div class="row my-2">
    <div class="col-lg-6 col-md-12"><div id="chart-calendar-1H-container"></div></div>
    <div class="col-lg-6 col-md-12"><div id="chart-calendar-2H-container"></div></div>
    {{chart_calendar_1H|json_script:"chart-calendar-1H-data"}}
    {{chart_calendar_2H|json_script:"chart-calendar-2H-data"}}
    <script>
        chartCalender('chart-calendar-1H-data', 'chart-calendar-1H-container');
        chartCalender('chart-calendar-2H-data', 'chart-calendar-2H-container');
    </script>
</div>

{% else %}

{% include 'core/no_records.html' %}

{% endif %}


{% if request.htmx %}
{% url 'counts:new' 'index' object.slug as url_new %}
{% new_count_button url=url_new hx_swap_oob="true" %}
{% endif %}
