[run]
omit =
  *test_integration_browser.py,
  *runserver_with_date.py
  *apps.py,
  */__init__.py,
  */migrations/*.py,
  */settings/*.py,
  */tests/*.py,
  *urls.py,
  *wsgi*,
  *conftest*,
  manage.py,
  *i18n.py,
  *factories.py,
[report]
exclude_lines =
    pragma: no cover
    @abstract
