{% extends 'users/users_base.html' %}
{% load i18n %}


{% block content %}
<div>
{% if valid_link %}
    <div class="grid-one-col">
        <h3>{{ card_title }}</h3>
        {% if card_text %}<p>{{ card_text }}</p>{% endif %}
        <form method="post" class="login-form" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            <c-form-errors :errors=form.non_field_errors />
            <c-form-body :form=form />

            <button type="submit" class="button-active">{{ submit_button_text }}</button>
        </form>
    </div>

    {% if form.errors %}

        {% if reset_link %}
            <div class="login-footer">
                <a href="{% url 'users:password_reset' %}">{% translate 'Forgot your password?' %}</a>
            </div>
        {% endif %}

    {% else %}

        {% if signup_link %}
            <div class="login-footer">
                {% translate 'New to this site?' %} <a href="{% url 'users:signup' %}">{% translate 'Sign up' %}</a>
            </div>
        {% endif %}


        {% if login_link %}
            <div class="login-footer">
                {% translate 'Already have an account?' %} <a href="{% url 'users:login' %}">{% translate 'Log in' %}</a>
            </div>
        {% endif %}

    {% endif %}

{% else %}

    <p>{% translate 'It seems that your invitation is no longer valid. Ask a friend to provide a new link.' %}</p>

{% endif %}
</div>

{% endblock %}
