{% extends 'users/users_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    {% if validlink %}
    <div>
        <h3>{% blocktranslate with user=form.user.username %}Change password for <b>{{ user }}</b>{% endblocktranslate %} </h3>
        <form method="post" class="login-form" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'core/includes/form_errors.html' %}
            {% for field in form %}{{ field|as_crispy_field }}{% endfor %}
            <button type="submit" class="btn-primary">{% translate 'Change Password' %}</button>
        </form>
    </div>

    {% else %}

    <div>
        <h3 >{% translate 'Reset your password' %}</h3>
        <div class="alert alert-danger" role="alert">{% translate 'It looks like you clicked on an invalid password reset link. Please try again.' %}</div>
        <a href="{% url 'users:password_reset' %}" class="btn-secondary">{% translate 'Request a new password reset link' %}</a>
    </div>
    {% endif %}

{% endblock %}
