{% extends 'users/users_base.html' %}

{% block content %}
<div class="card my-auto">
    <div class="card-body">
        {% if validlink %}

        <h3 class="card-title">Change password for <b>{{ form.user.username }}</b></h3>
        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'core/includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-sm">Change Password</button>
        </form>

        {% else %}

            <h3 class="card-title">Reset your password</h3>
            <div class="alert alert-danger" role="alert">
                It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'users:password_reset' %}" class="btn btn-secondary btn-sm">Request a new password reset link</a>

        {% endif %}
    </div>
</div>
{% endblock %}
