{% extends 'base.html' %}

{% block head %}{% endblock head %}

{% block content %}

<div class="row my-2 mx-0">
    <div class="col text-center bg-light"><h6 class="pt-1 pb-2">Settings</h6></div>
</div>

<div class="row my-2">
    <div class="col" id="user_list">
        <h6 class="pb-2">Users</h6>
        {{ users }}
    </div>

    <div class="col">
        <h6 class="pb-2">Nebūtinos išlaidos</h6>
        <div id="unnecessary_ajax">{{ unnecessary }}</div>
    </div>
</div>

<script>
    $(function () {
        var saveForm1 = function (event) {
            var form = $('.js_unnecessary_form');
            var action = form.attr("data-action");
            var ajax_update_container = form.attr('data-update-container')

            $.ajax({
                url: form.attr("action"),
                data: new FormData($('.js-form')[0]), // The form with the file inputs.
                processData: false,
                contentType: false,
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    $(`#${ajax_update_container}`).html(data.html_form);
                }
            });
            return false;
        };

        /* Binding */
        $(document).on('click', '#unnecessary_submit', saveForm1);
    });

</script>
{% endblock content %}
