{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block head %}{% endblock head %}

{% block content %}


<main class="settings-grid">
    <div>
        <div class="users-title">
            <p>{% translate 'Journal settings' %}</p>
        </div>
        <div>{{ settings_journal|safe }}</div>
    </div>

    <div>
        <div class="users-title">
            <p>{% translate 'Users'%}</p>
            <button class="button-active js-invite" hx-get="{% url 'users:invite' %}" hx-target="#mainModal">{% translate 'Send invite link' %}</button>
        </div>
        <div hx-get="{% url 'users:settings_users' %}" hx-trigger="delete_user from:body">{{ users|safe }}</div>
    </div>

    <div>
        <div class="users-title">
            <p>{% translate 'Unneccessary expenses' %}</p>
        </div>
        <div>{{settings_unnecessary|safe}}</div>
    </div>
</main>

{% endblock content %}
