{% extends 'base.html' %}

{% block head %}{% endblock head %}

{% block content %}

<div class="row my-2 mx-0">
    <div class="col text-center bg-light"><h6 class="pt-1 pb-2">Settings</h6></div>
</div>

<div class="row my-2">
    <div class="col" id="user_list">
        <div class="row">
            <div class="col"><h6 class="pb-2">Users</h6></div>
            <div class="col text-end"><a role="button" class="btn btn-sm btn-primary js-invite" data-url="{% url 'users:invite' %}">Sent invite link</a></div>
        </div>
        {{ users }}
    </div>

    <div class="col">
        <h6 class="pb-2">Nebūtinos išlaidos</h6>
        <div id="unnecessary_ajax">{{ unnecessary }}</div>
    </div>
</div>

<script>
    $(function () {
        var unnecesaryForm = function (event) {
            var form = $('.js_unnecessary_form');
            var ajax_update_container = 'unnecessary_ajax'

            $.ajax({
                url: "{% url 'users:settings_unnecessary' %}",
                data: new FormData($('.js_unnecessary_form')[0]), // The form with the file inputs.
                processData: false,
                contentType: false,
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    $(`#${ajax_update_container}`).html(data.html_form);
                }
            });
            return false;
        };

        /* Binding */
        $(document).on('click', '#unnecessary_submit', unnecesaryForm);
    });

</script>
{% endblock content %}
