{% load humanize %}
{% load i18n %}
{% load slippers %}

{% if object_list %}

{% var target=request.resolver_match.kwargs.debt_type %}

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="w5 text-start">{% translate 'Date' %}</th>
            <th class="w8 text-start">
                {% if target == 'lend' %}{% translate 'Borrower' %}{% endif %}
                {% if target == 'borrow' %}{% translate 'Lender' %}{% endif %}
            </th>
            <th class="w5 text-start">{% translate 'Sum' %}</th>
            <th class="w5 text-start">{% translate 'Returned' %}</th>
            <th class="w10 text-start">{% translate 'Account' %}</th>
            <th class="text-start">{% translate 'Remark' %}</th>
            <th class="text-center w3">{% translate 'Closed' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'debts:update' target object.id as url_update %}
        {% url 'debts:delete' target object.id as url_delete %}
        <tr hx-get="{{url_update}}" hx-trigger="dblclick" hx-target="#dialog">
            <td class="text-start">{{ object.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ object.name }}</td>
            <td class="text-start">{{ object.price|intcomma }}</td>
            <td class="text-start">{{ object.returned|intcomma }}</td>
            <td class="text-start">{{ object.account }}</td>
            <td class="text-start">{{ object.remark }}</td>
            <td class="text-center">{% if object.closed %}<i class="bi bi-check-circle-fill"></i>{% endif %}</td>
            {% edit_cell url=url_update target=target %}
            {% delete_cell url=url_delete target=target %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
