{% load humanize %}
{% load i18n %}
{% load math %}
{% load cell_format %}

{% if object_list %}

{% with request.resolver_match.kwargs.debt_type as target %}

<table class="main striped hover">
    <thead>
        <tr>
            <th class="w5 text-center">{% translate 'Date' %}</th>
            <th class="w10 text-start cell-padding">
                {% if target == 'lend' %}{% translate 'Borrower' %}{% endif %}
                {% if target == 'borrow' %}{% translate 'Lender' %}{% endif %}
            </th>
            <th class="w10 cell-padding">{% translate 'Sum' %}</th>
            <th class="w10 text-start cell-padding">{% translate 'Account' %}</th>
            <th class="text-start">{% translate 'Remark' %}</th>
            <th class="text-center w3">{% translate 'Closed' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'debts:return_update' target object.id as url_update %}
        {% url 'debts:return_delete' target object.id as url_delete %}
        <tr hx-get="{{url_update}}" hx-trigger="dblclick" hx-target="#dialog" class="{% ifchanged object.debt.name or ifchanged object.debt.closed %}{% if not forloop.first %}table-group-divider{% endif %}{% endifchanged %}">
            <td class="text-center">{{ object.date|date:"Y-m-d" }}</td>
            <td class="text-start cell-padding">{{ object.debt.name }}</td>
            <td class="text-endcell-padding">{{object.price|price|cellformat}}</td>
            <td class="text-start cell-padding">{{ object.account }}</td>
            <td class="text-start">{{ object.remark }}</td>
            <td class="text-center">{% if object.debt.closed %}<i class="bi bi-check-circle-fill"></i>{% endif %}</td>
            {% if not object.debt.closed %}
                {% include "core/includes/cell_edit.html" with url=url_update %}
                {% include "core/includes/cell_delete.html" with url=url_delete %}
            {% else %}
                <td class="edit-cell"></td>
                <td class="delete-cell"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endwith %}
{% else %}

<div class="alert alert-warning">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
