{% load humanize %}
{% load i18n %}
{% load math %}
{% load cell_format %}


{% if object_list %}

{% with request.resolver_match.kwargs.debt_type as target %}

<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-center">{% translate 'Date' %}</th>
            <th class="text-left cell-padding">
                {% if target == 'lend' %}{% translate 'Borrower' %}{% endif %}
                {% if target == 'borrow' %}{% translate 'Lender' %}{% endif %}
            </th>
            <th class="price-col cell-padding">{% translate 'Sum' %}</th>
            <th class="price-col cell-padding">{% translate 'Returned' %}</th>
            <th class="text-left cell-padding">{% translate 'Account' %}</th>
            <th class="text-left">{% translate 'Remark' %}</th>
            <th class="price-col text-center">{% translate 'Closed' %}</th>
            <th class="edit-col"></th>
            <th class="delete-col"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'debts:update' target object.id as url_update %}
        {% url 'debts:delete' target object.id as url_delete %}
        <tr hx-get="{{url_update}}" hx-trigger="dblclick" hx-target="#mainModal">
            <td class="text-center">{{object.date|date:"Y-m-d"}}</td>
            <td class="text-left cell-padding">{{object.name}}</td>
            <td class="cell-padding">{{object.price|price|cellformat}}</td>
            <td class="cell-padding">
                <span {% if not object.closed %} class="tip right w100" data-tip="{% translate 'Remains to be returned' %}:  {{object.price|sub:object.returned|price|floatformat:'2g'}}"{% endif %}>
                {{object.returned|price|floatformat:"2g"}}
                </span>
            </td>
            <td class="text-left cell-padding">{{ object.account }}</td>
            <td class="text-left">{{ object.remark }}</td>
            <td class="text-center">{% if object.closed %}<i class="bi bi-check-circle-fill"></i>{% endif %}</td>
            <c-td-edit :url=url_update />
            <c-td-delete :url=url_delete />
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endwith %}
{% else %}

<div class="alert alert-warning">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
