{% load humanize %}
{% load i18n %}
{% load slippers %}

{% if object_list %}

{% var target=request.resolver_match.kwargs.debt_type %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th class="w5">{% translate 'Date' %}</th>
            <th class="w8">
                {% if target == 'lend' %}{% translate 'Borrower' %}{% endif %}
                {% if target == 'borrow' %}{% translate 'Lender' %}{% endif %}
            </th>
            <th class="w10">{% translate 'Sum' %}</th>
            <th class="w10">{% translate 'Account' %}</th>
            <th>{% translate 'Remark' %}</th>
            <th class="text-center w3">{% translate 'Closed' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'debts:return_update' target object.id as url_update %}
        {% url 'debts:return_delete' target object.id as url_delete %}
        <tr data-url="" class="dblclick" {% ifchanged object.debt.name or ifchanged object.debt.closed %}{% if not forloop.first %}style="border-top: 5px #c0c0c0 solid;"{% endif %}{% endifchanged %}>
            <td class="text-start">{{ object.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ object.debt.name }}</td>
            <td class="text-start">{{ object.price|intcomma }}</td>
            <td class="text-start">{{ object.account }}</td>
            <td class="text-start">{{ object.remark }}</td>
            <td class="text-center">{% if object.debt.closed %}<i class="bi bi-check-circle-fill"></i>{% endif %}</td>
            {% if not object.debt.closed %}
            {% edit_cell url=url_update target=target %}
            {% delete_cell url=url_delete target=target %}
            {% else %}
            <td colspan="2"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
