{% extends 'base.html' %}

{% load i18n %}

{% block head %}{% endblock head %}


{% block content %}


<main id="debts-grid" class="rows">
    <!-- Borrow -->
    <div id="borrow-container">
        <div class="button-row">
            <h6>{% translate 'Borrow' %}</h6>
            <button type="button" class="button-outline-success flex-right" hx-get="{% url 'debts:new' 'borrow' %}" hx-target="#mainModal"><i class="bi bi-plus"></i>{% translate "Debt" context "debt button" %}</button>
        </div>

        <div id="borrow" hx-trigger="after_borrow from:body, after_borrow_return from:body" hx-get="{% url 'debts:list' 'borrow' %}" hx-target="this">{{borrow}}</div>
    </div>

    <!-- Lend -->
    <div id="lend-container">
        <div class="button-row">
            <h6>{% translate 'Lend' %}</h6>
            <button type="button" class="button-outline-success flex-right" hx-get="{% url 'debts:new' 'lend' %}" hx-target="#mainModal"><i class="bi bi-plus"></i>{% translate "Debt" context "debt button" %}</button>
        </div>

        <div id="lend" hx-trigger="after_lend from:body, after_lend_return from:body" hx-get="{% url 'debts:list' 'lend' %}" hx-target="this">{{lend}}</div>
    </div>

    <!-- Borrow Return -->
    <div id="borrow-return-container">
        <div class="button-row">
            <h6>{% translate 'Borrow return' %}</h6>
            <button type="button" class="button-outline-success flex-right" hx-get="{% url 'debts:return_new' 'borrow' %}" hx-target="#mainModal"><i class="bi bi-plus"></i>{% translate "Sum" context "sum button" %}</button>
        </div>

        <div id="borrow_return" hx-trigger="after_borrow from:body, after_borrow_return from:body" hx-get="{% url 'debts:return_list' 'borrow' %}" hx-target="this">{{borrow_return}}</div>
    </div>

    <!-- Lend Return -->
    <div id="lend-return-container">
        <div class="button-row">
            <h6>{% translate 'Lend return' %}</h6>
            <button type="button" class="button-outline-success flex-right" hx-get="{% url 'debts:return_new' 'lend' %}" hx-target="#mainModal"><i class="bi bi-plus"></i>{% translate "Sum" context "sum button" %}</button>
        </div>

        <div id="lend_return" hx-trigger="after_lend from:body, after_lend_return from:body" hx-get="{% url 'debts:return_list' 'lend' %}" hx-target="this">{{lend_return}}</div>
    </div>
</main>

{% endblock content %}
