{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/reload_stats.js' %}"></script>
{% endblock head %}


{% block content %}
<div class="row gx-2">
    <!-- Borrow -->
    <div class="col-sm-12 col-lg-6">
        <div class="row py-2">
            <div class="col"><h6>{% translate 'Borrow' %}</h6></div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" data-url="{% url 'debts:new' 'borrow' %}" data-target="borrow"><i class="bi bi-plus"></i>{% translate "Debt" context "debt button" %}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" id="borrow">{{ borrow }}</div>
        </div>
    </div>

    <!-- Debt -->
    <div class="col-sm-12 col-lg-6">
        <div class="row py-2">
            <div class="col">
                <h6>{% translate 'Lend' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" data-url="{% url 'debts:new' 'lend' %}" data-target="lend"><i class="bi bi-plus"></i>{% translate "Debt" context "debt button" %}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" id="lend">{{ lend }}</div>
        </div>
    </div>
</div>

<div class="row gx-2">
    <!-- Borrow Return -->
    <div class="col-sm-12 col-lg-6">
        <div class="row py-2">
            <div class="col">
                <h6>{% translate 'Borrow return' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" data-url="{% url 'debts:return_new' 'borrow' %}" data-target="borrow"><i class="bi bi-plus"></i>{% translate "Sum" context "sum button" %}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" id="borrow_return">{{ borrow_return }}</div>
        </div>
    </div>

    <!-- Debt Return -->
    <div class="col-sm-12 col-lg-6">
        <div class="row py-2">
            <div class="col">
                <h6>{% translate 'Lend return' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" data-url="{% url 'debts:return_new' 'lend' %}" data-target="lend"><i class="bi bi-plus"></i>{% translate "Sum" context "sum button" %}</button>
            </div>
        </div>

        <div class="row">
            <div class="col" id="lend_return">{{ lend_return }}</div>
        </div>
    </div>
</div>

<script>
    var setTarget = function() {
        var target =  $(this).attr("data-target");
        $("#modal-form").attr("data-target", target)
    }
    $(document).on('click', '.set-target', setTarget);

    $(document).on('hidden.bs.modal', '#modal-form', function () {
        var target = $("#modal-form").attr("data-target");
        var url = `{% url 'debts:index' %}`;
        var blocks = [];


        if (target == 'borrow') {
            url = `{% url 'debts:debts_reload' 'borrow' %}`;
            blocks.push("borrow", "borrow_return");
        }

        if (target == 'lend') {
            url = `{% url 'debts:debts_reload' 'lend' %}`;
            blocks.push("lend", "lend_return");
        }

        $.ajax({
            url: url,
            data: {
                'ajax_trigger': '1',
            },
            success: function (data) {
                reload_stats(data, blocks);
            }
        });
    });
</script>

{% endblock content %}
