.alert {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: .5rem 0;
    margin-bottom: $gap;
    text-align: center;
}

.alert.alert-success {
    border-color: $positive-border;
    background-color: $positive-bg;
    color: $positive-text;
}

.alert.alert-warning {
    border-color: $warning-border;
    background-color: $warning-bg;
    color: $warning-text-clr;
}

.alert.alert-danger {
    border-color: $danger-border;
    background-color: $danger-bg;
    color: $danger-text-clr;
}