.button-active {
    @include button();
    color: $active;
    background-color: $active-bg;
    border-color: $active-border;

    
    &:hover {
        background-color: darken($active-bg, 10%);
        border-color: darken($active-border, 10%)
    }

    &:focus,
    &:focus-within,
    &:active {
        outline: 0;
        box-shadow:
            inset 0 1px 2px rgba($black, .075),
            0 0 0 0.15rem rgba($black, 0.1);
    }
}


.button-secondary {
    @include button();
    background-color: lighten($active-bg, 40%);
    border-color: lighten($active-border, 30%);

    &:hover {
        background-color: lighten($active-bg, 30%);
        border-color: lighten($active-border, 20%);
    }

    &:focus,
    &:focus-within,
    &:active {
        outline: 0;
        box-shadow:
            inset 0 1px 2px rgba($black, .075),
            0 0 0 0.15rem rgba($black, 0.1);
    }
}


.button-outline-success {
    @include button();
    color: $positive;
    background-color: #fff;
    border-color: $positive;

    &:hover {
        color: #fff;
        background-color: $positive;
        border-color: darken($positive, 10%);
    }

    &:focus,
    &:focus-within,
    &:active {
        outline: 0;
        box-shadow:
            inset 0 1px 2px rgba($positive, .075),
            0 0 0 0.15rem rgba($positive, 0.1);
    }

    &::before {
        font-family: 'Glyphicons Halflings';
        content: "\2b";
        font-size: .5rem;
    }

    &.plans-copy::before {
        font-family: 'Glyphicons Halflings';
        content:"\e205";
        font-size: .75rem;
    }
}


.button-danger {
    @include button();
    color: #fff;
    background-color: $negative;
    border-color: darken($negative, 10%);

    &:hover {
        background-color: darken($negative, 15%);
        border-color: darken($negative, 25%);
    }

    &:focus,
    &:focus-within,
    &:active {
        outline: 0;
        box-shadow:
            inset 0 1px 2px rgba($black, .075),
            0 0 0 0.15rem rgba($negative, 0.17) !important;
    }
}


.button-xs {
    padding: 0 .5rem;
}


.button-refresh::before {
    font-family: 'Glyphicons Halflings';
    content:"\e031";
}


.main thead th {
    :has(.button-refresh) {
        font-weight: 50;
    }
}


.transparent {
    background-color: transparent !important;
}