#main {
    display: grid;
    gap: $gap;
    grid-auto-columns: 1fr;
    grid-template-areas:
        'table-balance table-balance'
        'table-expenses table-expenses'
        'chart-expenses chart-expenses'
        'chart-balance chart-balance'
        'buttons buttons'
        'accounts accounts'
        'balance-short wealth'
        'no-incomes avg-incomes'
        'no-incomes borrow'
        'no-incomes lend'
        'savings savings'
        'pensions pensions';
}


#main > #table-balance {
    grid-area: table-balance;
}

#main > #table-expenses {
    grid-area: table-expenses;
}

#main > #chart-expenses-container {
    grid-area: chart-expenses;
}

#main > #chart-balance-container {
    grid-area: chart-balance;
}

#main > #buttons {
    grid-area: buttons;
}

#main > #accounts {
    grid-area: accounts;
}


#main > #balance-short {
    grid-area: balance-short;
}

#main > #wealth {
    grid-area: wealth;
}

#main > #no-incomes {
    grid-area: no-incomes;
}

#main > #avg-incomes {
    grid-area: avg-incomes;
}

#main > #borrow {
    grid-area: borrow;
}

#main > #lend {
    grid-area: lend;
}

#main > #savings {
    grid-area: savings;
}

#main > #pensions {
    grid-area: pensions;
}

#one-column {
    display: grid;
    gap: $gap;
}

#two-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap;

    > div {
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: min-content;
        gap: $gap;
    }

    > div#month-chart-and-info-table {
        align-content: space-between;
    }
}


@media only screen and (min-width: 992px) {
    #main {
        grid-template-columns: repeat(2, 20%) repeat(4, 1fr);
        grid-template-areas:
        "table-balance table-balance table-expenses table-expenses table-expenses table-expenses"
        "chart-expenses chart-expenses chart-balance chart-balance chart-balance chart-balance"
        "buttons buttons buttons buttons buttons buttons"
        "accounts accounts accounts balance-short balance-short wealth"
        "accounts accounts accounts no-incomes no-incomes avg-incomes"
        "accounts accounts accounts no-incomes no-incomes borrow"
        "accounts accounts accounts no-incomes no-incomes lend"
        "savings savings savings savings savings savings"
        "pensions pensions pensions pensions pensions pensions";
    }

    #two-columns {
        grid-template-columns: 2fr 1fr;
    }
}

