// Main grid
#main-grid {
    display: grid;
    gap: $gap;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "table-balance"
        "table-expenses"
        "chart-expenses"
        "chart-balance"
        "buttons"
        "accounts-info"
        "savings"
        "pensions";

    > #accounts-info {
        grid-area: accounts-info;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: $gap;
        grid-template-areas:
            "accounts       accounts"
            "balance-short  wealth"
            "no-incomes     avg-incomes"
            "no-incomes     borrow"
            "no-incomes     lend"
        ;
    }

    #table-balance {
        grid-area: table-balance;
    }

    #table-expenses {
        grid-area: table-expenses;
    }

    #chart-expenses-container {
        grid-area: chart-expenses;
    }

    #chart-balance-container {
        grid-area: chart-balance;
    }

    #buttons {
        grid-area: buttons;
    }

    #accounts {
        grid-area: accounts;
    }

    #balance-short {
        grid-area: balance-short;
    }

    #wealth {
        grid-area: wealth;
    }

    #no-incomes {
        grid-area: no-incomes;
    }

    #avg-incomes {
        grid-area: avg-incomes;
    }

    #borrow {
        grid-area: borrow;
    }

    #lend {
        grid-area: lend;
    }

    #savings {
        grid-area: savings;
    }

    #pensions {
        grid-area: pensions;
    }
}


// Debts grid
#debts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap;
    grid-template-areas:
        "lend-container"
        "lend-return-container"
        "borrow-container"
        "borrow-return-container"
    ;

    .flex {
        margin-bottom: $gap;
    }

    #lend-container {
        grid-area: lend-container;
    }

    #lend-return-container {
        grid-area: lend-return-container;
    }

    #borrow-container {
        grid-area: borrow-container;
    }

    #borrow-return-container {
        grid-area: borrow-return-container;
    }
}


// One column
#grid-100 {
    display: grid;
    column-gap: $gap;
    row-gap: calc($gap * 2);
}

// Two equal columns
.grid-50-50 {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap;
}

// Two columns: two thirds and one third
.grid-66-33 {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap;

    > div {
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: min-content;
        gap: $gap;
    }

    > div#month-chart-and-info-table {
        align-content: space-between;
    }
}

// Media queries for screens larger than 992px
@media only screen and (min-width: 992px) {
    #main-grid {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "table-balance   table-expenses"
            "chart-expenses  chart-balance"
            "buttons         buttons"
            "accounts-info   accounts-info"
            "savings         savings"
            "pensions        pensions"
        ;

        > #accounts-info {
            grid-template-columns: 4fr 2fr 1fr;
            grid-template-areas:
                "accounts  balance-short  wealth"
                "accounts  no-incomes     avg-incomes"
                "accounts  no-incomes     borrow"
                "accounts  no-incomes     lend"
            ;
        }
    }

    #debts-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "borrow-container          lend-container"
            "borrow-return-container   lend-return-container"
        ;
    }

    .grid-66-33 {
        grid-template-columns: 2fr 1fr;
    }

    .grid-50-50 {
        grid-template-columns: repeat(2, 1fr);
    }
}

