.info-row {
    display: flex;
    align-items: center;

    > * {
        flex: 1;
    }

    > *:nth-child(2) {
        flex-grow: 2;
    }

    > *:last-child {
        text-align: right;
    }
}

.info-row-text {
    display: flex;
    gap: $gap;
    justify-content: center;
}

.info-row-text ::after {
    content: attr(data-info-row);
    font-weight: 400;
    font-size: 2em;
    margin-left: 0.25rem;
    margin-bottom: auto;
    vertical-align: -12.5%;
}