nav#main-nav {
    @include shadow;

    --border-radius: 0;

    background-color: $nav-bg;
    margin-bottom: $gap;

    a {
        text-decoration: none;
    }

    a, a:visited, li {
        color: $black;
    }

    > ul {
        display: flex;
        gap: calc($gap / 2) $gap;
        flex-wrap: wrap;

        > li {
            padding: 0.5rem 0.4rem;
            border-bottom: 3px solid transparent;

            &:hover, &:hover > a,
            &:focus, &:focus > a {
                transition: $transition;
                border-bottom-color: $active;
                color: $active;
            }

            &:not(:has(a)):hover{
                border-bottom-color: transparent;
                color: $black;
            }
        }

        > li:last-child {
            margin-left: auto;
        }

        > li.active {
            border-bottom: 3px solid $active;
        }
    }

    .dropdown {
        position: relative;

        &:hover,
        &:focus-within {
            .dropdown__menu {
                opacity: 1;
                transform: rotateX(0) translateX(0);
                visibility: visible;
            }
        }

        &:hover .dropdown__title::after,
        &:focus .dropdown__title::after {
            border-top-color: $active;
        }

        .dropdown__menu {
            --delay: 0.75s;

            @include shadow;
            position: absolute;
            top: calc(100% + 0.15rem);
            left: 0;
            padding: 0.25rem 0;
            margin: 0;
            min-width: max-content;
            background-color: white;
            z-index: 100;

            transform: rotateX(-90deg) translateX(0);
            transform-origin: top center;
            opacity: 0.3;
            transition: $transition;

            &.left {
                right: 0;
                left: auto;
            }

            > li {
                cursor: pointer;
                display: block;
                padding: 0.25rem 1.75rem 0.25rem 0.75rem;
            }

            > li:hover {
                background-color: lighten($active, 25%);
            }

            > li.dropdown-divider {
                background-color: rgb($black, .175);
                min-height: 1px;
                padding: 0;
            }
        }

        .dropdown__title {
            display: inline-flex;
            align-items: center;

            &:after {
                content: "";
                border: 0.2rem solid transparent;
                border-top-color: rgb($black, .75);
                margin-left: 0.35rem;
                transform: translateY(0.15em);
            }
        }
    }
}


nav#drinks-nav {
    margin-bottom: $gap;

    > ul {
        display: flex;
        gap: calc($gap / 3);

        a {
            text-decoration: none;
        }

        a, a:visited, li {
            color: $black;
        }
    }

    .dropdown {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        &:hover,
        &:focus-within {
            .dropdown__menu {
                opacity: 1;
                transform: rotateX(0) translateX(0);
                visibility: visible;
            }
        }

        .dropdown__menu {
            --delay: 0.75s;

            @include shadow;
            position: absolute;
            top: calc(100% + 0.15rem);
            left: 0;
            padding: 0.25rem 0;
            margin: 0;
            min-width: max-content;
            background-color: white;
            z-index: 100;

            transform: rotateX(-90deg) translateX(0);
            transform-origin: top center;
            opacity: 0.3;
            transition: $transition;

            &.left {
                right: 0;
                left: auto;
            }

            > li {
                cursor: pointer;
                display: block;
                padding: 0.25rem 1.75rem 0.25rem 0.75rem;
            }

            > li:hover {
                background-color: lighten($active, 25%);
            }
        }

        .dropdown__title {
            display: inline-flex;
            align-items: center;

            &:after {
                content: "";
                border: 0.2rem solid transparent;
                border-top-color: rgb($black, .75);
                margin-left: 0.35rem;
                transform: translateY(0.15em);
            }
        }
    }
}
