.pagination {
    display: flex;
    justify-content: center;
    margin: $gap 0;
    column-gap: $gap;

    a,
    li:not(:has(a)) {
        border-bottom: 3px solid transparent;
        padding: 0 .5rem;
    }

    a {
        &:hover, &:focus {
            color: $primary;
            border-bottom-color: $primary;
        }
    }

    li {
        font-size: .85rem;

        > * {
            padding-bottom: .25rem;
        }

        &.active {
            color: $primary;
            border-bottom: 3px solid $primary;
        }

        &.disabled {
            color: #cecece;
        }
    }
}