:root {
    --primary: #{$primary};
    --secondary: #{$secondary};

    --positive-bg: #{$positive-bg};
    --positive-text: #{$positive-text};

    --negative-bg: #{$negative-bg};
    --negative-text: #{$negative-text};

    --chart-negative: #{$chart-negative};
    --chart-negative-dark: #{darken($chart-negative, 15%)};
    --chart-negative-super-dark: #{darken($chart-negative, 35%)};

    --chart-positive: #{$chart-positive};
    --chart-positive-dark: #{darken($chart-positive, 15%)};
    --chart-positive-super-dark: #{darken($chart-positive, 35%)};

    --warning-text: #{$warning-text};
    --chart-warning: #{$chart-warning};
    --chart-warning-dark: #{darken($chart-warning, 15%)};
    --chart-warning-super-dark: #{darken($chart-warning, 35%)};

    --chart-color-0: #7cb5ec;
    --chart-color-1: #f7a35c;
    --chart-color-2: #90ee7e;
    --chart-color-3: #7798bf;
    --chart-color-4: #aaeeee;
    --chart-color-5: #ff0066;
    --chart-color-6: #eeaaee;
    --chart-color-7: #55bf3b;
    --chart-color-8: #df5353;
    --chart-color-9: #7798bf;

    @include gradient-tint($primary, "primary-tint");
    @include gradient-alpha($primary, "primary-alpha");

}