#search-form {
    display: flex;
    gap: calc($gap / 3);

    > button {
        align-self: flex-end;
    }
}


#incomes-search-form {
    display: flex;
    gap: calc($gap / 3);

    > * {
        flex: 1;
    }

    > button {
        max-width: max-content;
    }
}