.tip {
    display: inline-block;
    position: relative;
    font-style: normal;
    transition: all .25s ease-in-out;
}

.tip:before {
    content: attr(data-tip);
    position: absolute;
    background: rgba(10, 20, 30, 0.85);
    color: #fff;
    line-height: 1.1em;
    padding: 0.3rem 0.75rem 0.55rem 0.75rem;
    font-style: normal;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 300;
    font-size: small;
    white-space: pre-wrap;
    min-width: max-content;
    box-sizing: border-box;
    border-radius: 3px;
}

.tip:after {
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.tip:hover:before,
.tip:hover:after {
    visibility: visible;
    opacity: 1;
}

/*top*/
.tip.top:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 8px;
    transform: translateX(-50%);
}

.tip.top:after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px 8px 0 8px;
    border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
}

/*bottom*/
.tip.bottom:before {
    top: 100%;
    left: 50%;
    margin-top: 8px;
    transform: translateX(-50%);
}

.tip.bottom:after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent rgba(10, 20, 30, 0.85) transparent;
}

/*left*/
.tip.left:before {
    right: 100%;
    top: 50%;
    margin-right: 8px;
    transform: translateY(-50%);
}

.tip.left:after {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent rgba(10, 20, 30, 0.85);
}

/*right*/
.tip.right:before {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateY(-50%);
}

.tip.right:after {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 8px 8px 8px 0;
    border-color: transparent rgba(10, 20, 30, 0.85) transparent transparent;
}