.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: calc($gap / 3);

    > .flex-right {
        margin-left: auto;
        background-color: red;
    }
}

.no-hover,
.no-hover:hover {
    text-decoration: none !important;
    border: 0 !important;
}

.table-responsive {
    overflow-x: auto;
}