$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


$font-size: 0.7rem;
$gap: 0.75rem;

$transition: 280ms all var(--delay) ease-out;
$accordion-transition: all 0.25s ease-in-out;


$text-muted: #333;


// $primary: #fd8a3d;
$primary: rgb(170, 60, 249);
// $primary: #f492f0;
// $primary: #f1700d;
$secondary: darken($primary, 10%);
$secondary: #5e429c;

$primary-light: lighten($primary, 37%);
$secondary-light: lighten($primary, 35%);

$black:   black;
$disabled: #E9ECEF;

$modal-border-radius: 0.25rem;

$nav-bg: rgba(248, 249, 250, 1);

$table-thead: $primary-light;
$table-thead-text: #333;

// $table-current-day: #fff2cc;
$table-current-day: $primary-light;
$table-current-day-font-color: $black;
$table-current-day-border-color: $primary;

$table-weekend: #e5e4e4;
$table-weekend-color: $text-muted;

$table-hover-bg: $secondary-light;


// Negative colors
$negative: #db606d;
$negative-bg: #fedbd9;
$negative-full-bg: #ff6e67;
$negative-text: #58151c;
$negative-border: #f1aeb5;


// Warning colors
$warning-text: #664d03;
$warning-bg: #fff3cd;
$warning-border: #ffe69c;


// Positive colors
$positive-bg: #e0f2e3;
$positive-text: #0a3622;
$positive-border: #a3cfad;


// Chart colors
$chart-positive: darken($positive-bg, 15%);
$chart-negative: darken($negative-bg, 15%);
$chart-neutral: darken($warning-bg, 5%);
