$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$table-thead: #f5ebd7;

$nav-bg: rgba(248, 249, 250, 1);
$active: rgb(250, 124, 145, 1);


$font-size: 0.7rem;
$gap: 0.75rem;

$transition: 280ms all var(--delay) ease-out;
$accordion-transition: all 0.25s ease-in-out;

$success: #28a745;
$success-text-clr: #0a3622;
$success-bg: #d1e7dd;
$success-border: #a3cfbb;

$warning: #ffc107;
$warning-text-clr: #664d03;
$warning-bg: #fff3cd;
$warning-border: #ffe69c;

$danger: #dc3545;
$danger-text-clr: #58151c;
$danger-bg: #f8d7da;
$danger-border: #f1aeb5;


$day-danger: rgb(254, 83, 106);

$hover-bg: rgba(161, 160, 160, 0.25);

// $black:   #585858;
$black:   black;
$primary: #0d6efd;
$disabled: #E9ECEF;

$modal-border-radius: 0.25rem;


$chart-positive: #C1E1A6;
$chart-negative: #ff8e8e;
$chart-neutral: #ffe597;

$chart-color-0: #7cb5ec;
$chart-color-1: #f7a35c;
$chart-color-2: #90ee7e;
$chart-color-3: #7798BF;
$chart-color-4: #aaeeee;
$chart-color-5: #ff0066;
$chart-color-6: #eeaaee;
$chart-color-7: #55BF3B;
$chart-color-8: #DF5353;
$chart-color-9: #7798BF;
$chart-color-10: #aaeeee;