{% load i18n %}
{% load slippers %}


{% if object_list %}

<table class="striped hover">
    <thead>
        <tr>
            <th class="text-start">{% translate 'User' %}</th>
            <th class="text-start">{% translate 'Email' %}</th>
            <th class="text-center">{% translate 'Admin' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        {% url 'users:settings_users_delete' item.id as url_delete %}
        <tr>
            <td class="text-start">{{ item.username }}</td>
            <td class="text-start">{{ item.email }}</td>
            <td class="text-center">{% if item.is_superuser %}<i class="bi bi-check-circle" style="color: #198754;"></i>{% else %}<i class="bi bi-dash-circle-fill" style="color: #dc3545;"></i>{% endif %}</td>
            {% delete_cell url=url_delete %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="alert alert-warning">{% translate 'There are no additional users.' %}</div>

{% endif %}
