{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>User</th>
            <th>Email</th>
            <th class="text-center">Admin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'users:settings_users_delete' item.id as url_delete %}
        <tr>
            <td class="text-start">{{ item.username }}</td>
            <td class="text-start">{{ item.email }}</td>
            <td class="text-center">{% if item.is_superuser %}<i class="bi bi-check-circle" style="color: #198754;"></i>{% else %}<i class="bi bi-dash-circle-fill" style="color: #dc3545;"></i>{% endif %}</td>
            <td class="w-delete">
                <a role="button" data-url="{{ url_delete }}" class="js-delete trash" title="Delete"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    There are no additional users.
</div>

{% endif %}
