{% load i18n %}


{% if object_list %}

<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-left">{% translate 'User' %}</th>
            <th class="text-left">{% translate 'Email' %}</th>
            <th class="text-center">{% translate 'Admin' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        {% url 'users:settings_users_delete' item.id as url_delete %}
        <tr>
            <td class="text-left">{{ item.username }}</td>
            <td class="text-left">{{ item.email }}</td>
            <td class="text-center">{% if item.is_superuser %}<i class="bi bi-check-circle" style="color: var(--positive)"></i>{% else %}<i class="bi bi-dash-circle-fill" style="color: var(--negative)"></i>{% endif %}</td>
            <c-td-delete :url=url_delete />
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="alert alert-warning">{% translate 'There are no additional users.' %}</div>

{% endif %}
