{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/css-loader.css' %}">
{% endblock head %}


{% block content %}

<!-- Loader -->
<div class="htmx-indicator loader loader-default is-active" id="indicator"></div>

<div class="row gx-2">
    <div class="col-lg-8">
        <!-- transactions -->
        <div class="row my-2">
            <div class="col">
                <h6>{% translate 'Account &hArr; Account' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'transactions:new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Record' context 'record button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="transactions_list" class="col" hx-trigger="load, afterTransaction from:body, afterAccount from:body" hx-get="{% url 'transactions:list' %}" hx-target="this" hx-indicator="#indicator"></div>
        </div>

        <!-- close savings -->
        <div class="row my-2">
            <div class="col">
                <h6>{% translate 'Fund &rArr; Account' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'transactions:savings_close_new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Record' context 'record button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="savings_close_list" class="col" hx-trigger="load, afterClose from:body, afterAccount from:body" hx-get="{% url 'transactions:savings_close_list' %}" hx-target="this"></div>
        </div>

        <!-- change savings -->
        <div class="row my-2">
            <div class="col">
                <h6>{% translate 'Fund &hArr; Fund' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'transactions:savings_change_new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Record' context 'record button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="savings_change_list" class="col-lg-12" hx-trigger="load, afterChange from:body, afterAccount from:body" hx-get="{% url 'transactions:savings_change_list' %}" hx-target="this"></div>
        </div>
    </div>

    <!-- account list left side -->
    <div class="col-lg-4">
        <div class="row my-2">
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'accounts:new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Account' context 'account button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="account_list" class="col-lg-12" hx-trigger="load, afterAccount from:body" hx-get="{% url 'accounts:list' %}" hx-target="this"></div>
        </div>
    </div>
</div>

{% endblock content %}
