{% extends 'base.html' %}

{% block head %}
    {{ form.media }}
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock head %}


{% block content %}

<div class="col-8 pl-0">
    <!-- transactins between accounts -->
    <div class="row my-2">
        <div class="col-10">
            <h6>Sąskaita &hArr; Sąskaita</h6>
        </div>
        <div class="col-2 text-right">
            {% url 'transactions:transactions_new' as url_transactions %}
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_transactions }}"><i class="fas fa-plus"></i> Įrašą</button>
        </div>
    </div>
    <div class="row my-2">
        <div id="expenses_list" class="col dblclick">{{ transactions }}</div>
    </div>

    <!-- close savings -->
    <div class="row my-2">
        <div class="col-10">
            <h6>Fondas &rArr; Sąskaita</h6>
        </div>
        <div class="col-2 text-right">
            {% url 'transactions:savings_close_new' as url_savings_close %}
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_savings_close }}"><i
                    class="fas fa-plus"></i> Įrašą</button>
        </div>
    </div>
    <div class="row my-2">
        <div id="savings_close_list" class="col dblclick">{{ savings_close }}</div>
    </div>
</div>

<!-- left side -->
<div class="col-4 px-0">
    <div class="row my-2">
        <div class="col text-right">
            {% url 'accounts:accounts_new' as url_accounts %}
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_accounts }}"><i class="fas fa-plus"></i> Sąskaitą</button>
        </div>
    </div>
    <div id="ajax-content-categories" class="dblclick">{{ categories }}</div>
</div>

<!-- modal form -->
<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-md">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}
