{% extends 'base.html' %}{% load table %}

{% block head %}
    {{ form.media }}
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock head %}


{% block content %}

{% url 'transactions:transactions_new' as url_transactions %}
{% url 'accounts:accounts_new' as url_accounts %}
<div class="col-8 pl-0">
    <div class="row my-2">
        <div class="col text-right">
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_transactions }}"><i class="fas fa-plus"></i> Pervedimą</button>
        </div>
    </div>
    {% url 'transactions:transactions_update' item.id as url_update %}
    <div id="ajax-content" class="dblclick">{% table url_update %}</div>
</div>
<div class="col-4 px-0">
    <div class="row my-2">
        <div class="col text-right">
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_accounts }}"><i class="fas fa-plus"></i> Sąskaitą</button>
        </div>
    </div>
    <div id="ajax-content-categories" class="dblclick">{{ categories }}</div>
</div>

<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-md">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}
