{% extends 'base.html' %}
{% load static %}


{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock head %}


{% block content %}

<div class="row mt-2">
    <div class="col-lg-12" style="background-color: aliceblue;">
        {% url 'nights:nights_new' as url_nights %}
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_nights }}"><i class="fas fa-plus"></i> Pridėti</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-6" id="chart_weekdays">{{ chart_weekdays }}</div>
    <div class="col-lg-6" id="chart_months">{{ chart_months }}</div>
</div>

{% include 'modal.html' %}

{% endblock content %}
