{% load get_item %}
{% load define_action %}
{% load slippers %}
{% load i18n %}
{% load slippers %}

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-start">{% translate 'Title' %}</th>
            {% for month in months %}<th class="w7p">{{ month }}</th>{% endfor %}
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}

        {% if update %}{% url update item.id as url_update %}{% endif %}
        {% if delete %}{% url delete item.id as url_delete %}{% endif %}
        {% with item|get_obj_attr:type as name %}
        <tr hx-get="{{url_update}}" hx-target="#dialog" hx-trigger="dblclick" class="{% if name == _('Residual') %} bg-warning{% endif %}">
            <td class="text-start">{{ name }}{% if item.expense_type.necessary or item.saving_type or item.title %} <i class="bi bi-star plans-star"></i>{% endif %}</td>
            {% table_cell value=item.january %}
            {% table_cell value=item.february %}
            {% table_cell value=item.march %}
            {% table_cell value=item.april %}
            {% table_cell value=item.may %}
            {% table_cell value=item.june %}
            {% table_cell value=item.july %}
            {% table_cell value=item.august %}
            {% table_cell value=item.september %}
            {% table_cell value=item.october %}
            {% table_cell value=item.november %}
            {% table_cell value=item.december %}
            {% edit_cell url=url_update %}
            {% delete_cell url=url_delete %}
        </tr>{% endwith %}
        {% empty %}
        <tr class="table table-sm-warning text-center">
            <td colspan="13" class="py-2">
                {% blocktranslate with year=year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
