{% load get_item %}{% load define_action %}{% load table_cell %}
<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Pavadinimas</th>
            <th class="text-right" width="7.5%">Sausis</th>
            <th class="text-right" width="7.5%">Vasaris</th>
            <th class="text-right" width="7.5%">Kovas</th>
            <th class="text-right" width="7.5%">Balandis</th>
            <th class="text-right" width="7.5%">Gegužė</th>
            <th class="text-right" width="7.5%">Birželis</th>
            <th class="text-right" width="7.5%">Liepa</th>
            <th class="text-right" width="7.5%">Rugpjūtis</th>
            <th class="text-right" width="7.5%">Rugsėjis</th>
            <th class="text-right" width="7.5%">Spalis</th>
            <th class="text-right" width="7.5%">Lapkritis</th>
            <th class="text-right" width="7.5%">Gruodis</th>
            {% if url_delete %}<th></th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% if url_update %}{% url url_update item.id as url %}{% else %}{% define '' as url %}{% endif %}
        {% with item|get_obj_attr:type as name %}
        <tr data-url="{{ url }}" {% if name == 'Likutis' %}class="bg-warning"{% endif %}>
            <td class="text-left">{{ name }}{% if item.expense_type.necessary or item.saving_type or 'Būtin' in name or item.title %} <i class="far fa-star star"></i>{% endif %}</td>
            {% cell item.january %}
            {% cell item.february %}
            {% cell item.march %}
            {% cell item.april %}
            {% cell item.may %}
            {% cell item.june %}
            {% cell item.july %}
            {% cell item.august %}
            {% cell item.september %}
            {% cell item.october %}
            {% cell item.november %}
            {% cell item.december %}
            {% if url_delete %}<td>
                <button type="button" class="btn btn-sm btn-super-sm btn-danger js-delete" data-url="{% url url_delete item.id %}">Delete</button>
            </td>{% endif %}
        </tr>{% endwith %}
        {% empty %}
        <tr class="table-warning text-center">
            <td colspan="{% if url_delete %}14{% else %}13{% endif %}" class="py-2"><b>{{ year|title }}</b> metais įrašų nėra.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    .star {
        color: #e83e8c;
        padding-left: .5rem;
    }
    .btn-super-sm {
        line-height: 0.25rem!important;
        padding-top: 0.2rem!important;
        padding-bottom: 0.25rem!important;
        margin-top: 0!important;
        margin-bottom: .15rem!important;

    }
</style>
