{% extends 'base.html' %}
{% load buttons %}


{% block head %}
    {{ form.media }}
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock head %}


{% block content %}

{% url 'expenses:expenses_new' as url_expense_new %}
<div class="col-8 pl-0">
    <div class="row my-2">
        <div class="col text-right">
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expense_new }}">Add Expense</button>
        </div>
    </div>
    <div id="ajax-content">{% include 'expenses/includes/partial_expenses_list.html' %}</div>
</div>
<div class="col-4 px-0">
    <div class="row my-2">
        <div class="col text-right">
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="#">Add Expense Type</button>
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="#">Add Expense Name</button>
        </div>
    </div>
    <div id="ajax-content-categories">{% include 'expenses/includes/partial_expenses_type_list.html' %}</div>
</div>

<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-md">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}
