{% load i18n %}
{% load humanize %}
{% load slippers %}
{% load colorize %}
{% load math %}
{% load cell_format %}


{% if object_list %}

{% if sum_price %}
<div class="search-statistic alert alert-warning">
    <div><strong>{% translate 'How many' %}</strong>: {{sum_quantity|floatformat:"0g"}}</div>
    <div><strong>{% translate 'Price' %}</strong>: {{sum_price|price|cellformat}}</div>
    <div><strong>{% translate "Average unit price" %}</strong>: {{average|price|floatformat:"2g"}}</div>
</div>
{% endif %}


<div
    hx-trigger="reload from:body, afterType from:body, afterName from:body"
    hx-get="{{request.get_full_path}}"
    hx-target="#data"
    hx-indicator="#indicator">
    <table class="main expenses hover sticky-table">
        <thead>
            <tr>
                <th class="text-left">{% translate 'Date' %}</th>
                <th class="text-left">{% translate 'Expense type' %}</th>
                <th class="text-left">{% translate 'Expense name' %}</th>
                <th>{% translate 'How many' %}</th>
                <th>{% translate 'Price' %}</th>
                <th class="text-left w16">{% translate 'Remark' %}</th>
                <th class="w5">{% translate 'Attachment' %}</th>
                <th>{% translate 'Account' %}</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            {% url 'expenses:update' object.id as url_update %}
            {% url 'expenses:delete' object.id as url_delete %}

            <tr hx-get="{{ url_update }}" hx-trigger="dblclick" hx-target="#mainModal" class="{{ object.expense_type.pk|bg_color }} {% ifchanged object.date|date:"F" %}{% if not forloop.first %}table-group-divider{% endif %}{% endifchanged %}">
                <td class="text-left {%if object.exception %}exception{% else %}expense-ordinary{% endif %}">{{ object.date|date:"Y-m-d" }}</td>
                <td class="text-left">{{ object.expense_type }}</td>
                <td class="text-left">{{ object.expense_name }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{object.price|price|cellformat}}</td>
                <td class="text-left cell-padding">{{ object.remark|linebreaksbr }}</td>
                <td>{% if object.attachment %}
                    {% if not 'pdf' in object.attachment.url %}
                    <button type="button" class="button-secondary transparent button-xs" hx-get="{% url 'core:modal_image' %}" hx-trigger="click" hx-target="#imgModal" data-url="{{ object.attachment.url }}">{% translate 'Image' %}</button>
                    {% else %}
                    <a role="button" class="button-outline-primary transparent button-xs" href="{{ object.attachment.url }}" target="_blank" rel="noopener noreferrer">{% translate 'Pdf file' %}</a>
                    {% endif %}
                    {% endif %}
                </td>
                <td>{{ object.account }}</td>
                <c-td-edit :url=url_update />
                <c-td-delete :url=url_delete />
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>$('.sticky-table').stickyTableHeaders();</script>

{% paging url=url page_obj=object_list page_range=page_range search=search target="#data" %}


<!-- modal image -->
<div id="imgModalContainer" class="modal">
    <div id="imgModal" class="modal-dialog"></div>
</div>


{% else %}

<div class="alert alert-warning" hx-trigger="reload from:body" hx-get="{{request.get_full_path}}" hx-target="#data" hx-indicator="#indicator">
{% if notice %}
    {{ notice|safe }}
{% else %}
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
{% endif %}
</div>

{% endif %}
