{% load static %}
{% load i18n %}
{% load humanize %}
{% load colorize %}
{% load math %}
{% load cell_format %}
{% load fast_rendering %}

{% if object_list %}

{% if sum_price %}
<div class="search-statistic alert alert-warning">
    <div><strong>{% translate 'How many' %}</strong>: {{sum_quantity|floatformat:"0g"}}</div>
    <div><strong>{% translate 'Price' %}</strong>: {{sum_price|price|cellformat}}</div>
    <div><strong>{% translate "Average unit price" %}</strong>: {{average|price|floatformat:"2g"}}</div>
</div>
{% endif %}


<div
    hx-trigger="reload from:body, afterType from:body, afterName from:body"
    hx-get="{{request.get_full_path}}"
    hx-target="#data"
    hx-indicator="#indicator">
    <table class="main expenses-table striped hover sticky-table">
        <thead>
            <tr>
                <th class="text-left">{% translate 'Date' %}</th>
                <th class="text-left">{% translate 'Expense type' %}</th>
                <th class="text-left">{% translate 'Expense name' %}</th>
                <th class="qty-col">{% translate 'How many' %}</th>
                <th class="price-col">{% translate 'Price' %}</th>
                <th class="remark-col text-left">{% translate 'Remark' %}</th>
                <th class="file-col">{% translate 'Attachment' %}</th>
                <th>{% translate 'Account' %}</th>
                <th class="edit-col"></th>
                <th class="delete-col"></th>
            </tr>
        </thead>
        <tbody>
            {% url 'core:modal_image' as modal_image_url %}
            {% get_media_prefix as media_url %}

            {% for object in object_list %}

            <tr hx-get="{{ object.url_update }}" hx-trigger="dblclick" hx-target="#mainModal" class="{% firstof object.expense_type.pk|bg_color or object.expense_type__pk|bg_color %} {% ifchanged object.month_group %}{% if not forloop.first %}table-group-divider{% endif %}{% endifchanged %}">
                <td class="text-left {%if object.exception %}exception{% else %}expense-ordinary{% endif %}">{{ object.date|date:"Y-m-d" }}</td>
                <td class="text-left">{% firstof object.expense_type__title object.expense_type.title %}</td>
                <td class="text-left">{% firstof object.expense_name__title object.expense_name.title %}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.price|price|cellformat }}</td>
                <td class="text-left cell-padding remark">{{ object.remark }}</td>
                <td>
                    {% if object.attachment %}
                    {% if not 'pdf' in object.attachment %}
                    <button type="button" class="button-secondary transparent button-xs" hx-get="{{ modal_image_url }}" hx-trigger="click" hx-target="#imgModal" data-url="{{ media_url }}{{ object.attachment }}">{% translate 'Image' %}</button>
                    {% else %}
                    <a role="button" class="button-outline-primary transparent button-xs" href="{{ media_url }}{{ object.attachment }}" target="_blank" rel="noopener noreferrer">{% translate 'Pdf file' %}</a>
                    {% endif %}
                    {% endif %}
                </td>
                <td>{% firstof object.account__title object.account.title %}</td>
                {{ edit_col|inject_url:object.url_update }}
                {{ delete_col|inject_url:object.url_delete }}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    let elements = document.querySelectorAll('.sticky-table')
    stickyThead.apply(elements);
</script>


<c-paging :url=url :search=search :paginator_object=paginator_object :page_obj=object_list target="#data"/>


<!-- modal image -->
<div id="imgModalContainer" class="modal">
    <div id="imgModal" class="modal-dialog"></div>
</div>


{% else %}

<div class="alert alert-warning" hx-trigger="reload from:body" hx-get="{{request.get_full_path}}" hx-target="#data" hx-indicator="#indicator">
{% if notice %}
    {{ notice|safe }}
{% else %}
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
{% endif %}
</div>

{% endif %}
