{% extends 'base.html' %}


{% block head %}

{% endblock head %}


{% block content %}

{% url 'expenses:expenses_new' as url_expense_new %}
{% url 'expenses:expenses_type_new' as url_expenses_type_new %}
{% url 'expenses:expenses_name_new' as url_expenses_name_new %}
<div class="row mt-2">
    <div class="col-lg-8">
        <div class="row my-2">
            <div class="col-lg-11">
            {% for m in buttons %}
                {% with m|date:'n' as m_num %}
                <button id="btn{{m_num}}" type="button" data-url="{% url 'expenses:expenses_month_list' m_num %}" class="btn btn-sm btn-month js-filter mr-1 {% if current_month|slugify == m_num %}btn-info{% endif %}">{{ m|date:'F'|title }}</button>
                {% endwith %}
                {% endfor %}
                <button id="btn-all" type="button" data-url="{% url 'expenses:expenses_list' %}"
                    class="btn btn-sm btn-month js-filter ml-5">Visi įrašai</button>
            </div>
            <div class="col-lg-1 text-right">
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expense_new }}"><i class="fas fa-plus"></i> Išlaidas</button>
            </div>
        </div>
        <div id="expenses_list" class="dblclick">{{ expenses }}</div>
    </div>

    <div class="col-lg-4">
        <div class="row my-2">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expenses_type_new }}"><i class="fas fa-plus"></i> Išlaidų rūšį</button>
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expenses_name_new }}"><i class="fas fa-plus"></i> Išlaidų pavadinimą</button>
            </div>
        </div>

        <div class="row">
            <div id="ajax-content-categories" class="col-lg-12 pl-0 dblclick">{{ categories }}</div>
        </div>
    </div>
</div>

{% include 'modal.html' %}

<script>
    $(document).on('hidden.bs.modal', '#modal-form', function () {
        var url = `{% url 'expenses:reload_expenses' %}`;

        $.ajax({
            url: url,
            data: {
                'ajax_trigger': '1'
            },
            success: function (data) {
                var expenses_list = $(data).filter('#expenses_list');
                $('#expenses_list').html(expenses_list);
            }
        });
    });

    $(document).on('click', '.js-filter', function () {
        var url = $(this).attr('data-url');
        $.ajax({
            url: url,
            type: 'get',

            success: function (data) {
                var expenses_list = data;
                $('#expenses_list').html(expenses_list);
            }
        });
    });

    $('.btn-month').on('click', function () {
        $('.btn-month').removeClass('btn-info');
        $(this).addClass('btn-info');
    });
</script>

{% endblock content %}
