{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load slippers %}

{% block head %}
<script src="{% static 'js/sticky-table-headers.js' %}"></script>

{% endblock head %}


{% block content %}


<main class="grid-70-30">
    {% var current_month=view.get_month %}
    <div
        x-data="{
            openTab: '{{current_month}}',
            activeClass: 'button-active',
            inactiveClass: 'button-secondary',
        }">
        <!-- search form -->
        <div class="button-row">
            {% url 'expenses:search' as search_url %}
            {% url 'expenses:list' as reset_url %}
            {% search_form url=search_url reset_url=reset_url target="#data" hightlight_tab=current_month %}

            {% if request.GET.month %}
                {% var month_number=request.GET.month %}
            {% else %}
                {% now 'n' as month_number %}
            {% endif %}

            <c-new-button url="{% url 'expenses:new' %}" title="{% translate 'Expenses' context 'expenses button' %}" css_class="flex-right" />
        </div>

        <!-- month buttons -->
        <div class="button-row equal-width">
            {% for month in context_months %}
            {% with month|date:'n' as month_number %}
            <button type="button"
                hx-get="{% url 'expenses:list' month_number %}"
                hx-target="#data"
                hx-swap="innerHTML"
                hx-indicator="#indicator"
                :class="openTab === '{{month_number}}' ? activeClass : inactiveClass"
                @click="openTab = '{{month_number}}'">
                {{month|date:'F'|title}}
            </button>
            {% endwith %}
            {% endfor %}

            <button type="button"
                hx-get="{% url 'expenses:list' 13 %}"
                hx-target="#data"
                hx-swap="innerHTML"
                hx-indicator="#indicator"
                :class="openTab === '13' ? activeClass : inactiveClass"
                @click="openTab = '13'">
                {% translate 'All records' %}
            </button>
        </div><!-- /month buttons -->

        <!-- data -->
        <div id="data" hx-trigger="load" hx-indicator="#indicator" hx-get="{% url 'expenses:list' month %}"></div>
    </div>

    <div>
        <!-- type and name buttons -->
        <div class="button-row row-reverse">
            <c-new-button url="{% url 'expenses:name_new' %}" title="{% translate 'Expenses name' context 'expenses name button' %}" />
            <c-new-button url="{% url 'expenses:type_new' %}" title="{% translate 'Expenses type' context 'expenses type button' %}" />
        </div>

        <div class="button-row"></div>

        <!-- type and name list -->
        <div
            hx-trigger="load, afterType from:body, afterName from:body"
            hx-get="{% url 'expenses:type_list' %}"
            hx-target="this">
        </div>
    </div>
</main>

{% endblock content %}
