// Books App - Book table
.book-table {
    tr.currently-reading-book {
        background-color: $table-currently-reading;
        border-top: $table-current-day-border-color 1px double;
        border-bottom: $table-current-day-border-color 1px double;
    }

    .author-col {
        min-width: 20rem;
        width: 20rem;
    }

    .book-title-col {
        min-width: 40rem;
        width: 40rem;
    }
}
