// Plans App - Plan residual row and star indicator
.plans-residual-row {
    background-color: $table-current-day;
    border-top:
        $table-current-day-border-color 1px double;
    border-bottom:
        $table-current-day-border-color 1px double;
}

.plans-star {
    color: $primary;
    margin-left: .5rem;
}
