{% load humanize %}
{% load colorize %}
{% load static %}
{% load i18n %}
{% load slippers %}

{% if items %}

<script src="{% static 'js/sticky-table-headers.js' %}"></script>
<table class="table table-hover stats sticky-table">
    <thead class="thead-light">
        <tr class="top">
            <th class="expense-ordinary">{% translate 'Date' %}</th>
            <th>{% translate 'Expense type' %}</th>
            <th>{% translate 'Expense name' %}</th>
            <th class="text-end">{% translate 'How many' %}</th>
            <th class="text-end">{% translate 'Price' %}</th>
            <th class="w16">{% translate 'Remark' %}</th>
            <th class="text-end w5">{% translate 'Attachment' %}</th>
            <th class="text-end">{% translate 'Account' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'expenses:expenses_update' item.id as url_update %}
        {% url 'expenses:expenses_delete' item.id as url_delete %}
        {% ifchanged item.date|date:"F" %}{% if not forloop.first %}<tr><td colspan="10" class="table-active"></td></tr>{% endif %}{% endifchanged %}
        <tr data-url="{{ url_update }}" class="{{ item.expense_type.pk|bg_color }} dblclick">
            <td class="text-start {%if item.exception %}exception{% else %}expense-ordinary{% endif %}">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.expense_type }}</td>
            <td class="text-start">{{ item.expense_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price|intcomma }}</td>
            <td class="text-start">{{ item.remark|linebreaksbr }}</td>
            <td>{% if item.attachment %}
                {% if not 'pdf' in item.attachment.url %}
                <button type="button" class="btn btn-outline-primary btn-super-sm" data-bs-toggle="modal" data-bs-target="#imgModal" data-bs-url="{{ item.attachment.url }}">{% translate 'Image' %}</button>
                {% else %}
                <a role="button" class="btn btn-outline-primary btn-super-sm" href="{{ item.attachment.url }}" target="_blank">{% translate 'Pdf file' %}</a>
                {% endif %}
                {% endif %}
            </td>
            <td>{{ item.account }}</td>
            {% edit_cell url=url_update %}
            {% delete_cell url=url_delete %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>$('.sticky-table').stickyTableHeaders();</script>

{% if items.paginator.num_pages > 1 %}
{% url 'expenses:expenses_search' as url_search %}
<ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if items.has_previous %}
        <li class="page-item"><a class="page-link paging" role="button" data-url="{{ url_search }}" data-page="{{ items.previous_page_number|title }}" data-search="{{ search }}" data-container="expenses_list">&laquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in page_range|default_if_none:items.paginator.get_elided_page_range %}
        {% if items.number == i %}
            <li class="active page-item"><span class="page-link">{{ i|title }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
            {% if i == items.paginator.ELLIPSIS %}
                <li class="page-item"><span class="page-link">{{ i|title }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link paging" role="button" data-url="{{ url_search }}" data-page="{{ i|title }}" data-search="{{ search }}" data-container="expenses_list">{{ i|title }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if items.has_next %}
        <li class="page-item"><a class="page-link paging" role="button" data-url="{{ url_search }}" data-page="{{ items.next_page_number|title }}" data-search="{{ search }}" data-container="expenses_list">&raquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>

{% endif %}

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
{% if notice %}
    {{ notice|safe }}
{% else %}
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
{% endif %}
</div>

{% endif %}

{% include 'modal_images.html' %}
