{% load humanize %}{% load colorize %}
<table class="table table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Data</th>
            <th>Išlaidų rūšis</th>
            <th>Išlaidų pavadinimas</th>
            <th class="text-right">Kiekis</th>
            <th class="text-right">Kaina</th>
            <th width="260rem">Pastaba</th>
            <th class="text-right">Sąskaita</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'expenses:expenses_update' item.id as url_update %}
        {% ifchanged item.date|date:"F" %}<tr>{% if not forloop.first %}<td colspan="7" class="row-spacer"></td>{% endif %}</tr>{% endifchanged %}
        <tr data-url="{{ url_update }}" class="{{ item.expense_type.pk|bg_color }}">
            <td class="text-left">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-left">{{ item.expense_type }}</td>
            <td class="text-left">{{ item.expense_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price|intcomma }}</td>
            <td class="text-left">{{ item.remark|linebreaksbr }}</td>
            <td {% if item.exception %} style="border-right: 5px solid red!important;"{% endif %}>{{ item.account }}</td>
        </tr>
        {% empty %}
        <tr class="table-warning text-center">
            <td colspan="7" class="py-2"><b>{{ request.user.profile.year|title }}</b> metais išlaidų nėra.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    .tooltip.show p {
        text-align: left;
    }
    .drinks {
        background-color: #d9d9d9;
    }
    .fees {
        background-color: #ffdddd;
    }
    .food {
        background-color: #c5d9f1;
    }
    .leisure {
        background-color: #c4d79b;
    }
    .work {
        background-color: #fff0c1;
    }
</style>
