{% for item in categories %}
{% url 'expenses:expenses_type_update' item.id as url_update %}
<div class="list-group mb-2">
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary" data-url="{{ url_update }}" data-update-container="ajax-content-categories">{{ item.title }}</a>
    {% for sub in item.expensename_set.all %}
    <a href="#" class="list-group-item list-group-item-action" data-url="{{ url_update }}" data-update-container="ajax-content-categories">{{ sub.title }}</a>{% endfor %}
</div>
{% endfor %}

<style>
    .list-group-item {
        padding: .25rem 0 .25rem 1.25rem;
        margin: 0;
    }

    .list-group-item.list-group-item-primary {
        padding-left: 0.25rem;
    }
</style>
