{% load i18n %}
{% load slippers %}

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-start" colspan="2">{% regenerate_balances type='accounts' %} {% translate 'Accounts' %}</th>
            <th>{% translate 'Past years' %}</th>
            <th>{% translate 'Incomes' %}</th>
            <th>{% translate 'Expenses' %}</th>
            <th>{% translate 'Balance' %}</th>
            <th class="left-blue-border">{% translate 'Have' %}</th>
            <th>{% translate 'Delta' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" data-bs-title="{{ item.latest_check|default:_('Not specified') }}" class="text-start no-right-border">
                {{ item.account.title }}
            </td>
            <td class="no-left-border w5"></td>
            {% table_cell value=item.past css_class='w7' %}
            {% table_cell value=item.incomes css_class='w7' %}
            {% table_cell value=item.expenses css_class='w7' %}
            {% table_cell value=item.balance css_class='w7' %}
            {% table_cell value=item.have css_class='left-blue-border w7' %}
            {% table_cell value=item.delta css_class='w7' highlight_value=True default_if_empty='ok' %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start" colspan="2">{% translate 'Total' %}</th>
            {% table_cell value=total_row.past tag="th" %}
            {% table_cell value=total_row.incomes tag="th" %}
            {% table_cell value=total_row.expenses tag="th" %}
            {% table_cell value=total_row.balance css_class="check" tag="th" %}
            {% table_cell value=total_row.have tag="th" css_class='left-blue-border' %}
            {% table_cell value=total_row.delta tag="th" %}
        </tr>
    </tfoot>
</table>
