{% load table_cell %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th colspan="7"><h1>Sąskaitos</h1></th>
        </tr>
        <tr>
            <th class="text-left">Sąskaita</th>
            <th>01.01</th>
            <th>Pajamos</th>
            <th>Išlaidos</th>
            <th>Likutis</th>
            <th class="text-right bl">Turiu</th>
            <th>Delta</th>

        </tr>
    </thead>
    <tbody>
        {% for item in accounts %}
        <tr>
            <td class="text-left"><div style="position:relative;">{{ item.title }}<span style="position: absolute; top: -0.5px; right: 5px; display: block;"><button type="button" data-url="{% url 'bookkeeping:accounts_worth_reset' item.account_pk %}" class="btn btn-super-sm btn-outline-info reset">Reset</button></span></div></td>
            {% cell item.past width='110rem' %}
            {% cell item.incomes width='110rem' %}
            {% cell item.expenses width='110rem' %}
            {% cell item.balance width='110rem' %}
            {% cell item.have width='110rem' css_class='bl' %}
            {% cell item.delta width='110rem' highlight_value=True default_if_empty='ok' %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr  class="total">
            <th class="text-left">Viso</th>
            {% cell total_row.past tag="th" %}
            {% cell total_row.incomes tag="th" %}
            {% cell total_row.expenses tag="th" %}
            {% if accounts_amount_end|floatformat:2 != months_amount_end|floatformat:2 %}{% cell total_row.balance tag="th" css_class='bad' text_before='!' text_after='!' %}{% else %}{% cell total_row.balance tag="th" %}{% endif %}
            {% cell total_row.have tag="th" css_class='bl' %}
            {% cell total_row.delta tag="th" %}
        </tr>
    </tfoot>
</table>

