{% load i18n %}
{% load slippers %}
{% load math %}
{% load cell_format %}

<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-left">{% regenerate_balances type='accounts' %} {% translate 'Accounts' %}</th>
            <th>{% translate 'Past years' %}</th>
            <th>{% translate 'Incomes' %}</th>
            <th>{% translate 'Expenses' %}</th>
            <th>{% translate 'Balance' %}</th>
            <th class="left-blue-border">{% translate 'Have' %}</th>
            <th>{% translate 'Delta' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="text-left no-right-border">
                <span class="tip right w100" data-tip="{{ item.latest_check|default_if_none:_('No record of account amount') }}">{{ item.account.title }}</span>
            </td>
            <td class="w7 {{item.past|css_class_if_none}}">{{item.past|price|cellformat}}</td>
            <td class="w7 {{item.incomes|css_class_if_none}}">{{item.incomes|price|cellformat}}</td>
            <td class="w7 {{item.expenses|css_class_if_none}}">{{item.expenses|price|cellformat}}</td>
            <td class="w7 {{item.balance|css_class_if_none}}">{{item.balance|price|cellformat}}</td>
            <td class="w7 left-blue-border {{item.have|css_class_if_none}}">{{item.have|price|cellformat}}</td>
            <td class="w7 {{item.delta|positive_negative}}">{{item.delta|price|cellformat:"ok"}}</td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-left">{% translate 'Total' %}</th>
            <th class="{{total_row.past|css_class_if_none}}">{{total_row.past|price|cellformat}}</th>
            <th class="{{total_row.incomes|css_class_if_none}}">{{total_row.incomes|price|cellformat}}</th>
            <th class="{{total_row.expenses|css_class_if_none}}">{{total_row.expenses|price|cellformat}}</th>
            <th class="{{total_row.balance|css_class_if_none}} check">{{total_row.balance|price|cellformat}}</th>
            <th class="left-blue-border {{total_row.have|css_class_if_none}}">{{total_row.have|price|cellformat}}</th>
            <th class="{{total_row.delta|positive_negative}}">{{total_row.delta|price|cellformat}}</th>
        </tr>
    </tfoot>
</table>

<script>setUpToolTip();</script>
