{% load table_cell %}

<table class="table table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th>Sąskaita</th>
            <th class="text-right">01.01</th>
            <th class="text-right">Pajamos</th>
            <th class="text-right">Išlaidos</th>
            <th class="text-right">Likutis</th>
            <th class="b"></th>
            <th class="text-right">Turiu</th>
            <th class="text-right">Delta</th>

        </tr>
    </thead>
    <tbody>
        {% for item in accounts %}
        <tr>
            <td>{{ item.title }}</td>
            {% cell item.past width='110rem' %}
            {% cell item.incomes width='110rem' %}
            {% cell item.expenses width='110rem' %}
            {% cell item.balance width='110rem' %}
            <td width="80rem" class="b"></td>
            {% cell item.have width='110rem' %}
            {% cell item.delta width='110rem' highlight_value=True  %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            {% cell totals.past %}
            {% cell totals.incomes %}
            {% cell totals.expenses %}
            {% cell totals.balance %}
            <td class="b"></td>
            {% cell totals.have %}
            {% cell totals.delta %}
        </tr>
    </tfoot>
</table>

<style>
    .b {
        border-right: 5px solid red!important;
    }
</style>
