{% load i18n %}
{% load math %}
{% load cell_format %}

<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-left title-col"><c-regenerate-balances type='accounts' /> {% translate 'Accounts' %}</th>
            <th>{% blocktranslate with year=request.user.year %}Start of {{ year }}{% endblocktranslate %}</th>
            <th>{% translate 'Incomes' %}</th>
            <th>{% translate 'Expenses' %}</th>
            <th>{% translate 'Balance' %}</th>
            <th class="left-thick-border">{% translate 'Have' %}</th>
            <th>{% translate 'Delta' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="text-left">
                <span class="tip right w100" data-tip="{{ item.latest_check|default_if_none:_('No record of account amount') }}">{{ item.account.title }}</span>
            </td>
            <td data-cell="{{item.past|cell_state}}">{{item.past|price|cellformat}}</td>
            <td data-cell="{{item.incomes|cell_state}}">{{item.incomes|price|cellformat}}</td>
            <td data-cell="{{item.expenses|cell_state}}">{{item.expenses|price|cellformat}}</td>
            <td data-cell="{{item.balance|cell_state}}">{{item.balance|price|cellformat}}</td>
            <td class="left-thick-border" data-cell="{{item.have|cell_state}}">{{item.have|price|cellformat}}</td>
            <td data-sign="{{item.delta|sign}}">{{item.delta|price|cellformat:"ok"}}</td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-left">{% translate 'Total' %}</th>
            <th data-cell="{{total_row.past|cell_state}}">{{total_row.past|price|cellformat}}</th>
            <th data-cell="{{total_row.incomes|cell_state}}">{{total_row.incomes|price|cellformat}}</th>
            <th data-cell="{{total_row.expenses|cell_state}}">{{total_row.expenses|price|cellformat}}</th>
            <th class="check" data-cell="{{total_row.balance|cell_state}}">{{total_row.balance|price|cellformat}}</th>
            <th class="left-thick-border" data-cell="{{total_row.have|cell_state}}">{{total_row.have|price|cellformat}}</th>
            <th data-sign="{{total_row.delta|sign}}">{{total_row.delta|price|cellformat}}</th>
        </tr>
    </tfoot>
</table>
