{% load get_item %}
{% load math %}
{% load i18n %}
{% load cell_format %}

{% if data.title and data.data %}
<table x-data="{ open:false }">
    <thead>
        <tr>
            <th class="no-right-border panel-heading text-start" :class="open ? 'active' : ''">
                <a
                    role="button"
                    class="btn btn-xs no-hover"
                    data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-placement="right"
                    title="{% translate 'Forecast' %}"
                    @click="open = ! open"
                    hx-get="{% url 'bookkeeping:forecast' %}"
                    hx-target="#last"
                    hx-swap="afterend"
                    hx-trigger="click once"
                    >
                </a>
            </th>
            {% for title in data.title %}
            <th class="text-nowrap no-left-border">
               {{ title }}
            </th>{% endfor %}
        </tr>
    </thead>
    <tbody id="last">
        <tr>
            <td class="no-right-border"></td>
            {% for d in data.data %}
            <td class="no-left-border {% if data.highlight|get_list_val:forloop.counter0 %}{{d|positive_negative}}{% endif%}">{{d|price|cellformat}}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}
