<div id="container-for-expenses-with-target"></div>
<script>
    $(function () {
        Highcharts.SVGRenderer.prototype.symbols['c-rect'] = function (x, y, w, h) {
            return ['M', x, y + h / 2, 'L', x + w, y + h / 2];
        };

    var chart = Highcharts.chart('container-for-expenses-with-target', {
        chart: {
            type: 'bar',
            height: '485'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: {{ chart_targets_categories|safe }},
            lineColor: '#000',
            lineWidth: 2,
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                }
            }
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Calibri, Verdana',
                    }
                }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            shared: true,
            headerFormat: '',
            pointFormat: '{series.name}: <b>{point.y:.1f}</b><br/>',
            style: {
                fontSize: '12px',
                fontFamily: 'Calibri, Verdana',
            }
        },
        plotOptions: {
            bar: {
                grouping: false,
                shadow: false,
                // pointWidth: 13,
            }
        },
        series: [{
            name: 'Planas',
            color: 'rgba(0,0,0,0.07)',
            data: {{ chart_targets_data_target|safe }},
            pointWidth: 19,
            dataLabels: {
                enabled: true,
                rotation: 0,
                color: '#000',
                x: -2,
                y: -13,
                format: '{point.y:.0f}', // one decimal
                style: {
                    fontSize: '7px',
                    fontWeight: 'bold',
                    fontFamily: 'Verdana, sans-serif',
                    textOutline: false
                }
            }
        }, {
            name: 'Faktas',
            opacity: '0.7',
            data: {{ chart_targets_data_fact|safe }},
            pointWidth: 13,
            dataLabels: {
                format: '{point.y:.0f}',
                enabled: true,
                rotation: 0,
                align: 'right',
                y: -2,
                style: {
                    fontSize: '9px',
                    fontWeight: 'bold',
                    fontFamily: 'Verdana, sans-serif',
                    textOutline: false,
                },
            },
        }, {
            type: 'scatter',
            showInLegend: false,
            enableMouseTracking: false,
            data: {{ chart_targets_data_target|safe }},
            marker: {
                symbol: 'c-rect',
                lineWidth: 2,
                lineColor: 'grey',
                radius: 13,
            },
        }
    ]
    }, function (chartObj) {
            // align datalabels for expenses that exceeds targets
            var series = chartObj.series[1];
            $.each(series.data, function (i, point) {
                var max = chartObj.series[0].data[point.x].y;
                var y = point.y;

                var r = 'red';
                var g = 'green';

                console.log(point)

                if (y > max) {
                    var p = 28;
                    if (y < 100) { p = 21; }
                        point.dataLabel.attr({ x: point.dataLabel.x + p});
                        point.dataLabel.css({color: '#b4010d' })

                        point.color = r;
                        point.graphic.attr({ fill: r });
                    }
                    else {
                        point.dataLabel.css({color: 'green' })

                        point.color = g;
                        point.graphic.attr({ fill: g });
                }
            });
        });
});
</script>
