{% load i18n %}

<div id="container-{{ title|slugify }}-summary"></div>

<script>
    $(function () {
        var categoryLabels = {{ items.categories|safe }};

    Highcharts.setOptions({
        lang: {
            thousandsSep: '.',
            decimalPoint: ',',
        }
    });
    Highcharts.chart('container-{{ title|slugify }}-summary', {
        chart: {
            type: 'column',
            spacingRight: 25,
        },
        title: {
            text: '{{ title }}',
            style: {
                fontSize: '16px',
                fontFamily: 'Calibri, Verdana',
                fontWeight: 'bold',
            },
        },
        annotations: [{
            draggable: '',
            labelOptions: {
                y: -8,
            },
            labels: [
                {% for i in items.total %}
                {
                    point: {
                        xAxis: 0,
                        yAxis: 0,
                        x: {{ forloop.counter0 }},
                        y: '{{ i|stringformat:"f" }}'
                    },
                    text: '{{ i|floatformat:0}}'
                },{% endfor %}
            ]
        }],
        xAxis: {
            categories: categoryLabels,
            lineColor: '#000',
            lineWidth: 2,
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
            },
        },
        yAxis: {
            max: {{ items.max|safe }},
            title: {
                text: ''
            },
            labels: {
                enabled: true,
                formatter: function () {
                    if (this.value >= 100) return Highcharts.numberFormat(this.value / 1000, 1) + "k";
                    return Highcharts.numberFormat(this.value, 0);
                },
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
            },
            stackLabels: {
                enabled: false,
                // style: {
                //     fontWeight: 'bold',
                //     textOutline: false,
                // },
                // formatter: function () {
                //     var sum = 0;
                //     var serries = this.axis.series;
                //     for (i in [1,2]) {
                //         sum += serries[i].yData[this.x];
                //     }
                //     if (this.isNegative) {
                //         return '';
                //     } else {
                //         return `${Highcharts.numberFormat(sum, 0)}`
                //     }
                // },
                // verticalAlign: 'top'
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'right',
            verticalAlign: 'top',
            floating: true,
            borderWidth: 0,
            x: -10,
            y: -5,
        },
        tooltip: {
            pointFormat: '{point.y:,.0f}',
            formatter: function () {
                var sum = 0;
                var series = this.series.chart.series;
                for (i in [1,2]) {
                    sum += series[i].yData[this.point.x];
                }
                return '<b>' + this.x + '</b><br/>' +
                    `${this.series.name}: ${Highcharts.numberFormat(this.point.y, 0)}€<br/>` +
                    `{% translate "Total" %}: ${Highcharts.numberFormat(sum, 0)}€`;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
            },
        },
        series: [
        {
            name: '{% translate "Profit" %}',
            data: {{ items.profit|safe }},
            color: 'rgba(84,130,53,0.5)',
            borderColor: '#548235',
            borderWidth: '0.5',
            dataLabels: {
                enabled: true,
                formatter: function () {
                    if (this.y == 0) {
                        return '';
                    } else {
                        return `${Highcharts.numberFormat(this.y, 0)}`;
                    }
                },
                style: {
                    fontWeight: 'bold',
                    textOutline: false,
                    color: '#548235'
                },
            }
        }, {
            name: '{% translate "Invested" %}',
            data: {{ items.invested|safe }},
            color: 'rgba(222,176,40,0.5)',
            borderColor: '#bf8f00',
            borderWidth: '0.5',
            dataLabels: {
                enabled: true,
                verticalAlign: 'top',
                formatter: function () {
                    return `${Highcharts.numberFormat(this.y, 0)}`
                },
                style: {
                    fontWeight: 'bold',
                    textOutline: false,
                    color: '#bf8f00'
                },
            }
        }]
    }, function (chartObj) {
            var series = chartObj.series[0];

            $.each(series.data, function (i, point) {
                 if (point.negative) {
                    var c = '#c0504d';
                    point.color = c; // + tooltip border color
                    point.graphic.css({stroke: c, color: 'rgba(192,80,77,0.5)'})
                    point.dataLabel.css({ color: c });
                }
            });
        });
});
</script>
