<div id="container-for-balance"></div>
<script>
    Highcharts.setOptions({
        lang: {
            thousandsSep: '.',
            decimalPoint: ',',
            // numericSymbols: ['k', 'M', 'G', 'T', 'P', 'E']
        }
    });
    Highcharts.chart('container-for-balance', {
        chart: {
            marginBottom: 67,
        },
        title: {
            text: '',
        },
        legend: {
            layout: 'horizontal',
            align: 'right',
            verticalAlign: 'top',
            floating: true,
            borderWidth: 0,
        },
        xAxis: {
            min: 0.4,
            max: 10.8,
            lineColor: '#000',
            lineWidth: 2,
            gridLineWidth: 1,
            tickmarkPlacement: 'on',
            categories: [
                'Sausis',
                'Vasaris',
                'Kovas',
                'Balandis',
                'Gegužė',
                'Birželis',
                'Liepa',
                'Rugpjūtis',
                'Rugsėjis',
                'Spalis',
                'Lapkritis',
                'Gruodis'
            ],
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
                rotation: -45,
            },
        },
        yAxis: {
            labels: {
                formatter: function () {
                    if (this.value >= 100) return Highcharts.numberFormat(this.value / 1000, 1) + "k";
                    return Highcharts.numberFormat(this.value, 0);
                },
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
            },
            title: {
                text: ''
            },
        },
        tooltip: {
            split: true,
            pointFormat: '{series.name}: <b>{point.y:,.0f} €</b><br/>',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Calibri, Verdana',
                },
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillOpacity: 0.5
            }
        },
        series: [{
            type: 'area',
            name: 'Pajamos',
            data: {{ i }},
            color: '#77933c'
        }, {
            type: 'area',
            name: 'Išlaidos',
            data: {{ e }},
            color: '#c0504d'
        }]
    });
</script>
