<div id="container-for-expenses-with-target"></div>
<script>
    $(function () {
        Highcharts.SVGRenderer.prototype.symbols['c-rect'] = function (x, y, w, h) {
            return ['M', x, y + h / 2, 'L', x + w, y + h / 2];
        };

    var chart = Highcharts.chart('container-for-expenses-with-target', {
        chart: {
            type: 'bar',
            height: '485'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: {{ chart_targets_categories|safe }},
            lineColor: '#000',
                lineWidth: 2,
                labels: {
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Calibri, Verdana',
                    }
                }
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Calibri, Verdana',
                    }
                }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            shared: true,
            headerFormat: '',
            pointFormat: '{series.name}: <b>{point.y:.1f}</b><br/>',
            style: {
                fontSize: '12px',
                fontFamily: 'Calibri, Verdana',
            }
        },
        plotOptions: {
            bar: {
                grouping: false,
                shadow: false,
                pointWidth: 13,
            }
        },
        series: [{
            name: 'Planas',
            color: 'rgba(165,170,217,0)',
            data: {{ chart_targets_data_target|safe }},
            pointPadding: 0,
            pointPlacement: 0,
            borderColor: 'grey',
            dataLabels: {
                enabled: true,
                rotation: 0,
                color: '#000',
                align: 'left',
                format: '{point.y:.1f}', // one decimal
                y: -1,
                style: {
                    fontSize: '9px',
                    fontWeight: 'bold',
                    fontFamily: 'Verdana, sans-serif',
                    textOutline: false
                }
            }

        }, {
            name: 'Faktas',
            opacity: '0.7',
            data: {{ chart_targets_data_fact|safe }},
            pointPadding: 0.0,
            pointPlacement: -0.0005,
            borderWidth: 0,
        }, {
            type: 'scatter',
            showInLegend: false,
            enableMouseTracking: false,
            data: {{ chart_targets_data_target|safe }},
            marker: {
                symbol: 'c-rect',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[1],
                radius: 11,
            },
        }]
    });
});
</script>
