{% load i18n %}

<div id="container-salary-summary"></div>
<script>
    $(function () {
        var categoryLabels = {{ salary_categories }};

        Highcharts.setOptions({
        lang: {
            thousandsSep: '.',
            decimalPoint: ',',
        }
    });

    Highcharts.chart('container-salary-summary', {
        chart: {
            spacingRight: 25,
        },
        title: {
            text: '{% translate "Incomes" %}',
        },
        legend: {
            layout: 'horizontal',
            align: 'right',
            verticalAlign: 'top',
            floating: true,
            borderWidth: 0,
            x: -10
        },
        xAxis: {
            min: 0.49,
            max: categoryLabels.length - 1.49,
            categories: categoryLabels,
            type: 'category',
            lineColor: '#000',
            lineWidth: 2,
            gridLineWidth: 1,
            tickmarkPlacement: 'on',
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
            },
        },
        yAxis: {
            labels: {
                formatter: function () {
                    if (this.value >= 100) return Highcharts.numberFormat(this.value / 1000, 1) + "k";
                    return Highcharts.numberFormat(this.value, 0);
                },
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
            },
            title: {
                text: ''
            },

        },
        tooltip: {
            pointFormat: '<b>{point.y:,.0f}</b><br/>',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Calibri, Verdana',
                },
        },
        plotOptions: {
            area: {
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.0f}',
                    verticalAlign:'top',
                    color: '#77933c',
                    style: {
                        textOutline: 0,
                    },
                },
                enableMouseTracking: false,
                fillOpacity: 0.65,
            },
            line: {
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.0f}',
                    y: -5,
                    color: '#2d5f2e',
                    style: {
                        textOutline: 0,
                    },
                },
                enableMouseTracking: false,
            }
        },
        series: [
        {
            name: '{% translate "Average salary" %}, €',
            data: {{ salary_data_avg|safe }},
            type: 'area',
            color: '#98bc62',
        }, {
            name: '{% translate "Average incomes" %}, €',
            data: {{ balance_income_avg|safe }},
            type: 'line',
            color: '#2d5f2e',
        },
        ],
    });
    });
</script>
