<div id="container-for-drinks-summary"></div>
<script>
    Highcharts.setOptions({
        lang: {
            thousandsSep: '.',
            decimalPoint: ',',
        }
    });
    Highcharts.chart('container-for-drinks-summary', {
        chart: {
            marginBottom: 67,
        },
        title: {
            text: 'Gėrimai',
        },
        legend: {
            layout: 'horizontal',
            align: 'right',
            verticalAlign: 'top',
            floating: true,
            borderWidth: 0,
            x: -10,
        },
        xAxis: {
            min: 0.5,
            max: {{ drinks_cnt|safe }},
            lineColor: '#000',
            lineWidth: 2,
            gridLineWidth: 1,
            tickmarkPlacement: 'on',
            categories: {{ drinks_categories|safe }},
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
            },
        },
        yAxis: [{
            labels: {
                format: '{value:.0f}',
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                    color: '#46ab9d',
                },
            },
            title: {
                text: '',
                style: {
                    color: '#46ab9d',
                }
            },

        }, {
            opposite: true,
            labels: {
                format: '{value:.0f}',
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                    color: '#d13572',
                },
            },
            title: {
                text: '',
                style: {
                    color: '#d13572',
                }
            },

        }],
        tooltip: {
            pointFormat: '<b>{point.y:,.0f} ml</b><br/>',
                style: {
                    fontSize: '13px',
                    fontFamily: 'Calibri, Verdana',
                },
        },
        series: [{
            name: 'Vidutiniškai per dieną, ml',
            yAxis: 0,
            data: {{ drinks_data_ml|safe }},
            color: '#46ab9d',
            type: 'area',
            dataLabels: {
                enabled: true,
                format: '{point.y:.0f}',
                y: -25,
                verticalAlign:'top',
                color: '#28695f',
                style: {
                    textOutline: 0,
                },
            },
            enableMouseTracking: false,
            fillOpacity: 0.65,
        }, {
            name: 'Per metus gryno alkoholio, L',
            yAxis: 1,
            data: {{ drinks_data_alcohol|safe }},
            color: '#d13572',
            type: 'line',
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}',
                y: 25,
                color: '#d13572',
                style: {
                    textOutline: 0,
                },
            },
            enableMouseTracking: false,
        }],
    });
</script>
