{% load i18n %}
{% load slippers %}
{% load math%}
{% load cache %}


<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="text-start">{{ name }}</th>
            {% cache 500 toprow %}
            <th class="w7p">{% translate 'January' %}</th>
            <th class="w7p">{% translate 'February' %}</th>
            <th class="w7p">{% translate 'March' %}</th>
            <th class="w7p">{% translate 'April' %}</th>
            <th class="w7p">{% translate 'May' %}</th>
            <th class="w7p">{% translate 'June' %}</th>
            <th class="w7p">{% translate 'July' %}</th>
            <th class="w7p">{% translate 'August' %}</th>
            <th class="w7p">{% translate 'September' %}</th>
            <th class="w7p">{% translate 'October' %}</th>
            <th class="w7p">{% translate 'November' %}</th>
            <th class="w7p">{% translate 'December' %}</th>
            <th class="w7p">{% translate 'Total' %}</th>
            {% endcache %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="text-start">{{ item.title|safe }}</td>
            {% for i in item.data %}
                {% table_cell value=i|price %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start">{% translate 'Total' %}</th>
            {% for i in total_row %}{% table_cell value=i|price tag='th' %}{% endfor %}
        </tr>
    </tfoot>
</table>
