{% load table_cell %}{% load get_item %}
<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>{{ name }}</th>
            <th class="text-right" width="7%">Sausis</th>
            <th class="text-right" width="7%">Vasaris</th>
            <th class="text-right" width="7%">Kovas</th>
            <th class="text-right" width="7%">Balandis</th>
            <th class="text-right" width="7%">Gegužė</th>
            <th class="text-right" width="7%">Birželis</th>
            <th class="text-right" width="7%">Liepa</th>
            <th class="text-right" width="7%">Rugpjūtis</th>
            <th class="text-right" width="7%">Rugsėjis</th>
            <th class="text-right" width="7%">Spalis</th>
            <th class="text-right" width="7%">Lapkritis</th>
            <th class="text-right" width="7%">Gruodis</th>
            <th class="text-right" width="7%">Viso</th>
        </tr>
    </thead>
    <tbody>
        {% regroup items by title as grouped %}
        {% for title in grouped %}
        <tr>
            <td class="text-left">{{ title.grouper }}</td>
            {% for i in months %}{% with title.list|get_sum_by_month:i as sum %}{% cell sum %}{% endwith %}</td>{% endfor %}
            {% with total_col|get_sum_by_title:title.grouper as col_value %}
            <td>{{ col_value }}</td>{% endwith %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-left">Viso</td>
            {% for i in months %}{% with total_row|get_sum_by_month:i as sum %}{% cell sum %}{% endwith %}</td>{% endfor %}
            <td>{{ total }}</td>
        </tr>
    </tfoot>
</table>
