{% load i18n %}
{% load math%}
{% load cache %}
{% load get_item %}
{% load cell_format %}


<table class="striped hover">
    <thead>
        <tr>
            <th class="text-start">{{ name }}</th>
            <th class="w7p">{% translate 'January' %}</th>
            <th class="w7p">{% translate 'February' %}</th>
            <th class="w7p">{% translate 'March' %}</th>
            <th class="w7p">{% translate 'April' %}</th>
            <th class="w7p">{% translate 'May' %}</th>
            <th class="w7p">{% translate 'June' %}</th>
            <th class="w7p">{% translate 'July' %}</th>
            <th class="w7p">{% translate 'August' %}</th>
            <th class="w7p">{% translate 'September' %}</th>
            <th class="w7p">{% translate 'October' %}</th>
            <th class="w7p">{% translate 'November' %}</th>
            <th class="w7p">{% translate 'December' %}</th>
            <th class="w7p left-blue-border">{% translate 'Total' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="text-start">{{ item.title|safe }}</td>
            {% for i in item.data %}
                <td class="{{i|css_class_if_none}}">{{i|price|cellformat:"0,00"}}</td>
            {% endfor %}
            <td class="left-blue-border">
                <b>{{total_col|get_list_val:forloop.counter0|price|cellformat:"0,00"}}</b>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start">{% translate 'Total' %}</th>
            {% for i in total_row %}
            <th class="{{i|css_class_if_none}}">{{i|price|cellformat:"0,00"}}</th>
            {% endfor %}
            <th class="left-blue-border">{{total|price|cellformat:"0,00"}}</th>
        </tr>
    </tfoot>
</table>
