{% load slippers %}
{% load get_item %}

{% if data %}

<table class="table table-sm">
    <thead>
        <tr>
            {% for t in title %}
            <th class="text-nowrap" style="width: calc(100%/{{ title|length }});">
                {{ t }}
            </th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for d in data %}
            {% table_cell value=d highlight_value=highlight|get_list_val:forloop.counter0 %}
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}
