{% load table_cell %}{% load template_filters %}

<table class="table table-striped table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th colspan="5" class="top">Metų balansas</th>
            </tr>
            <tr>
                <th width="80rem" class="text-left">{{ request.user.profile.year|title }}</th>
                {% for cat in expense_types %}<th>{{ cat }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in expenses  %}
            <tr>
                <td class="text-left">{{ item|get_item:'date'|date:"F"|title }}</td>
                {% for cat in expense_types %}
                {% cell item|get_item:cat %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</table>

<style>
    td,
    th {
        text-align: right !important;
        padding-right: 1rem !important;
    }

    tfoot tr th {
        padding: .25rem !important;
        font-weight: normal;
    }

    .top {
        background-color: lightblue !important;
        text-align: left !important;
    }
</style>
