{% load table_cell %}
{% load template_filters %}
{% load cell_format %}
{% load i18n %}

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="expand_column_width"></th>
            {% for cat in expense_types %}<th class="text-end" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{cat}}">{{cat|truncatechars:8}}</th>{% endfor %}
            <th class="bl text-end empty_column">{% translate 'Total' %}</th>
            <th></th>
            <th class="text-end">{% translate 'Day' %}</th>
            <th class="text-end">{% translate 'Total' %}</th>
        </tr>
    </thead>
    <tbody x-data="make_x_data()">
        {% for row, sp in expenses %}
        {% with row.date|date:'w'|weekend:'_weekend_col' as weekend_col %}
        {% with row.date|date:'w'|weekend:'_weekend_row' as weekend_row %}
        {% with row.date|date:'j' as day_int %}
        {% url 'bookkeeping:expand_day_expenses' row.date|date:'Ymd' as url_expand %}
        <tr
            id="row{{day_int}}"
            class="{% if day|slugify == day_int %}_current_day{% endif %} {{weekend_row}}">
            <td class="text-start {{weekend_col}} panel-heading" :class="open{{day_int}} ? 'active' : ''">
                <a
                    role="button"
                    class="btn btn-xs no-hover"
                    data-bs-toggle="collapse"
                    aria-expanded="true"
                    hx-get="{{url_expand}}"
                    hx-target="#row{{day_int}}"
                    hx-swap="afterend"
                    hx-trigger="click once"
                    @click="open{{day_int}} = !open{{day_int}}"
                    >
                    {{row.date|date:'d'}}
                </a>
            </td>
            {% for cat in expense_types %}
            {% cell row|get_item:cat css_class=weekend_col %}
            {% endfor %}
            {% cell row.total css_class=weekend_col|add:' bl'|add:' empty_column' %}

            <td class="text-start {{weekend_col}}">{{sp.date|date:'l'}}</td>
            {% cell sp.day css_class=sp.day|negative %}
            {% cell sp.full css_class=sp.full|negative|add:' -full' %}
        </tr>{% endwith %}{% endwith %}{% endwith %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start">&#8721;</th>
            {% for cat in expense_types %}{% cell total_row|get_item:cat tag='th' %}{% endfor %}
            {% cell total_row.total tag='th' css_class="bl empty_column" %}
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script>
    function make_x_data() {
        var dict = {};
        for (var i = 1; i <= 31; i++) {
            dict['open' + i] = false;
        }
        return dict;
    }
</script>
