{% load table_cell %}
<table class="table table-striped table-hover table-sm stats">
    <thead class="thead-light">
        <tr class="top">
            <th colspan="5"><h1>Balansas</h1></th>
        </tr>
        <tr>
            <th width="80rem" class="text-left">{{ request.user.profile.year|title }}</th>
            <th>Pajamos</th>
            <th>Išlaidos</th>
            <th>Balansas</th>
            <th>Likutis</th>
        </tr>
    </thead>
    <tbody>
        {% for item in balance  %}
        <tr>
            <td class="text-left">{{ item.date|date:"F"|title }}</td>
            {% cell item.incomes %}
            {% cell item.expenses %}
            {% cell item.balance highlight_value=True  %}
            {% cell item.residual %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-left">Avg</th>
            {% cell balance_avg.incomes tag='th' %}
            {% cell balance_avg.expenses tag='th' %}
            <th></th>
            <th><b>Metų gale</b></th>
        </tr>
        <tr class="total">
            <th class="text-left">Viso</th>
            {% cell balance_totals.incomes tag='th' %}
            {% cell balance_totals.expenses tag='th' %}
            {% cell balance_totals.balance tag='th' highlight_value=True %}
            {% if accounts_amount_end|floatformat:2 != months_amount_end|floatformat:2 %}{% cell months_amount_end tag="th" css_class='bad' text_before='!' text_after='!' %}{% else %}{% cell months_amount_end tag='th' highlight_value=True %}{% endif %}
        </tr>
    </tfoot>
</table>
