{% load table_cell %}{% load template_filters %}
<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th></th>
            {% for cat in expense_types %}<th class="text-right" data-toggle="tooltip" data-placement="bottom"
                title="{{ cat }}">{{ cat|truncatechars:8 }}</th>{% endfor %}
            <th class="bl text-right">Viso</th>
        </tr>
    </thead>
    <tbody>
        {% for row in expenses %}
        {% with row.date|date:'w' as weekend %}
        <tr class="{% if day|slugify == row.date|date:'j' %}_current_day{% endif %} {% if weekend == '0' or weekend == '6' %}_weekend{% endif %} " >{% endwith %}
            <td class="text-left">{{ row.date|date:'d' }}</td>
            {% for cat in expense_types %}
            {% cell row|get_item:cat %}
            {% endfor %}
            {% cell row.total css_class="bl" %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="total">
            <th class="text-left">&#8721;</th>
            {% for cat in expense_types %}{% cell total_row|get_item:cat tag='th' %}{% endfor %}
            {% cell total_row.total tag='th' css_class="bl" %}
        </tr>
    </tfoot>
</table>
