{% load get_item %}
{% load template_filters %}
{% load cell_format %}
{% load i18n %}
{% load math %}


<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th class="expand-column-width"></th>
            {% for cat in ctx.expense_types %}<th data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{cat}}">{{cat|truncatechars:8}}</th>{% endfor %}
            <th class="left-blue-double-border right-blue-double-border">{% translate 'Total' %}</th>
            <th>{% translate 'Savings' %}</th>
            <th class="empty-column"></th>
            <th>{% translate 'Day' %}</th>
            <th class="empty-column-wide">{% translate 'Total' %}</th>
        </tr>
    </thead>
    <tbody x-data="make_x_data()">
        {% for table, spending in ctx.expenses %}
        {% with table.date|date:'w'|weekend:'weekend-col' as weekend_col %}
        {% with table.date|date:'j' as day_int %}
        {% url 'bookkeeping:expand_day_expenses' table.date|date:'Ymd' as url_expand %}
        <tr
            id="table{{day_int}}"
            {% if ctx.day|slugify == day_int %}class="current-day"{% endif %}>
            <td
                class="{{weekend_col}} panel-heading"
                data-bs-toggle="collapse"
                aria-expanded="true"
                :class="open{{day_int}} ? 'active' : ''"
                @click="open{{day_int}} = !open{{day_int}}""
                hx-get="{{url_expand}}"
                hx-target="#table{{day_int}}"
                hx-swap="afterend"
                hx-trigger="click once"
            >
                <span class="col1"></span><span class="col2">{{table.date|date:'d'}}</span>
            </td>
            {% for cat in ctx.expense_types %}
              {% with table|get_item:cat as val%}
              <td class="{{weekend_col}} {{val|css_class_if_none}}">{{val|price|cellformat}}</td>{%endwith%}
            {% endfor %}

            <!-- total expenses -->
            {% with table|get_item:_("Viso") as val%}<td class="{{weekend_col|add:' left-blue-double-border right-blue-double-border'}} {{val|css_class_if_none}}">{{val|price|cellformat}}</td>{% endwith %}

            <!-- savings -->
            {% with table|get_item:_("Taupymas") as val%}<td class="{{weekend_col}} {{val|css_class_if_none}}">{{val|price|cellformat}}</td>{% endwith %}

            <!-- spending -->
            <td class="text-start {{weekend_col}} empty-column">{{spending.date|date:'l'}}</td>
            {% with spending.day as val%}<td class="{{val|negative}} {{val|css_class_if_none}}">{{val|price|cellformat}}</td>{% endwith %}

            {% with spending.full as val%}<td class="{{val|negative|add:' -full'|add:' empty-column-wide'}} {{val|css_class_if_none}}">{{val|price|cellformat}}</td>{% endwith %}

        </tr>{% endwith %}{% endwith %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start">&#8721;</th>
            {% for cat in ctx.expense_types %}
                {% with ctx.total_row|get_item:cat as val%}<th class="{{val|css_class_if_none}}">{{val|price|cellformat}}</th>{% endwith %}
            {% endfor %}

            <!-- total expenses -->
            {% with ctx.total_row|get_item:_("Viso") as val%}<th class="{{val|css_class_if_none}} left-blue-double-border right-blue-double-border">{{val|price|cellformat}}</th>{% endwith %}


            <!-- savings -->
            {% with ctx.total_row|get_item:_("Taupymas") as val%}<th class="{{val|css_class_if_none}}">{{val|price|cellformat}}</th>{% endwith %}

            <th class="empty-column"></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script>
    function make_x_data() {
        var dict = {};
        for (var i = 1; i <= 31; i++) {
            dict['open' + i] = false;
        }
        return dict;
    }
</script>
