{% load i18n %}

<div class="row mt-2 gx-2">
    <div class="col-lg-8 table-responsive" id="month_table">
        {{ month_table|safe }}
    </div>
    <div class="col-lg-4">
        <div class="d-flex flex-column align-items-start h-100">
            <div class="w-100 mb-auto">
                <div x-show="show_chart"><div id="chart-targets-container"></div></div>
                <div x-show="!show_chart"><div id="chart-expenses-container"></div></div>
                {{ chart_targets|json_script:"chart-targets-data" }}
                {{ chart_expenses|json_script:"chart-expenses-data" }}
                <script>
                    chartExpensesTarget('chart-targets-data', 'chart-targets-container');
                    chartExpensesOnly('chart-expenses-data', 'chart-expenses-container');
                </script>
            </div>
            <div class="w-100" id="info">{{ info|safe }}</div>
        </div>
    </div>
</div>
