{% load i18n %}
{% load slippers %}
{% load math %}

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="<p>{% translate 'Unnecessary expenses that can be avoided' %}:<br />{% for i in not_use %}- {{ i }}<br />{% endfor %}</p>" class="text-start exception">{{ save_sum|price|floatformat:'0g' }}</th>
            <th>€ + F</th>
            <th>€ + F + P</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in no_incomes %}
        <tr>
            <td>{{obj.title}}</td>
            {% table_cell value=obj.money_fund|price %}
            {% table_cell value=obj.money_fund_pension|price %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <b>€</b> - {% translate 'Money in accounts' %}<br />
    <b>F</b> - {% translate 'Funds/Stocks' %}<br />
    <b>P</b> - {% translate 'Pension funds' %}
</p>

<script>setUpToolTip();</script>
