{% load i18n %}
{% load slippers %}
{% load math %}


<table class="striped hover">
    <thead>
        <tr>
            <th class="text-start exception"><span class="tip right" data-html="true" data-tip="{% translate 'Unnecessary expenses that can be avoided' %}:
{% for i in not_use %}- {{ i }}
{% endfor %}">{{ save_sum|price|floatformat:'0g' }}</span></th>
            <th>€ + F</th>
            <th>€ + F + P</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in no_incomes %}
        <tr>
            {% if obj.price %}
                {% var money_fund=obj.money_fund|price|floatformat:'2g' %}
                {% var money_fund_pension=obj.money_fund_pension|price|floatformat:'2g' %}
            {% else %}
                {% var money_fund=obj.money_fund|floatformat:'1g' %}
                {% var money_fund_pension=obj.money_fund_pension|floatformat:'1g' %}
            {% endif %}

            <td>{{obj.title}}</td>
            <td>{{money_fund}}</td>
            <td>{{money_fund_pension}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <b>€</b> - {% translate 'Money in accounts' %}<br />
    <b>F</b> - {% translate 'Funds/Stocks' %}<br />
    <b>P</b> - {% translate 'Pension funds' %}
</p>
