{% load table_cell %}

<table class="table table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th colspan="7"></th>
            <th ></th>
            <th colspan="2" class="text-center">Pelnas/Nuostolis<br>Pervestos sumos</th>
        </tr>
        <tr>
            <th>Fondas</th>
            <th class="text-right">01.01<br>pevesta</th>
            <th class="text-right">01.01<br>mokesčiai</th>
            <th class="text-right">Pervesta</th>
            <th class="text-right">Mokesčiai</th>
            <th class="text-right">Pirkimo suma</th>
            <th class="text-right">Rinkos vertė</th>
            <th class="text-right">%</th>
            <th class="text-right">Suma</th>
            <th class="text-right">%</th>
        </tr>
    </thead>
    <tbody>
        {% for item in savings %}
        <tr>
            <td>{{ item.title }}</td>
            {% cell item.past_amount width='110rem' %}
            {% cell item.past_fee width='110rem' %}
            {% cell item.incomes width='110rem' %}
            {% cell item.fees width='110rem' %}
            {% cell item.invested width='110rem' %}
            {% cell item.market_value width='110rem' %}
            {% cell item.profit_incomes_proc width='110rem' %}
            {% cell item.profit_invested_sum text_after='€' highlight_value=True width='110rem' %}
            {% cell item.profit_invested_proc text_after='%' highlight_value=True width='110rem' %}
        </tr>
        {% endfor %}
    </tbody>
</table>
