{% load table_cell %}{% load cell_format %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th></th>
            <th class="text-right">Diena</th>
            <th class="text-right">Viso</th>
        </tr>
    </thead>
    <tbody>
        {% for row in spending_table %}
        <tr {% if day|slugify == row.date|date:'j' %}class="_current_day"{% endif %}>
            {% with row.date|date:'w' as weekend %}
            <td class="text-left {% if weekend == '0' or weekend == '6' %}_weekend{% endif %}">{{ row.date|date:'l' }}</td>{% endwith %}
            {% cell row.day css_class=row.day|negative %}{% cell row.full css_class=row.full|negative|add:' -full' %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    .table-danger {
        font-weight: bold;
    }

    .table-danger.-full {
        background-color: #fe536a;
        font-weight: bold;
    }
</style>
