{% load cell_format %}
{% load table_cell %}
{% load i18n %}

<table class="table table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th></th>
            <th class="text-end">{% translate 'Plan' %}</th>
            <th class="text-end">{% translate 'Fact' %}</th>
            <th class="text-end">{% translate 'Delta' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.plan|floatformat:2 }}</td>
            <td class="{% if item.title == _('Incomes') or item.title == _('Balance') %}{{ item.fact|compare:item.plan }}{% else %}{{ item.plan|compare:item.fact }}{% endif %}">{{ item.fact|floatformat:2 }}</td>
            {% cell item.delta highlight_value=True %}
        </tr>
        {% endfor %}

    </tbody>
</table>
