{% load cell_format %}
{% load slippers %}
{% load i18n %}
{% load math %}

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th></th>
            <th>{% translate 'Plan' %}</th>
            <th>{% translate 'Fact' %}</th>
            <th>{% translate 'Delta' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in ctx %}
        <tr>
            {% table_cell value=item.title %}
            {% table_cell value=item.plan|price %}

            {% if item.title == _('Incomes') or item.title == _('Balance') %}
                {% table_cell value=item.fact|price css_class=item.fact|compare:item.plan %}
                {% table_cell value=item.fact|sub:item.plan|price highlight_value=True %}
            {% else %}
                {% table_cell value=item.fact|price css_class=item.plan|compare:item.fact %}
                {% table_cell value=item.plan|sub:item.fact|price highlight_value=True %}
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>
