{% load get_item %}
{% load i18n %}
{% load math %}
{% load cell_format %}


<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-start">{% translate 'Expense' %}</th>
            {% for year in chart.categories %}
            <th>{{ year|title }}</th>
            {% endfor %}
            <th>{% translate 'Total' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in chart.data %}
        <tr>
            <td class="text-start">{{ row.name }}</td>
            {% for i in row.data %}
            <td class="{{i|css_class_if_none}}">{{i|price|cellformat}}</td>
            {% endfor %}
            <td>{{total_col|get_item:row.name|price|cellformat}}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start">{% translate 'Total' %}</th>
            {% for i in total_row %}
            <th class="{{i|css_class_if_none}}">{{i|price|cellformat}}</th>
            {% endfor %}
            <th class="{{total|css_class_if_none}}">{{total|price|cellformat}}</th>
        </tr>
    </tfoot>
</table>
