{% load i18n %}
{% load crispy_forms_tags %}

<form novalidate method="post" id="expenses-summary-form">
    {% csrf_token %}
    {{ form.types|as_crispy_field }}
    <button type="submit" name="search" class="button-secondary">{% translate 'Filter' %}</button>
</form>

<div>
    {% include 'core/form_errors.html' %}

    {% if found %}

    <div id="chart-container">
        {{chart|json_script:"chart-data"}}
        <script src="/static/js/chart_summary_expenses.js"></script>
        <script>
            chartExpenses('chart-data', 'chart-container');
        </script>
    </div>

    {% include 'bookkeeping/includes/summary_expenses_table.html' %}</div>

    {% elif not found and error %}
    <div class="alert alert-danger">{{error}}</div>
    {% endif %}
</div>
