{% load table_cell %}
<table class="table table-striped table-hover table-sm stats">
    <thead>
        <tr class="top">
            <th class="text-end">Metų pradžioje</th>
            <th class="text-end">Metų pabaigoje</th>
            <th class="text-end">Metų balansas</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            {% cell amount_start tag='th' %}
            {% cell months_amount_end tag='th' %}
            {% cell amount_balance tag='th' highlight_value=True %}
        </tr>
    </tfoot>
</table>
