{% load table_cell %}
{% load template_filters %}
{% load i18n %}

<table class="table table-striped table-hover table-sm stats">
    <thead class="thead-light">
        <tr class="top">
            <th colspan="{{ categories|length|add:1 }}" {% if not categories|length %}style="width: 90%"{% endif %}>{% translate 'Expenses statistic' %}</th>
            <th class="bl top"></th> 
        </tr>
        <tr>
            <th class="text-start w5">{{ year|title }}</th>
            {% for cat in categories %}<th class="text-end" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ cat }}">{{ cat|truncatechars:8 }}</th>{% endfor %}
            <th class="bl">{% translate 'Total' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data  %}
        <tr>
            <td class="text-start">{{ item.date|date:"F"|title }}</td>
            {% for cat in categories %}
            {% cell item|get_item:cat %}
            {% endfor %}
            {% cell item.total css_class="bl" %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-start">Avg</th>
            {% for cat in categories %}{% cell avg_row|get_item:cat tag='th' %}{% endfor %}
            {% cell avg_row.total tag='th' css_class="bl" %}
        </tr>
        <tr class="total">
            <th class="text-start">{% translate 'Total' %}</th>
            {% for cat in categories %}{% cell total_row|get_item:cat tag='th' %}{% endfor %}
            {% cell total_row.total tag='th' css_class="bl" %}
        </tr>
    </tfoot>
</table>
