@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

@use "sass:color";

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};

    --positive: #{$positive};
    --positive-bg: #{$positive-bg};
    --positive-text: #{$positive-text};

    --negative: #{$negative};
    --negative-bg: #{$negative-bg};
    --negative-text: #{$negative-text};

    --chart-negative: #{$chart-negative};
    --chart-negative-dark: #{color.adjust($chart-negative, $lightness: -15%, $space: hsl)};
    --chart-negative-super-dark: #{color.adjust($chart-negative, $lightness: -35%, $space: hsl)};

    --chart-positive: #{$chart-positive};
    --chart-positive-dark: #{color.adjust($chart-positive, $lightness: -15%, $space: hsl)};
    --chart-positive-super-dark: #{color.adjust($chart-positive, $lightness: -35%, $space: hsl)};

    --warning-text: #{$warning-text};
    --chart-warning: #{$chart-warning};
    --chart-warning-dark: #{color.adjust($chart-warning, $lightness: -15%, $space: hsl)};
    --chart-warning-super-dark: #{color.adjust($chart-warning, $lightness: -35%, $space: hsl)};

    --chart-color-0: #3b82f6;
    --chart-color-1: #06b6d4;
    --chart-color-2: #10b981;
    --chart-color-3: #84cc16;
    --chart-color-4: #eab308;
    --chart-color-5: #f97316;
    --chart-color-6: #ef4444;
    --chart-color-7: #8b5cf6;
    --chart-color-8: #ec4899;
    --chart-color-9: #6b7280;

    @include gradient-tint($secondary, "chart-tint");
    @include gradient-alpha($secondary, "chart-alpha");
}
