{% extends 'base.html' %}

{% load i18n %}


{% block head %}{% endblock head %}


{% block content %}
    <main class="grid-one-col">
    {% if object_list %}
        {% for row in object_list %}
        <div><c-detailed-table :name=row.name :items=row.items :total=row.total :total_col=row.total_col :total_row=row.total_row :category=row.category /></div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">
            {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
        </div>
    {% endif %}
    </main>
{% endblock content %}
