{% extends 'base.html' %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock head %}


{% block content %}

<div class="row my-2 border-bottom border-primary">
    <div class="col-lg-4 pr-3">
        {% include 'bookkeeping/includes/balance_month.html' %}
    </div>

    <div class="col-lg-8 pl-3">
        {% include 'bookkeeping/includes/months_expense_type.html' %}
    </div>
</div>

<div class="row my-2 border-bottom border-primary">
    <div class="col-lg-5">
        <div id="container-for-pie"></div>
        {% include 'bookkeeping/includes/chart_expenses.html' %}
    </div>

    <div class="col-lg-7">
        <div id="container-for-balance"></div>
        {% include 'bookkeeping/includes/chart_balance.html' %}
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-8">
        <!-- accounts stats -->
        <div class="row mt-2">
            <div class="col-lg-10">
                <h6>Sąskaitos</h6>
            </div>
            <div class="col-lg-2 text-right">
                {% url 'bookkeeping:accounts_worth_new' as url_accounts %}
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_accounts }}"><i class="fas fa-plus"></i> Įrašą</button>
            </div>
        </div>
        <div class="row mt-2">
            <div id="accounts_worth" class="col dblclick">{{ accounts }}</div>
        </div>

        <!-- savings -->
        <div class="row mt-2">
            <div class="col-lg-10">
                <h6>Fondų vertė</h6>
            </div>
            <div class="col-lg-2 text-right">
                {% url 'bookkeeping:savings_worth_new' as url_expenses_new %}
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expenses_new }}"><i class="fas fa-plus"></i> Įrašą</button>
            </div>
        </div>
        <div class="row mt-2">
            <div id="saving_worth" class="col-lg-12 dblclick">{{ savings }}</div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-md">
        <div class="modal-content"></div>
    </div>
</div>

<style>

</style>
{% endblock content %}

