{% extends 'base.html' %}
{% load static %}
{% load tables %}
{% load i18n %}


{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="{% static 'js/reload_stats.js' %}"></script>
{% endblock head %}


{% block content %}

<div class="row gx-2 my-2 border-bottom border-primary">
    <div class="col-lg-5 table-responsive">{{ year_balance }}</div>
    <div class="col-lg-7 table-responsive">{{ year_expenses }}</div>
</div>

<div class="row gx-2 my-2 border-bottom border-primary">
    <div class="col-lg-5">{{ chart_expenses }}</div>
    <div class="col-lg-7">{{ chart_balance }}</div>
</div>

<div class="row my-4">
    <div class="col-md-12 col-lg-6">
        {% url 'bookkeeping:accounts_worth_new' as url_accounts %}
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_accounts }}"><i class="bi bi-plus"></i> {% translate 'Accounts fact' %}</button>
        {% url 'bookkeeping:savings_worth_new' as url_expenses_new %}
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expenses_new }}"><i class="bi bi-plus"></i> {% translate 'Funds fact' %}</button>
        {% url 'bookkeeping:pensions_worth_new' as url_pensions_new %}
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_pensions_new }}"><i class="bi bi-plus"></i> {% translate 'Pensions fact' %}</button>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'core:regenerate_balances_current_year' year %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'The balance for this year will be updated.' %}"><i class="bi bi-arrow-repeat"></i> {% blocktranslate with year=year|safe %}Update {{ year }} balance</a>.{% endblocktranslate %}
        <a class="btn btn-sm btn-outline-danger" href="{% url 'core:regenerate_balances' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Balances for all years will be updated.' %}"><i class="bi bi-arrow-repeat"></i> {% translate 'Update balances' %}</a>
    </div>
    <div class="col-md-12 col-lg-6 text-lg-end mt-md-2 mt-lg-0">
        {% url 'accounts:accounts_new' as url_accounts %}
        {% url 'expenses:expenses_type_new' as url_expenses_type_new %}
        {% url 'expenses:expenses_name_new' as url_expenses_name_new %}
        {% url 'incomes:incomes_type_new' as url_incomes_type_new %}
        {% url 'savings:savings_type_new' as url_savings_type_new %}
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_accounts }}"><i class="bi bi-plus"></i> {% translate 'Account' context 'account button' %}</button>
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_incomes_type_new }}"><i class="bi bi-plus"></i>{% translate 'Incomes type' context 'income type button' %}</button>
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expenses_type_new }}"><i class="bi bi-plus"></i>{% translate "Expenses type" context "expenses type button" %}</button>
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expenses_name_new }}"><i class="bi bi-plus"></i>{% translate "Expenses name" context "expenses name button" %}</button>
        <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_savings_type_new }}"><i class="bi bi-plus"></i> {% translate 'Fund' context 'fund button' %}</button>
    </div>
</div>

<!-- accounts stats -->
<div class="row gx-2">
    <div id="accounts_worth" class="col-lg-7">{{ accounts }}</div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div>{% info_table year_balance_short %}</div>
            </div>
            <div class="col-lg-12 col-md-6">
                <div id="no_incomes">{{ no_incomes }}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="row">
            <div class="col-lg-12 col-md-3">
                <!-- Wealth -->
                <div id="wealth">{% info_table wealth %}</div>
            </div>

            <div class="col-lg-12 col-md-3">
                <!-- Average Incomes and Expenses -->
                <div id="avg_incomes">{% info_table averages %}</div>
            </div>

            <div class="col-lg-12 col-md-3">
                <!-- Debts Borrow -->
                <div id="borrow">{% info_table borrow %}</div>
            </div>

            <div class="col-lg-12 col-md-3">
                <!-- Debts Lent -->
                <div id="lent">{% info_table lent %}</div>
            </div>
        </div>
    </div>
</div>


<!-- savings -->
<div class="row mt-3">
    <div id="savings_worth" class="col-lg-12">{{ savings }}</div>
</div>

<!-- pensions -->
<div class="row mt-3">
    <div id="pensions_worth" class="col-lg-12">{{ pensions }}</div>
</div>

<script>
    $(function () {
        var load_html = function () {
            var btn = $(this);
            var url = btn.data('url');

            if (url == undefined || !url) {
                return;
            }

            $.ajax({
                url: url,
                data: {
                    'ajax_trigger': '1'
                },
                success: function (data) {
                    if (data) {
                        var accounts = $(data).filter('#accounts_worth');
                        $('#accounts_worth').html(accounts);
                    }
                }
            });
        };

        $(document).on('click', '.reset', load_html);
    });

    $(document).on('hidden.bs.modal', '#modal-form', function () {
        var url = `{% url 'bookkeeping:reload_index' %}`;

        $.ajax({
            url: url,
            data: {
                'ajax_trigger': '1'
            },
            success: function (data) {
                var blocks = [
                    'no_incomes',
                    'wealth',
                    'savings_worth',
                    'pensions_worth',
                ];
                reload_stats(data, blocks);
            }
        });
    });
</script>
{% endblock content %}

