{% extends 'base.html' %}{% load cell_decimal %}

{% block head %}
{{ form.media }}
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock head %}


{% block content %}

<div class="col-3 pl-0">
 <table>
     <thead>
         <tr>
             <th>Sąskaita</th>
             <th class="text-right">01.01</th>
             <th class="text-right">Pajamos</th>
             <th class="text-right">Išlaidos</th>
             <th class="text-right">Likutis</th>
        </tr>
     </thead>
     <tbody>
        {% for account, stats in tbl.items %}
            <tr>
                <td>{{ account }}</td>
                {% td stats.past width='10%' %}
                {% td stats.incomes width='10%' %}
                {% td stats.expenses width='10%' %}
                {% td stats.balance width='10%' %}
            </tr>
        {% endfor %}
     </tbody>
 </table>
</div>

<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-md">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}
