{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block head %}

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/bullet.js"></script>
<script src="{% static 'js/highcharts_themes/my-theme.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/highcharts_themes/my-theme.css' %}">

{% endblock head %}


{% block content %}

<main class="two-columns" x-data="{show_chart: true}">
    <!-- month table -->
    <div id="month_content" hx-ext="alpine-morph" hx-swap="morph" hx-target="this">{% include 'bookkeeping/includes/month_table.html' with ctx=month_table %}</div>

    <!-- chart and info table -->
    <div id="month-chart-and-info-table">
        <!-- chart -->
        <div>
            {{ chart_targets|json_script:"chart-targets-data" }}
            {{ chart_expenses|json_script:"chart-expenses-data" }}
            <div x-show="show_chart" id="chart-targets-container" hx-get="{% static 'bookkeeping/chart_month_targets.html' %}" hx-trigger="load" hx-target="this"></div>

            <div x-show="!show_chart" id="chart-expenses-container"></div>
        </div>

        <!-- info table -->
        <div>
            {% include 'bookkeeping/includes/spending_info.html' with ctx=info %}
        </div>
    </div>

    <!-- month buttons -->
    <div>
        <div class="btn-group d-flex btn-group-month" role="group">
        {% with request.user.month as month %}
        {% for m in context_months %}
        {% with m|date:'n' as m_num %}
        <a role="button" hx-get="{% url 'bookkeeping:month' %}?month={{m_num}}" hx-target="body" hx-indicator="#indicator" class="btn btn-sm btn-month {% if month|slugify == m_num %}btn-primary{% else %}btn-secondary{% endif %}">{{ m|date:'F'|title }}</a>
        {% endwith %}{% endfor %}{% endwith %}
        </div>

    </div>

    <!-- other buttons -->
    <div>
        <div class="btn-group d-flex btn-group-month" role="group">
            <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'expenses:new' %}" hx-target="#dialog"> <i class="bi bi-plus"></i>{% translate 'Expenses' context "expenses button" %}</button>{{" "}}
            <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'incomes:new' %}" hx-target="#dialog"> <i class="bi bi-plus"></i>{% translate 'Incomes' context "incomes button" %}</button>{{" "}}
            <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'savings:new' %}" hx-target="#dialog"> <i class="bi bi-plus"></i>{% translate 'Savings' context "savings button" %}</button>{{" "}}
            <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'transactions:new' %}" hx-target="#dialog"> <i class="bi bi-plus"></i>{% translate 'Transactions' context 'transactions button' %}</button>{{" "}}
            <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'drinks:new' 'index' %}" hx-target="#dialog"><i class="bi bi-plus"></i>{% translate 'Drinks' context 'drinks button' %}</button>{{" "}}
            <button class="btn btn-sm btn-info" @click="show_chart = ! show_chart" hx-get="{% static 'bookkeeping/chart_month_expenses.html' %}" hx-target="#chart-expenses-container" hx-trigger="click once">{% translate 'Show other chart' %}</button>
        </div>
    </div>

</main>

<div hx-get="{% url 'bookkeeping:month' %}" hx-target="body" hx-trigger="reload from:body"></div>
{% endblock content%}
