{% extends 'base.html' %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock head %}

{% block content %}

{% if records > 1 %}
<div class="row my-2">
    <div class="col-md-12 col-lg-6">
        {% include 'bookkeeping/includes/chart_summary_savings.html' with items=funds title=_('Funds') %}
    </div>
    <div class="col-md-12 col-lg-6">
        {% include 'bookkeeping/includes/chart_summary_savings.html' with items=shares title=_('Shares') %}
    </div>
</div>

<div class="row my-2">
    <div class="col-md-12 col-lg-6">
        {% include 'bookkeeping/includes/chart_summary_savings.html' with items=pensions title=_('Pensions')|add:' III' %}
    </div>
</div>

<div class="row my-2">
    <div class="col">
        {% include 'bookkeeping/includes/chart_summary_savings.html' with items=all title=_('Funds')|add:', '|add:_('Shares')|add:', '|add:_('Pensions')|add:' III' %}
    </div>
</div>

{% else %}
{% include 'core/no_records.html' with two_years=True %}
{% endif %}

{% endblock content %}
