{% extends 'base.html' %}

{% load static %}


{% block head %}
    {% include 'highcharts.html' %}
{% endblock head %}


{% block content %}

<main class="grid-one-col">

    {% if chart_balance.records > 1 %}
    <div id="chart-balance-container">
        <script src="/static/js/chart_summary_balance.js" defer></script>
        {{ chart_balance|json_script:"chart-balance-data" }}
    </div>
    {% else %}
    {% include 'core/no_records.html' with two_years=True %}
    {% endif %}


    {% if chart_incomes.records > 1 %}
    <div id="chart-incomes-container">
        <script src="/static/js/chart_summary_incomes.js" defer></script>
        {{ chart_incomes|json_script:"chart-incomes-data" }}
    </div>
    {% else %}
    {% include 'core/no_records.html' with two_years=True %}
    {% endif %}


    <div id="chart-incomes-types-container">
        <script src="/static/js/chart_summary_incomes_types.js" defer></script>
        {{ chart_incomes_types|json_script:"chart-incomes-types-data" }}
    </div>

</main>

{% endblock content %}
