{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'highcharts/highcharts.js' %}"></script>
<script src="{% static 'js/highcharts_themes/my-theme.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/highcharts_themes/my-theme.css' %}">

{% endblock head %}

{% block content %}


<main class="summary-expenses-grid">
    {% include 'bookkeeping/includes/summary_expenses_form.html' %}
</main>

<script>
    function options_class() {
        const options = document.querySelectorAll('#id_types option');
        options.forEach(option => {
            option.classList.add(option.value.includes(':') ? 'spacer' : 'root');
        });
    }

    /* check on page load */
    document.addEventListener('DOMContentLoaded', options_class);

    /* check on ajax complete */
    document.addEventListener('ajaxComplete', options_class);
</script>

{% endblock content %}
