{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="{% static 'js/highcharts_themes/my-theme.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/highcharts_themes/my-theme.css' %}">

{% endblock head %}

{% block content %}


<main class="summary-expenses-grid">
    {% include 'bookkeeping/includes/summary_expenses_form.html' %}
</main>

<script>
    function options_class() {
        $('#id_types option').addClass(function () {
            if(this.value.includes(':')) {
                return 'spacer';
            } else {
                return 'root';
            }
        });
    };

    $(document).ready(options_class);
    $(document).ajaxComplete(options_class);
</script>

{% endblock content %}
