{% extends 'base.html' %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>


{% endblock head %}

{% block content %}

{% if records > 1 %}
<div class="row mt-2">
    <div class="col-md-12 col-lg-6">
        <div id="funds_container"></div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div id="shares_container"></div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12 col-lg-6">
        <div id="pensions3_container"></div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div id="pensions2_container"></div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12 col-lg-6">
        <div id="funds_shares_container"></div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div id="all_container"></div>
    </div>
</div>


{% else %}
{% include 'core/no_records.html' with two_years=True %}
{% endif %}

<script src="/static/js/chart_summary_savings.js"></script>

{{funds|json_script:"funds_container_data"}}
{{shares|json_script:"shares_container_data"}}
{{pensions3|json_script:"pensions3_container_data"}}
{{pensions2|json_script:"pensions2_container_data"}}
{{funds_shares|json_script:"funds_shares_container_data"}}
{{all|json_script:"all_container_data"}}

<script>
    $(document).ready( function () {
        chartSavings('funds_container');
        chartSavings('shares_container');
        chartSavings('pensions3_container');
        chartSavings('pensions2_container');
        chartSavings('funds_shares_container');
        chartSavings('all_container');
    });
</script>

{% endblock content %}
