{% extends 'base.html' %}

{% load static %}
{% load get_item %}
{% load slippers %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="{% static 'js/highcharts_themes/my-theme.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/highcharts_themes/my-theme.css' %}">
{% endblock head %}


{% block content %}

{% if records > 1 %}
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div id="funds"></div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div id="shares"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div id="pensions"></div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div id="pensions2"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div id="funds_shares"></div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div id="funds_shares_pensions"></div>
    </div>
</div>


{% else %}
{% include 'core/no_records.html' with two_years=True %}
{% endif %}

<script src="/static/js/chart_summary_savings.js"></script>

{% for chart in pointers %}
    {% var data_id=chart|add:"_data" %}
    {{charts|get_list_val:chart|json_script:data_id}}
{% endfor %}

<script>
    $(document).ready( function () {
        {{pointers|safe}}.forEach(element => {
            chartSavings(String(element));
        });
    });

</script>

{% endblock content %}
