{% load humanize %}
{% load i18n %}

{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>{% translate 'Date' %}</th>
            <th>{% translate 'Who' %}</th>
            <th>{% translate 'Sum' %}</th>
            <th>{% translate 'Account' %}</th>
            <th>{% translate 'Remark' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'debts:borrows_return_update' item.id as url_update %}
        {% url 'debts:borrows_return_delete' item.id as url_delete %}
        <tr data-url="" class="dblclick">
            <td class="text-start">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.borrow.name }}</td>
            <td class="text-start">{{ item.price|intcomma }}</td>
            <td class="text-start">{{ item.account }}</td>
            <td class="text-start">{{ item.remark }}</td>
            <td class="w-edit">
                <a role="button" data-url="{{ url_update }}" data-target="borrow" class=" js-create set-target edit" title="{% translate 'Edit' %}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
            <td class="w-delete">
                <a role="button" data-url="{{ url_delete }}" data-target="borrow" class="js-delete set-target trash"
                    title="{% translate 'Delete' %}"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
