{% load humanize %}

{% if items %}
<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Data</th>
            <th>Skolininkas</th>
            <th>Paskolinta</th>
            <th>Gražinta</th>
            <th>Sąskaita</th>
            <th>Pastaba</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'debts:borrows_update' item.id as url_update %}
        <tr data-url="" class="dblclick">
            <td class="text-start">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.name }}</td>
            <td class="text-start">{{ item.price|intcomma }}</td>
            <td class="text-start">{{ item.returned|intcomma }}</td>
            <td class="text-start">{{ item.account }}</td>
            <td class="text-start">{{ item.remark }}</td>
            <td class="w-edit">
                <a role="button" data-url="{{ url_update }}" class=" js-create edit" title="Edit">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
            <td class="w-delete">
                <a role="button" data-url="" class="js-delete trash" title="Delete"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    <b>{{ request.user.year|title }}</b> metais įrašų nėra.
</div>

{% endif %}
