{% load humanize %}
{% load i18n %}

{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th class="w5">{% translate 'Date' %}</th>
            <th class="w8">{% translate 'Borrower' %}</th>
            <th class="w10">{% translate 'Sum' %}</th>
            <th class="w10">{% translate 'Account' %}</th>
            <th>{% translate 'Remark' %}</th>
            <th class="text-center w3">{% translate 'Closed' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'debts:borrows_return_update' item.id as url_update %}
        {% url 'debts:borrows_return_delete' item.id as url_delete %}
        <tr data-url="" class="dblclick" {% ifchanged item.borrow.name or ifchanged item.borrow.closed %}{% if not forloop.first %}style="border-top: 5px #c0c0c0 solid;"{% endif %}{% endifchanged %}>
            <td class="text-start">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.borrow.name }}</td>
            <td class="text-start">{{ item.price|intcomma }}</td>
            <td class="text-start">{{ item.account }}</td>
            <td class="text-start">{{ item.remark }}</td>
            <td class="text-center">{% if item.borrow.closed %}<i class="bi bi-check-circle-fill"></i>{% endif %}</td>
            <td class="w-edit">
                {% if not item.borrow.closed %}
                <a role="button" data-url="{{ url_update }}" data-target="borrow" class=" js-create set-target edit" title="{% translate 'Edit' %}">
                    <i class="bi bi-pencil-fill"></i>
                </a>{% endif %}
            </td>
            <td class="w-delete">
                {% if not item.borrow.closed %}
                <a role="button" data-url="{{ url_delete }}" data-target="borrow" class="js-delete set-target trash" title="{% translate 'Delete' %}">
                    <i class="bi bi-trash-fill"></i>
                </a>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
