{% load humanize %}
{% load i18n %}
{% load slippers %}

{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th class="w5">{% translate 'Date' %}</th>
            <th class="w8">{% translate 'Lender' %}</th>
            <th class="w10">{% translate 'Sum' %}</th>
            <th class="w10">{% translate 'Account' %}</th>
            <th>{% translate 'Remark' %}</th>
            <th class="text-center w3">{% translate 'Closed' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'debts:debts_return_update' item.id as url_update %}
        {% url 'debts:debts_return_delete' item.id as url_delete %}
        <tr data-url="" class="dblclick" {% ifchanged item.debt.name or ifchanged item.debt.closed %}{% if not forloop.first %}style="border-top: 5px #c0c0c0 solid;"{% endif %}{% endifchanged %}>
            <td class="text-start">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.debt.name }}</td>
            <td class="text-start">{{ item.price|intcomma }}</td>
            <td class="text-start">{{ item.account }}</td>
            <td class="text-start">{{ item.remark }}</td>
            <td class="text-center">{% if item.debt.closed %}<i class="bi bi-check-circle-fill"></i>{% endif %}</td>
            {% if not item.debt.closed %}
            {% edit_cell url=url_update target="debt" %}
            {% delete_cell url=url_delete target="debt" %}
            {% else %}
            <td colspan="2"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
