<div id="clander_{{ id }}_container"></div>
<script>
Highcharts.chart('clander_{{ id }}_container', {

    chart: {
        type: 'heatmap',
        plotBorderWidth: 0,
        height: 200,
        events: {
        		// show the month name (series.name) as label of every block
            // add text element to the BBox - using SVGRenderer
            load: function() {
                var series = this.series;
                var bbox;

                series.forEach(function(s) {
                    bbox = s.group.getBBox(true);
                    bbox = s.dataLabelsGroup.getBBox(true);
                    this.renderer.text(
                            s.name,
                            bbox.x + this.plotLeft + bbox.width / 2,
                            bbox.y - this.plotTop - 40
                            // bbox.x + this.plotLeft + bbox.width / 2,
                            // bbox.y + this.plotTop - 10
                        )
                        .attr({
                            align: 'center'
                        })
                        .css({
                            color: '#666666',
                            fontSize: '11px'
                        })
                        .add();
                }, this);
            }
        }
    },


    title: {
        text: '-',
        style: {
          color: 'white',
        }
    },

    xAxis: {
    		type: 'category',
        title: null,
        lineWidth: 0,
        gridLineWidth: 0,
        minorGridLineWidth: 0,
        tickWidth: 0,
    		opposite: true,
        labels: {
        	// don't show the axis label : it's the category id
          // see plotOptions -> dataLabels to show the week number
        	enabled: false
        }
    },

    yAxis: {
    		type: 'category',
        categories: ['P', 'A', 'T', 'K', 'P', 'Š', 'S'],
        title: null,
        reversed: true,
        lineWidth: 0,
        gridLineWidth: 0,
        minorGridLineWidth: 0,
				minTickInterval: 1,
        labels: {
        	style: {
            fontSize: '9px'
          }
        },
    },

    colorAxis: {
        min: 0,
        max: 10,
        tickInterval: 1,
        tickmarkPlacement: 'on',
        stops: [
            [0,   '#ffffff'],	 // empty cell
            [0.1, '#eeeeee'],  // day without record
            [0.2, '#aac5e6'],  // saturday
            [0.3, '#1076b0'],  //	sunday
            [0.4, '#ff7d1e'],  //	day has record
            [0.5, '#7ecf85'],  //	current day
            [0.6, '#ff331e'],  //	current day has record
        ],
        labels: {
          enabled: true
        }
    },

    legend: {
    		enabled: false,
        verticalAlign: 'bottom',
        layout: 'horizontal',
        margin: 30,
        y: 40
    },

    credits: {
    	enabled: false
    },

    tooltip: {
    	useHTML: true,
      formatter: function () {
        if(this.point.value==0) return false;
        var s = this.point.date;
        if(this.point.value == 4)
        {
        	s += '<div class="gap">Tarpas '+this.point.gap+'d.</div>';
        	s += '<div class="qty">Kiek '+this.point.qty+'</div>';
        }
        return s;
      }
    },

    plotOptions: {
      series: {
        // show the week number under the calendar blocks
        // use the datas of last block row and move it down
        dataLabels: {
          enabled: true,
          y: 20,
          crop: false,
          overflow: 'allow',
          //zIndex: 20,
          formatter: function() {
            if(this.point.y == 6 || this.point.y == 16)
              return this.point.week;
            else
              return null;
          },
          style: {
            fontSize: '9px',
            color: '#999999',
            fontWeight: 'normal',
            textOutline: 'none'
          },
        },
        borderColor: '#ffffff',
        borderWidth: 2
      }
    },

    series: {{ data|safe }}
});
</script>
