{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Data</th>
            <th>Kiekis</th>
            <th class="no-right-border"></th>
            <th class="no-left-border"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url url_update item.id as url_upd %}
        {% url url_delete item.id as url_dlt %}
        {% ifchanged item.date|date:"F" %}{% if not forloop.first %}<tr><td colspan="4" class="table-active"></td></tr>{% endif %}
        {% endifchanged %}
        <tr data-url="{{ url }}" class="dblclick">
            <td class="text-start">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.quantity }}</td>
            <td class="w-edit no-right-border">
                <a role="button" data-url="{{ url_upd }}" class=" js-create edit" title="Edit"><i class="bi bi-pencil-fill"></i></a>
            </td>
            <td class="w-delete no-left-border">
                <a role="button" data-url="{{ url_dlt }}" class="js-delete trash" title="Delete"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    <b>{{ request.user.year|title }}</b> metais įrašų nėra.
</div>

{% endif %}
