/* 
.btn-group-month .btn {
    margin-right: 5px !important;
    border-radius: 0.2rem !important;
}

.btn-group-month .btn:last-child {
    margin-right: 0 !important;
}


.page-link {
    font-size: var(--font-size-sm);
    padding-left: .75rem !important;
    padding-right: .75rem !important;
}

.tooltip.show p {
    text-align: left;
}


.funds-title-col-min-width {
    min-width: 8rem !important;
}

.badge td {
    padding: 0.25rem .25rem;
    color: #004085;
}

.table tr>.expense-ordinary {
    padding-left: .55rem !important;
}


.plans-star {
    color: #e83e8c;
    padding-left: .5rem;
    font-weight: bold;
}



.formset-input {
    padding-top: .1rem;
}


//* DatePicker icon and input size
.bi-calendar {
    margin-top: -.35rem;
    height: 1.35em;
}


.expenses-edit-icon {
    position: absolute;
    top: 0.15rem;
    right: 30px;
    display: block;
    z-index: 99;
} */
