{% extends 'base.html' %}


{% block head %}
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
{% endblock head %}


{% block content %}

{% url 'incomes:incomes_new' as url_incomes %}
{% url 'incomes:incomes_type_new' as url_incomes_type_new %}
<div class="col-8 pl-0">
    <div class="row my-2">
        <div class="col text-right">
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_incomes }}"><i class="fas fa-plus"></i> Pajamas</button>
        </div>
    </div>
    <div id="ajax-content" class="dblclick">{{ incomes }}</div>
</div>
<div class="col-4 px-0">
    <div class="row my-2">
        <div class="col text-right">
            <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_incomes_type_new }}"><i class="fas fa-plus"></i> Pajamų rūšį</button>
        </div>
    </div>
    <div id="ajax-content-categories" class="dblclick">{{ categories }}</div>
</div>

<div class="modal fade" id="modal-form">
    <div class="modal-dialog modal-md">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}
