{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/sticky-table-headers.js' %}"></script>

{% endblock head %}


{% block content %}


<main class="grid-70-30">
    <div>
        <div class="button-row">
            <div hx-trigger="reloadSearch from:body">
                <c-search-form url="{% url 'incomes:search' %}" reset_url="{% url 'incomes:list' %}" target="#data" />
            </div>
            <c-new-button url="{% url 'incomes:new' %}" title="{% translate 'Incomes' context 'incomes button' %}" />
        </div>

        <div id="data" hx-get="{% url 'incomes:list' %}" hx-trigger="load"></div>
    </div>

    <div>
        <div class="button-row row-reverse">
            <c-new-button url="{% url 'incomes:type_new' %}" title="{% translate 'Incomes type' context 'income type button' %}" />
        </div>

        <div id="incometype_list" hx-trigger="load, afterType from:body" hx-get="{% url 'incomes:type_list' %}" hx-target="this"></div>
    </div>

</main>

{% endblock content %}
