{% load i18n %}
{% load math %}
{% load cache %}
{% load get_item %}
{% load cell_format %}

{% if data %}
<table class="main striped hover">
    <thead class="sortable-header-row">
        <tr>
            <c-sort-th key="title" :active=order :url=url target="#tbl-{{ url_title }}" class="text-left title-col">{{ title }}</c-sort-th>
            <c-sort-th key="1" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'January' %}</c-sort-th>
            <c-sort-th key="2" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'February' %}</c-sort-th>
            <c-sort-th key="3" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'March' %}</c-sort-th>
            <c-sort-th key="4" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'April' %}</c-sort-th>
            <c-sort-th key="5" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'May' %}</c-sort-th>
            <c-sort-th key="6" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'June' %}</c-sort-th>
            <c-sort-th key="7" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'July' %}</c-sort-th>
            <c-sort-th key="8" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'August' %}</c-sort-th>
            <c-sort-th key="9" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'September' %}</c-sort-th>
            <c-sort-th key="10" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'October' %}</c-sort-th>
            <c-sort-th key="11" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'November' %}</c-sort-th>
            <c-sort-th key="12" :active=order :url=url target="#tbl-{{ url_title }}">{% translate 'December' %}</c-sort-th>
            <c-sort-th key="total_col" :active=order :url=url target="#tbl-{{ url_title }}" class="left-thick-border">{% translate 'Total' %}</c-sort-th>
        </tr>
    </thead>

    <tbody>
        {% for row in data %}
        <tr>
            <td class="text-left">{{ row.title }}</td>

            {% for num in months %}
                {% with cell_value=row|get_item:num %}
                    <td class="{{ cell_value|css_class_if_none }}">
                        {{ cell_value|price|cellformat:"0,00" }}
                    </td>
                {% endwith %}
            {% endfor %}

            <td class="left-thick-border">
                <b>{{ row.total_col|price|cellformat:"0,00" }}</b>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th class="text-left">{% translate 'Total' %}</th>

            {% for num in months %}
                {% with cell_value=total|get_item:num %}
                    <th class="{{ cell_value|css_class_if_none }}">
                        {{ cell_value|price|cellformat:"0,00" }}
                    </th>
                {% endwith %}
            {% endfor %}

            <th class="left-thick-border">{{ total.total_col|price|cellformat:"0,00" }}</th>
        </tr>
    </tfoot>
</table>
{% endif %}
