{% load i18n %}
{% load math%}
{% load cache %}
{% load get_item %}
{% load cell_format %}


<table class="main striped hover" id="tbl-{{category}}">
    <thead>
        <tr>
            <th class="text-left title-col"><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'title' %}" hx-target="#tbl-{{category}}">{{ name }}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'jan' %}" hx-target="#tbl-{{category}}">{% translate 'January' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'feb' %}" hx-target="#tbl-{{category}}">{% translate 'February' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'mar' %}" hx-target="#tbl-{{category}}">{% translate 'March' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'apr' %}" hx-target="#tbl-{{category}}">{% translate 'April' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'may' %}" hx-target="#tbl-{{category}}">{% translate 'May' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'jun' %}" hx-target="#tbl-{{category}}">{% translate 'June' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'jul' %}" hx-target="#tbl-{{category}}">{% translate 'July' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'aug' %}" hx-target="#tbl-{{category}}">{% translate 'August' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'sep' %}" hx-target="#tbl-{{category}}">{% translate 'September' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'oct' %}" hx-target="#tbl-{{category}}">{% translate 'October' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'nov' %}" hx-target="#tbl-{{category}}">{% translate 'November' %}</a></th>
            <th><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'dec' %}" hx-target="#tbl-{{category}}">{% translate 'December' %}</a></th>
            <th class=" left-thick-border"><a role="button" hx-get="{% url 'bookkeeping:detailed_category' category 'total' %}" hx-target="#tbl-{{category}}">{% translate 'Total' %}</a></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="text-left">{{ item.title|safe }}</td>
            {% for i in item.data %}
                <td class="{{i|css_class_if_none}}">{{i|price|cellformat:"0,00"}}</td>
            {% endfor %}
            <td class="left-thick-border">
                <b>{{total_col|get_list_val:forloop.counter0|price|cellformat:"0,00"}}</b>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-left">{% translate 'Total' %}</th>
            {% for i in total_row %}
            <th class="{{i|css_class_if_none}}">{{i|price|cellformat:"0,00"}}</th>
            {% endfor %}
            <th class="left-thick-border">{{total|price|cellformat:"0,00"}}</th>
        </tr>
    </tfoot>
</table>
