{% load i18n %}
{% load slippers %}

{% if object_list %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Nr</th>
            <th>{% translate 'Author' %}</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Remark' %}</th>
            <th class="text-center">{% translate 'Started reading' %}</th>
            <th class="text-center">{% translate 'Ended reading' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'books:update' object.id as url_update %}
        {% url 'books:delete' object.id as url_delete %}
        {% ifchanged object.started|date:"Y" %}{% if not forloop.first %}<tr><td colspan="8" class="table-active"></td></tr>{% endif %}
        {% endifchanged %}
        <tr hx-get="{{ url_update }}{% if tab %}?tab={{ tab }}{% endif %}" hx-trigger="dblclick" hx-target="#dialog" class="{% if not object.ended %} teal{% endif %}">
            <td class="text-start">{{ forloop.revcounter }}</td>
            <td class="text-start">{{ object.author }}</td>
            <td class="text-start">„{{ object.title }}”</td>
            <td class="text-start">{{ object.remark }}</td>
            <td class="text-center">{{ object.started|date:"Y-m-d" }}</td>
            <td class="text-center">{{ object.ended|date:"Y-m-d"|default_if_none:'-' }}</td>
            {% edit_cell url=url_update %}
            {% delete_cell url=url_delete %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% paging url=url page_obj=object_list page_range=page_range search=search %}

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
{% if notice %}
    {{ notice|safe }}
{% else %}
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
{% endif %}
</div>

{% endif %}
