{% load i18n %}
{% load math %}

{% if object_list %}


<table class="main book-table striped hover sticky-table">
    <thead>
        <tr>
            <th class="text-left day-col">Nr</th>
            <th class="text-left author-col">{% translate 'Author' %}</th>
            <th class="text-left book-title-col">{% translate 'Title' %}</th>
            <th class="text-left remark-col">{% translate 'Remark' %}</th>
            <th class="text-center">{% translate 'Started reading' %}</th>
            <th class="text-center">{% translate 'Ended reading' %}</th>
            <th class="edit-col"></th>
            <th class="delete-col"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'books:update' object.id as url_update %}
        {% url 'books:delete' object.id as url_delete %}

        <tr hx-get="{{ url_update }}{% if tab %}?tab={{ tab }}{% endif %}" hx-trigger="dblclick" hx-target="#mainModal" class="{% if not object.ended %} currently-reading-book{% endif %}">
            <td class="text-left">{% firstof first_item|sub:forloop.counter0 forloop.counter %}</td>
            <td class="text-left">{{ object.author }}</td>
            <td class="text-left">„{{ object.title }}”</td>
            <td class="text-left">{{ object.remark }}</td>
            <td class="text-center">{{ object.started|date:"Y-m-d" }}</td>
            <td class="text-center">{{ object.ended|date:"Y-m-d"|default_if_none:'-' }}</td>
            <c-td-edit :url=url_update />
            <c-td-delete :url=url_delete />
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>$('.sticky-table').stickyTableHeaders();</script>

<c-paging :tab=tab :url=url :search=search :paginator_object=paginator_object :page_obj=object_list target="#data"/>

{% else %}

<div class="alert alert-warning">
{% if notice %}
    {{ notice|safe }}
{% else %}
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
{% endif %}
</div>

{% endif %}
