{% load i18n %}

<div class="info-row-text">
    <div>{% translate 'Readed' %}:</div>
    <div class="bigger">{{ readed|floatformat:'0g' }}</div>

    <div>{% translate 'Reading' %}:</div>
    <div class="bigger">{{ reading|floatformat:'0g' }}</div>

    {% if target %}
    <div>{% translate 'Goal' %}:</div>
    <div class="bigger">
        <a role="button" hx-get="{% url 'books:target_update' target.id %}" hx-target="#dialog" class="no-hover">{{ target.quantity|floatformat:'0g' }}</a>
    </div>
    {% endif %}
</div>
