{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/sticky-table-headers.js' %}"></script>
{% endblock head %}


{% block content %}

{% translate 'Record' context 'record button' as record_button_title %}

<main class="grid-70-30">
    <div>
        <!-- Funds -->
        <div class="button-row">
            <h6>{% translate 'Funds' %}</h6>
            <c-new-button url="{% url 'savings:new' %}" title="{{ record_button_title }}" css_class="flex-right" />
        </div>
        <div id="saving_list" class="margin-bottom" hx-get="{% url 'savings:list' %}" hx-trigger="reload from:body, afterType from:body" hx-target="this" hx-indicator="#indicator">{{saving}}</div>

        <!-- Pensions -->
        <div class="button-row">
            <h6>{% translate 'Pension' %}, {% translate 'II stage' %}</h6>
            <c-new-button url="{% url 'pensions:new' %}" title="{{ record_button_title }}" css_class="flex-right" />
        </div>
        <div id="pensions_list" class="margin-bottom" hx-get="{% url 'pensions:list' %}" hx-trigger="afterPension from:body, afterPensionType from:body" hx-target="this">{{pension}}</div>
    </div>

    <div>
        <!-- Funds Types -->
        <div class="button-row">
            <c-new-button url="{% url 'savings:type_new' %}" title="{% translate 'Fund' context 'fund button' %}" css_class="flex-right" />
        </div>
        <div id="savintype_list" class="margin-bottom" hx-get="{% url 'savings:type_list' %}" hx-trigger="afterType from:body" hx-target="this">{{saving_type}}</div>

        <!-- Pension Types -->
        <div class="button-row">
            <c-new-button url="{% url 'pensions:type_new' %}" title="{% translate 'Pension' context 'pension button' %}" css_class="flex-right" />
        </div>
        <div id="pensiontype_list" hx-get="{% url 'pensions:type_list' %}" hx-trigger="afterPensionType from:body" hx-target="this">{{pension_type}}</div>
    </div>
</main>

{% endblock content %}
