{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/css-loader.css' %}">
{% endblock head %}


{% block content %}

<!-- Loader -->
<div class="htmx-indicator loader loader-default is-active" id="indicator"></div>

<div class="row gx-2">
    <div class="col-lg-8">
        <!-- Funds -->
        <div class="row my-2">
            <div class="col">
                <h6>{% translate 'Funds' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'savings:new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Record' context 'record button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="saving_list" class="col" hx-get="{% url 'savings:list' %}" hx-trigger="reload from:body, afterType from:body" hx-target="this" hx-indicator="#indicator">{{saving}}</div>
        </div><!-- End Funds -->

        <!-- Pensions -->
        <div class="row my-2">
            <div class="col">
                <h6>{% translate 'Pension' %}, {% translate 'II stage' %}</h6>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'pensions:new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Record' context 'record button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="pensions_list" class="col" hx-get="{% url 'pensions:list' %}" hx-trigger="afterPension from:body, afterPensionType from:body" hx-target="this">{{pension}}</div>
        </div><!-- End Pensions -->
    </div>

    <div class="col-lg-4">
        <!-- Funds Types -->
        <div class="row my-2">
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'savings:type_new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Fund' context 'fund button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="savintype_list" class="col-lg-12" hx-get="{% url 'savings:type_list' %}" hx-trigger="afterType from:body" hx-target="this">{{saving_type}}</div>
        </div>
        <!-- End Funds Types -->

        <!-- Pension Types -->
        <div class="row mt-4 mb-2">
            <div class="col text-end">
                <button type="button" class="btn btn-sm btn-outline-success" hx-get="{% url 'pensions:type_new' %}" hx-target="#dialog"><i class="bi bi-plus"></i> {% translate 'Pension' context 'pension button' %}</button>
            </div>
        </div>
        <div class="row">
            <div id="pensiontype_list" class="col-lg-12" hx-get="{% url 'pensions:type_list' %}" hx-trigger="afterPensionType from:body" hx-target="this">{{pension_type}}</div>
        </div>
        <!-- End Pension Types -->
    </div>
</div>

{% endblock content %}
