{% load i18n %}
{% load math %}
{% load cell_format %}


{% if object_list %}

<table class="table table-sm table-striped table-hover sticky-table">
    <thead>
        <tr>
            <th class="text-start">{% translate 'Date' %}</th>
            <th class="text-start w12">{% translate 'Fund' %}</th>
            <th class="text-start w6">{% translate 'From account' %}</th>
            <th class="text-start w18">{% translate 'Remark' %}</th>
            <th class="w8">{% translate 'Sum' %}</th>
            <th class="w8">{% translate 'Fees' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url 'savings:update' object.id as url_update %}
        {% url 'savings:delete' object.id as url_delete %}
        <tr hx-get="{{ url_update }}" hx-trigger="dblclick" hx-target="#dialog" class="{% ifchanged object.date|date:"F" %}{% if not forloop.first %}table-group-divider{% endif %}{% endifchanged %}">
            <td class="text-start">{{ object.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ object.saving_type }}</td>
            <td class="text-start">{{ object.account }}</td>
            <td class="text-start">{{ object.remark }}</td>
            <td>{{object.price|price|cellformat}}</td>
            <td class="{{object.fee|css_class_if_none}}">{{object.fee|price|cellformat}}</td>
            {% include "core/includes/cell_edit.html" with url=url_update %}
            {% include "core/includes/cell_delete.html" with url=url_delete %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>$('.sticky-table').stickyTableHeaders();</script>

{% else %}
<div class="mx-auto text-center alert alert-warning py-2 mb-4">
    {% blocktranslate with year=request.user.year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>
{% endif %}
