<div class="accordion" id="accordion_p1">
    <div class="accordion-item">
        <div class="accordion-header" id="heading_p1">
            <button class="accordion-button collapsed btn-sm rounded-top" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse_p1" aria-expanded="false" aria-controls="collapse_p1">Pensijų fondai</button>
        </div>
        <div id="collapse_p1" class="accordion-collapse collapse show" aria-labelledby="heading_p1" data-bs-parent="#accordion_p1">
            <div class="accordion-body">
                {% for item in items %}
                {% url 'pensions:pensions_type_update' item.id as url_update %}
                <div class="list-group-item" data-url="{{ url_update }}">{{ item.title }}
                    <span style="position: absolute; top: 0.25rem; right: 5px; display: block;">
                        <button type="button" data-url="{{ url_update }}" class="btn btn-super-sm edit js-create"><i class="bi bi-pencil-fill"></i></button>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
