{% load i18n %}

<ul class="accordion">
  <li>
    <input type="checkbox">
    <i></i>
    <h2>{{title}}</h2>
    <div class="accordion__dropdown">
        {% for object in object_list %}
        {% url ''|add:url_name object.id as url_update %}
        <div class="accordion__dropdown__item">
            {% if object.closed %}
                <p><s>{{ object.title }}</s> <i>{% translate 'closed' %} <b>{{ object.closed|safe }}</b></i></p>
            {% else %}
                <p>{{ object.title }}</p>
            {% endif %}
            <a role="button" class="edit" hx-get="{{url_update}}" hx-target="#dialog"><i class="bi bi-pencil-fill"></i></a>
        </div>
        {% endfor %}
    </div>
  </li>
</ul>