{% load widget_tweaks %}
{% if form.is_bound %}
    {% if field.errors %}
        {% with "is-invalid "|add:custom_class as classnames %}
        {% render_field field class=classnames %}
        {% endwith %}
        {% for error in field.errors %}
            <span class="invalid-feedback"><strong>{{ error }}</strong></span>
        {% endfor %}
    {% else %}
        {% with "is-valid "|add:custom_class as classnames %}
        {% render_field field class=classnames %}
        {% endwith %}
    {% endif %}
{% else %}
    {% with ""|add:custom_class as classnames %}
    {% render_field field class=classnames %}
    {% endwith %}
{% endif %}
