{% load i18n %}
    <div class="modal-footer">
        {% if submit_button %}<button type="submit" {% if form_action == "update" %}id="_update"{% else %}id="_new"{% endif %} class="btn btn-sm btn-primary">{{ submit_button }}</button>{% endif %}
        {% if form_action == 'update' %}<button type="submit" id="_close" class="btn btn-sm btn-primary">{% translate 'Update and Close' %}</button>{% endif %}
        {% if form_action == 'insert' %}<button type="submit" id="_close" class="btn btn-sm btn-primary">{% translate 'Insert and Close' %}</button>{% endif %}
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{% translate 'Close' %}</button>
    </div>
