{% load crispy_forms_tags %}
{% load slippers %}
{% load i18n %}


<form method="post" class="modal-content form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ url }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' data-hx-trigger-form="{{hx_trigger_form}}"  :data-hx-inserted="inserted" >
    {% csrf_token %}
    {% include 'core/includes/form_date_scripts.html' %}
    {{ formset.management_form|crispy }}

    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="modal-body">
        {% if formset.non_form_errors %}
        <div class="alert alert-danger">
        {% for error in formset.non_form_errors %}<strong>{{ error|escape }}</strong>{% endfor %}
        </div>
        {% endif %}

        {% for form in formset.forms %}
        {% include 'core/includes/form_errors.html' %}

        <div class="row">
            {% for field in form %}
            {% var col='col' %}
            {% if field.name == 'price' %}
                {% var col='formset-input'%}
            {% endif %}
            {% if field.name == 'date' %}
                {% var col='formset-input'%}
            {% endif %}
            <div class="{{col}}">{{ field|as_crispy_field }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    {% include 'core/includes/form_footer.html' %}
</form>
