{% load crispy_forms_tags %}

<form method="post" novalidate id="js-form" class="js-form" action="{{ url }}" data-action="{{ action }}"
    autocomplete="off" tabindex="-1" data-update-container="{{ update_container }}">
    {% csrf_token %}

    {{ formset.management_form|crispy }}


    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% for form in formset.forms %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <div class="row mb-2">
            {% for field in form %}
            <div class=" {% if field.name == 'price' %}col-3{% else %}col-9{% endif %}">{{ field|as_crispy_field }}
            </div>
            {% endfor %}
        </div>

        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" id="submit">{{ action|title }}</button>
        {% if action != 'update' %}<button type="button" class="btn btn-sm btn-primary" id="save_close">Save and Close</button>{% endif %}
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>


<script>
    $(document).keydown(function (event) {
        if (event.keyCode == 27) {
            $('#modal-form').modal("hide");
        }
    });

    $(document).on('submit', '.js-form', function (e) {
        e.preventDefault();
    });
</script>
