{% load crispy_forms_tags %}
{% load i18n %}

<form method="POST" id="dialog-form" class="modal-content form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ url }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-encoding="multipart/form-data" data-hx-trigger-form="{{hx_trigger_form}}"  :data-hx-inserted="inserted">
    {% csrf_token %}
    {% include 'core/includes/form_date_scripts.html' %}
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="modal-body">
        {% include 'core/includes/form_errors.html' %}

        {% for field in form %}
        {% if not field.is_hidden %}
        <div class="row">
            <div>{{ field.label_tag }}</div>
            <div>
            <!-- add price field -->
            {% if field.html_name == 'total_sum' %}
            <div class="row">
                <div>{{ field|as_crispy_field }}</div>
                <div id="div_sum_prices"><button type="button" id="add_price" class="btn-secondary w-100">{% translate 'Add' %}</button></div>
            </div>
            {% else %}
            {{ field|as_crispy_field }}
            {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% include 'core/includes/form_footer.html' %}
</form>
