<form method="post" novalidate id="js-form" class="js-form" action="{{ url }}" data-action="{{ action }}" autocomplete="off" tabindex="-1" data-update-container="{{ update_container }}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Trynimo patvirtinimas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Ar tikrai nori išrinti : <strong>{{ object }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" id="save_close">Delete</button>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>
{% include 'core/includes/modal_form_js.html' %}
