{% load i18n %}

<form method="POST" class="modal-content form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ url }}" data-hx-trigger-form="{{hx_trigger_form}}"  :data-hx-inserted="inserted">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="modal-body">
        <p class="py-0 my-4">
            {% translate 'Are you sure you want to delete' %}: <strong>{{ object }}</strong>?
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" id="_close" class="btn btn-sm btn-danger">{% translate 'Delete' %}</button>
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{% translate 'Close' %}</button>
    </div>
</form>
