{% load crispy_forms_tags %}
{% load i18n %}


<form method="post" novalidate id="js_form" class="js_form" action="{{ url }}" data-action="{{ form_action }}"
    autocomplete="off" tabindex="-1" data-update-container="{{ update_container }}">
    {% csrf_token %}
    {% include 'core/includes/form_date_scripts.html' %}
    {{ formset.management_form|crispy }}

    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="modal-body">

        {% for field in shared_form %}{{ field|as_crispy_field }}{% endfor %}

        {% if formset.non_form_errors %}
        <div class="alert alert-danger">
        {% for error in formset.non_form_errors %}<strong>{{ error|escape }}</strong>{% endfor %}
        </div>
        {% endif %}

        {% for form in formset.forms %}
        {% include 'core/includes/form_errors.html' %}

        <div class="row gx-2">
            {% for field in form %}
            <div class=" {% if field.name == 'price' %}col-3 formset-price-input{% else %}col-9{% endif %}">{{ field|as_crispy_field }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    {% include 'core/includes/form_footer.html' %}
</form>


<script>
    $(document).keydown(function (event) {
        if (event.keyCode == 27) {
            $('#modal-form').modal("hide");
        }
    });

    $(document).on('submit', '.js_form', function (e) {
        e.preventDefault();
    });
</script>
