{% load slippers %}
{% load get_item %}
{% load math %}
{% load i18n %}
{% load cell_format %}


{% if data.title and data.data %}
<table class="main">
    <thead>
        <tr>
            {% for title in data.title %}
            <th style="width: calc(100%/{{ data|length }});">
                {{ title }}
            </th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for d in data.data %}
            <td class="{% if data.highlight|get_list_val:forloop.counter0 %}{{d|positive_negative}}{% endif %}">
                <span {% if calculate_debt_remains and forloop.counter0 == 0 %} class="tip bottom w100" data-tip="{% translate 'Remains to be returned' %}:  {{data.data.0|sub:data.data.1|price|floatformat:'2g'}}"{% endif %}>
                    {{d|price|cellformat}}
                </span>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}
