{% load slippers %}
{% load get_item %}
{% load math %}

{% if data.title and data.data %}
<table class="table table-sm">
    <thead>
        <tr>
            {% for title in data.title %}
            <th class="text-nowrap" style="width: calc(100%/{{ title|length }});">
                {{ title }}
            </th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for d in data.data %}
            {% table_cell value=d|price highlight_value=data.highlight|get_list_val:forloop.counter0 %}
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}
