{% load crispy_forms_tags %}

<form novalidate method="post" id="search_form" class="row d-flex gx-2 align-items-center">
    {% csrf_token %}
    <div class="form-group col align-self-start">
        {{ form.search|as_crispy_field }}
    </div>
    <div class="form-group col-auto align-self-start">
        <input type="submit" name="search" value="Search" id="search_btn" class="btn btn-secondary btn-sm search_click text-right my-auto" data-url="{{ url }}">
    </div>
</form>

<style>
    #search_btn {
        padding: 0.15rem;
        width: 3.65rem;
        margin-top: 0.1rem!important;
    }
</style>
