{% load static %}
{% load i18n %}


<form method="POST" id="modal-form" class="modal-content modal-form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ url }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-encoding="multipart/form-data" data-hx-trigger-form="{{hx_trigger_form}}"  :data-hx-inserted="inserted">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">{{ modal_form_title|safe }}</h5>
        <button type="button" class="button-close modal-close" data-dismiss="mainModal" aria-label="{% translate 'Close' %}"></button>
    </div>

    <div class="modal-body {{modal_body_css_class}}">
        {% block form %}
            <c-form-errors :errors=form.non_field_errors />
            <c-form-body :form=form />
        {% endblock form %}
    </div>

    <div class="modal-footer">
        {% if form_action == "insert" %}
            <button type="submit" id="_new" class="button-secondary" @click="inserted = true">
                {% translate 'Insert' %}
            </button>
        {% endif %}

        {% if form_action == 'update' %}
            <button type="submit" id="_close" class="button-secondary">
                {% translate 'Update and Close' %}
            </button>
        {% endif %}

        {% if form_action == 'insert' or form_action == 'insert_close' %}
            <button type="submit" id="_close" class="button-secondary" @click="inserted = true">
                {% translate 'Insert and Close' %}
            </button>
        {% endif %}

        <button type="button" class="button-active modal-close" data-dismiss="mainModal">{% translate 'Close' %}</button>
    </div>
</form>


{% block from_scripts %}
    {% include 'core/form_date_scripts.html' %}
    {% if 'price' or 'fee' in form.fields %}
        <script src="{% static 'js/alter_price.js' %}"></script>
    {% endif %}
{% endblock from_scripts %}