{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


<form method="POST" id="modal-form" class="modal-content modal-form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ url }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-encoding="multipart/form-data" data-hx-trigger-form="{{hx_trigger_form}}"  :data-hx-inserted="inserted">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">{{ modal_form_title|safe }}</h5>
        <button type="button" class="button-close modal-close" data-dismiss="mainModal" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="modal-body {{modal_body_css_class}}">
        {% block form %}
            <c-form-body :form=form />
        {% endblock form %}
    </div>

    {% block form_footer %}
        {% include 'core/form_footer.html' %}
    {% endblock form_footer %}
</form>


{% block from_scripts %}
    {% include 'core/form_date_scripts.html' %}
    {% if 'price' or 'fee' in form.fields %}
        <script src="{% static 'js/alter_price.js' %}"></script>
    {% endif %}
{% endblock from_scripts %}