{% load i18n %}

<form method="POST" id="modal-form" class="modal-content modal-form" novalidate autocomplete="off" tabindex="-1" hx-post="{{ url }}" data-hx-trigger-form="{{hx_trigger_form}}"  :data-hx-inserted="inserted">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">{{ modal_form_title|safe }}</h5>
        <button type="button" class="button-close modal-close" data-dismiss="mainModal" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="modal-body">
        <p>
            {% translate 'Are you sure you want to delete' %}: <strong>{{ object }}</strong>?
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" id="_close" class="button-danger" autofocus>{% translate 'Delete' %}</button>
        <button type="button" class="button-active modal-close" data-dismiss="mainModal">{% translate 'Close' %}</button>
    </div>
</form>
