{% load i18n %}
{% load static %}
{% load slippers %}

{% if object_list %}

<script src="{% static 'js/sticky-table-headers.js' %}"></script>
<table class="table table-sm table-striped table-hover sticky-table">
    <thead>
        <tr>
            <th class="text-start">{% translate 'Date' %}</th>
            <th class="text-start">{% translate 'From account' %}</th>
            <th class="text-start">{% translate 'To account' %}</th>
            <th>{% translate 'Amount' %}</th>
            {% if fee %}<th>{% translate 'Fees' %}</th>{% endif %}
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% url url_update object.id as url__update %}
        {% url url_delete object.id as url__delete %}
        <tr hx-get="{{ url__update }}" hx-trigger="dblclick" hx-target="#dialog" class="{% ifchanged object.date|date:"F" %}{% if not forloop.first %}table-group-divider{% endif %}{% endifchanged %}">
            <td class="text-start">{{ object.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ object.from_account }}</td>
            <td class="text-start">{{ object.to_account }}</td>
            <td>{{ object.price|floatformat:'2g' }}</td>
            {% if fee %}<td>{{ object.fee }}</td>{% endif %}
            {% edit_cell url=url__update %}
            {% delete_cell url=url__delete %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>$('.sticky-table').stickyTableHeaders();</script>
{% else %}

<div class="mx-auto text-center alert alert-warning py-2 mb-4">
    {% blocktranslate with year=year|default_if_none:'xxxx'|safe %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
