{% load i18n %}
{% load slippers %}

{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>{% translate 'Date' %}</th>
            <th>{% translate 'From account' %}</th>
            <th>{% translate 'To account' %}</th>
            <th class="text-end">{% translate 'Amount' %}</th>
            {% if fee %}<th class="text-end">{% translate 'Fees' %}</th>{% endif %}
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url url_update item.id as url__update %}
        {% url url_delete item.id as url__delete %}
        {% ifchanged item.date|date:"F" %}{% if not forloop.first %}<tr><td colspan="6" class="table-active"></td></tr>{% endif %}
        {% endifchanged %}
        <tr data-url="{{ url_update }}" class="dblclick">
            <td class="text-start">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-start">{{ item.from_account }}</td>
            <td class="text-start">{{ item.to_account }}</td>
            <td>{{ item.price }}</td>
            {% if fee %}<td>{{ item.fee }}</td>{% endif %}
            {% edit_cell url=url__update %}
            {% delete_cell url=url__delete %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2 mb-4">
    {% blocktranslate with year=year|default_if_none:'xxxx'|safe %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
</div>

{% endif %}
