{% load form %}{% load static %}
{% url 'accounts:load_to_account' as url_chained %}
{% generic_form title='Pinigų pervedimas' update_container='transactions_list' chained_dropdown=url_chained %}

<script>
    $("#id_from_account").change(function () {
        var url = $("#js-form").attr("data-chained-dropdown");
        var id = $(this).val();

        $.ajax({
            url: url,
            data: {
                'id': id
            },
            success: function (data) {
                $("#id_to_account").html(data);
            }
        });
    });
</script>

<script type="text/javascript" src="{% static 'js/alter_price.js' %}"></script>
