{% load static %}

{% if items %}

<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Nr</th>
            <th>Autorius</th>
            <th>Pavadinimas</th>
            <th>Pastaba</th>
            <th class="text-center">Pradėta skaityti</th>
            <th class="text-center">Baigta skaityti</th>
            <th width="30rem" class="no-right-border"></th>
            <th width="25rem" class="no-left-border"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'books:books_update' item.id as url_update %}
        {% url 'books:books_delete' item.id as url_delete %}
        {% ifchanged item.started|date:"Y" %}{% if not forloop.first %}<tr><td colspan="8" class="table-active"></td></tr>{% endif %}
        {% endifchanged %}
        <tr data-url="{{ url_update }}?tab={{ tab }}" class="dblclick{% if not item.ended %} teal{% endif %}">
            <td class="text-start">{{ forloop.revcounter }}</td>
            <td class="text-start">{{ item.author }}</td>
            <td class="text-start">„{{ item.title }}”</td>
            <td class="text-start">{{ item.remark }}</td>
            <td class="text-center">{{ item.started|date:"Y-m-d" }}</td>
            <td class="text-center">{{ item.ended|date:"Y-m-d"|default_if_none:'-' }}</td>
            <td class="text-center no-right-border">
                <a role="button" data-url="{{ url_update }}?tab={{ tab }}" class=" js-create edit" title="Edit"><i class="bi bi-pencil-fill"></i></a>
            </td>
            <td class="text-center no-left-border">
                <a role="button" data-url="{{ url_delete }}?tab={{ tab }}" class="js-delete trash" title="Delete"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    .teal {
        background-color: #8ce7c2!important;
    }
</style>

{% else %}

<div class="mx-auto text-center alert alert-warning py-2">
    <b>{{ request.user.year|title }}</b> metais irašų nėra.
</div>

{% endif %}
