{% load i18n %}
{% load math %}
{% load cell_format %}

<div class="plans-table">
<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-left title-col">{% translate 'Title' %}</th>
            <th><span class="plans-table__month-full">{% translate 'January' %}</span><span class="plans-table__month-short">{% translate 'jan' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'February' %}</span><span class="plans-table__month-short">{% translate 'feb' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'March' %}</span><span class="plans-table__month-short">{% translate 'mar' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'April' %}</span><span class="plans-table__month-short">{% translate 'apr' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'May' %}</span><span class="plans-table__month-short">{% translate 'may' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'June' %}</span><span class="plans-table__month-short">{% translate 'jun' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'July' %}</span><span class="plans-table__month-short">{% translate 'jul' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'August' %}</span><span class="plans-table__month-short">{% translate 'aug' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'September' %}</span><span class="plans-table__month-short">{% translate 'sep' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'October' %}</span><span class="plans-table__month-short">{% translate 'oct' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'November' %}</span><span class="plans-table__month-short">{% translate 'nov' %}</span></th>
            <th><span class="plans-table__month-full">{% translate 'December' %}</span><span class="plans-table__month-short">{% translate 'dec' %}</span></th>
            <th class="edit-col"></th>
            <th class="delete-col"></th>
        </tr>
    </thead>
    <tbody>
        {% for object, months in object_list.items %}

        <tr {% if url_update %}hx-get="{{url_update}}" hx-target="#mainModal" hx-trigger="dblclick"{% endif %}>
            <td class="text-left">

                {% if kind == "necessary" %}

                    {{ object.1 }} ({{ object.0.title}})

                    {% if update %}{% url update year object.0.id object.1 as url_update %}{% endif %}
                    {% if delete %}{% url delete year object.0.id object.1 as url_delete %}{% endif %}

                {% elif kind == "day" %}

                    {{ object }}

                    {% if update %}{% url update year as url_update %}{% endif %}
                    {% if delete %}{% url delete year as url_delete %}{% endif %}

                {% else %}

                    {{ object }}

                    {% if update %}{% url update year object.id as url_update %}{% endif %}
                    {% if delete %}{% url delete year object.id as url_delete %}{% endif %}

                {% endif %}

                {% if object.necessary or kind == "necessary" or kind == "saving" %} <i class="bi bi-star plans-star"></i>{% endif %}
            </td>
            <td class="{{months.1|css_class_if_none}}{% if states.1 == 'over' %} plans-table__over{% endif %}">{{months.1|price|cellformat:"0,00"}}</td>
            <td class="{{months.2|css_class_if_none}}{% if states.2 == 'over' %} plans-table__over{% endif %}">{{months.2|price|cellformat:"0,00"}}</td>
            <td class="{{months.3|css_class_if_none}}{% if states.3 == 'over' %} plans-table__over{% endif %}">{{months.3|price|cellformat:"0,00"}}</td>
            <td class="{{months.4|css_class_if_none}}{% if states.4 == 'over' %} plans-table__over{% endif %}">{{months.4|price|cellformat:"0,00"}}</td>
            <td class="{{months.5|css_class_if_none}}{% if states.5 == 'over' %} plans-table__over{% endif %}">{{months.5|price|cellformat:"0,00"}}</td>
            <td class="{{months.6|css_class_if_none}}{% if states.6 == 'over' %} plans-table__over{% endif %}">{{months.6|price|cellformat:"0,00"}}</td>
            <td class="{{months.7|css_class_if_none}}{% if states.7 == 'over' %} plans-table__over{% endif %}">{{months.7|price|cellformat:"0,00"}}</td>
            <td class="{{months.8|css_class_if_none}}{% if states.8 == 'over' %} plans-table__over{% endif %}">{{months.8|price|cellformat:"0,00"}}</td>
            <td class="{{months.9|css_class_if_none}}{% if states.9 == 'over' %} plans-table__over{% endif %}">{{months.9|price|cellformat:"0,00"}}</td>
            <td class="{{months.10|css_class_if_none}}{% if states.10 == 'over' %} plans-table__over{% endif %}">{{months.10|price|cellformat:"0,00"}}</td>
            <td class="{{months.11|css_class_if_none}}{% if states.11 == 'over' %} plans-table__over{% endif %}">{{months.11|price|cellformat:"0,00"}}</td>
            <td class="{{months.12|css_class_if_none}}{% if states.12 == 'over' %} plans-table__over{% endif %}">{{months.12|price|cellformat:"0,00"}}</td>
            <c-td-edit :url=url_update />
            <c-td-delete :url=url_delete />
        </tr>
        {% empty %}
        <tr class="table-alert-warning">
            <td colspan="13">
                {% blocktranslate with year=year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
