{% load get_item %}
{% load i18n %}
{% load math %}
{% load cache %}
{% load cell_format %}

<table class="main striped hover">
    <thead>
        <tr>
            <th class="text-left">{% translate 'Title' %}</th>
            <th class="w6p">{% translate 'January' %}</th>
            <th class="w6p">{% translate 'February' %}</th>
            <th class="w6p">{% translate 'March' %}</th>
            <th class="w6p">{% translate 'April' %}</th>
            <th class="w6p">{% translate 'May' %}</th>
            <th class="w6p">{% translate 'June' %}</th>
            <th class="w6p">{% translate 'July' %}</th>
            <th class="w6p">{% translate 'August' %}</th>
            <th class="w6p">{% translate 'September' %}</th>
            <th class="w6p">{% translate 'October' %}</th>
            <th class="w6p">{% translate 'November' %}</th>
            <th class="w6p">{% translate 'December' %}</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}

        {% if update %}{% url update item.id as url_update %}{% endif %}
        {% if delete %}{% url delete item.id as url_delete %}{% endif %}

        {% if type %}
            {% firstof item|get_obj_attr:type as name %}
        {% else %}
            {% firstof 'type' as name %}
        {% endif %}
        {% with _('Residual') as residual %}
        <tr {% if url_update %}hx-get="{{url_update}}" hx-target="#mainModal" hx-trigger="dblclick"{% endif %} class="{% if residual|safe in name %} plans-residual-row{% endif %}">
        {% endwith%}
            <td class="text-left">
                {{ name }}
                {% if expense_type %} ({{item|get_obj_attr:"expense_type"}}){% endif %}
                {% if item.expense_type.necessary or item.saving_type or item.title %} <i class="bi bi-star plans-star"></i>{% endif %}
            </td>
            <td class="{{item.january|css_class_if_none}}">{{item.january|price|cellformat:"0,00"}}</td>
            <td class="{{item.february|css_class_if_none}}">{{item.february|price|cellformat:"0,00"}}</td>
            <td class="{{item.march|css_class_if_none}}">{{item.march|price|cellformat:"0,00"}}</td>
            <td class="{{item.april|css_class_if_none}}">{{item.april|price|cellformat:"0,00"}}</td>
            <td class="{{item.may|css_class_if_none}}">{{item.may|price|cellformat:"0,00"}}</td>
            <td class="{{item.june|css_class_if_none}}">{{item.june|price|cellformat:"0,00"}}</td>
            <td class="{{item.july|css_class_if_none}}">{{item.july|price|cellformat:"0,00"}}</td>
            <td class="{{item.august|css_class_if_none}}">{{item.august|price|cellformat:"0,00"}}</td>
            <td class="{{item.september|css_class_if_none}}">{{item.september|price|cellformat:"0,00"}}</td>
            <td class="{{item.october|css_class_if_none}}">{{item.october|price|cellformat:"0,00"}}</td>
            <td class="{{item.november|css_class_if_none}}">{{item.november|price|cellformat:"0,00"}}</td>
            <td class="{{item.december|css_class_if_none}}">{{item.december|price|cellformat:"0,00"}}</td>
            <c-td-edit :url=url_update />
            <c-td-delete :url=url_delete />
        </tr>
        {% empty %}
        <tr class="table-alert-warning">
            <td colspan="13">
                {% blocktranslate with year=year|title %}No records in <b>{{ year }}</b>.{% endblocktranslate %}
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
