{% load humanize %}
<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Data</th>
            <th>Pajamų rūšis</th>
            <th>Sąskaita</th>
            <th>Pastaba</th>
            <th class="text-right">Suma</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'incomes:incomes_update' item.id as url_update %}
        {% ifchanged item.date|date:"F" %}<tr>{% if not forloop.first %}<td colspan="5" class="row-spacer"></td>{% endif %}</tr>
        {% endifchanged %}
        <tr data-url="{{ url_update }}">
            <td class="text-left">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-left">{{ item.income_title }}</td>
            <td class="text-left">{{ item.account_title }}</td>
            <td class="text-left">{{ item.remark }}</td>
            <td>{{ item.price|intcomma }}</td>
        </tr>
        {% empty %}
        <tr class="table-warning text-center">
            <td colspan="5" class="py-2"><b>{{ request.user.year|title }}</b> metais irašų nėra.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
