{% load humanize %}
<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top">
            <th>Data</th>
            <th>Pajamų rūšis</th>
            <th>Sąskaita</th>
            <th>Pastaba</th>
            <th class="text-right">Suma</th>
            <th width="35rem" class="no-right-border"></th>
            <th width="35rem" class="no-left-border"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% url 'incomes:incomes_update' item.id as url_update %}
        {% url 'incomes:incomes_delete' item.id as url_delete %}
        {% ifchanged item.date|date:"F" %}<tr>{% if not forloop.first %}<td colspan="7" class="row-spacer"></td>{% endif %}</tr>
        {% endifchanged %}
        <tr data-url="{{ url_update }}" class="dblclick">
            <td class="text-left">{{ item.date|date:"Y-m-d" }}</td>
            <td class="text-left">{{ item.income_type }}</td>
            <td class="text-left">{{ item.account }}</td>
            <td class="text-left">{{ item.remark }}</td>
            <td>{{ item.price|intcomma }}</td>
            <td class="no-right-border">
                <a type="button" data-url="{{ url_update }}" class=" js-create edit" title="Edit"><i class="bi bi-pencil-fill"></i></a>
            </td>
            <td class="text-center no-left-border">
                <a type="button" data-url="{{ url_delete }}" class="js-delete trash" title="Delete"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr class="table-warning text-center">
            <td colspan="7" class="py-2"><b>{{ request.user.year|title }}</b> metais irašų nėra.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
