{% load i18n %}
<div class="accordion" id="accordion">
    <div class="accordion-item">
        <div class="accordion-header" id="heading_1">
            <button class="accordion-button collapsed btn-sm rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1">{% translate 'Incomes type' %}</button>
        </div>
        <div id="collapse_1" class="accordion-collapse collapse show" aria-labelledby="heading_1" data-bs-parent="#accordion">
            <div class="accordion-body">
                {% for item in items %}
                {% url 'incomes:incomes_type_update' item.id as url_update %}
                <div class="list-group-item" data-url="{{ url_update }}">{{ item.title }}
                    <span class="edit-icon">
                        <button type="button" data-url="{{ url_update }}" class="btn btn-super-sm edit js-create"><i class="bi bi-pencil-fill"></i></button>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
