<div class="list-group mb-2">
    <div class="list-group-item list-group-item-action list-group-item-primary">Pajamų rūšys</div>
    {% for item in items %}
    {% url 'incomes:incomes_type_update' item.id as url_update %}
    <div class="list-group-item list-group-item-action dblclick" data-url="{{ url_update }}">
        {{ item.title }}
        <span style="position: absolute; top: .25rem; right: 5px; display: block;"><a type="button" data-url="{{ url_update }}" class="js-create" title="Edit"><i class="bi bi-pencil-fill edit"></i></a>
    </div>
    {% endfor %}
</div>
