{% extends 'base.html' %}


{% block head %}{% endblock head %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
        <!-- incomes plans -->
        <div class="row my-2">
            <div class="col-lg-10">
                <h6>Pajamų planas</h6>
            </div>
            <div class="col-lg-2 text-end">
                {% url 'plans:incomes_plan_new' as url_incomes_new %}
                <button type="button" class="btn btn-sm btn-outline-success px-2 js-create" data-url="{% url 'plans:copy_plans' %}"><i class="bi bi-stickies"></i> Kopijuoti planus</button>
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_incomes_new }}"><i class="bi bi-plus"></i>Įrašą</button>
            </div>
        </div>
        <div class="row">
            <div id="incomes_list" class="col-lg-12">{{ incomes_list }}</div>
        </div>

        <!-- expenses plans -->
        <div class="row my-2">
            <div class="col-lg-10"><h6>Išlaidų planas</h6></div>
            <div class="col-lg-2 text-end">
                {% url 'plans:expenses_plan_new' as url_expenses_new %}
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_expenses_new }}"><i class="bi bi-plus"></i>Įrašą</button>
            </div>
        </div>
        <div class="row">
            <div id="expenses_list" class="col-lg-12">{{ expenses_list }}</div>
        </div>

        <!-- necessary expenses plans -->
        <div class="row my-2">
            <div class="col-lg-10"><h6>Papildomų būtinų išlaidų planas</h6></div>
            <div class="col-lg-2 text-end">
                {% url 'plans:necessarys_plan_new' as url_necessary_new %}
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_necessary_new }}"><i class="bi bi-plus"></i>Įrašą</button>
            </div>
        </div>
        <div class="row">
            <div id="necessary_list" class="col-lg-12">{{ necessary_list }}</div>
        </div>

        <!-- savings plans -->
        <div class="row my-2">
            <div class="col-lg-10">
                <h6>Taupymo planas</h6>
            </div>
            <div class="col-lg-2 text-end">
                {% url 'plans:savings_plan_new' as url_savings_new %}
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_savings_new }}"><i class="bi bi-plus"></i>Įrašą</button>
            </div>
        </div>
        <div class="row">
            <div id="savings_list" class="col-lg-12">{{ savings_list }}</div>
        </div>

        <!-- day plans -->
        <div class="row my-2">
            <div class="col-lg-10">
                <h6>Suma dienai</h6>
            </div>
            <div class="col-lg-2 text-end">
                {% url 'plans:days_plan_new' as url_day_new %}
                <button type="button" class="btn btn-sm btn-outline-success js-create" data-url="{{ url_day_new }}"><i class="bi bi-plus"></i>Įrašą</button>
            </div>
        </div>
        <div class="row">
            <div id="day_list" class="col-lg-12">{{ day_list }}</div>
        </div>

        <!-- stats plans -->
        <div class="row my-2">
            <div class="col-lg-10"><h6>Skaičiavimai</h6></div>
            <div class="col-lg-2 text-end"></div>
        </div>
        <div class="row">
            <div id="plans_stats" class="col-lg-12">{{ plans_stats }}</div>
        </div>
    </div>
</div>


{% include 'modal.html' %}

<script>
    $(document).on('hidden.bs.modal', '#modal-form', function () {
        var url = `{% url 'plans:reload_plan_stats' %}`;
        var update_id = $("#js-form").attr("data-chained-dropdown");

        $.ajax({
            url: url,
            data: {
                'ajax_trigger': '1'
            },
            success: function (data) {
                $(`#${update_id}`).html(data);
            }
        });
    });
</script>
{% endblock content %}
