{% extends 'base.html' %}

{% load i18n %}


{% block content %}

{% translate 'Record' context 'record button' as record_button_title %}

<div class="grid-one-col plans-grid">
    <!-- incomes plans -->
    <div>
        <h6>{% translate 'Incomes' %}</h6>
        <div class="flex">
            <c-new-button url="{% url 'plans:income_new' %}" title="{{ record_button_title }}" />
            <c-new-button url="{% url 'plans:copy' %}" title="{% translate 'Copy plans' %}" css_class="plans-copy" />
        </div>
    </div>
    <div hx-get="{% url 'plans:income_list' %}" hx-trigger="reloadIncomes from:body, afterCopy from:body">{{incomes_list|safe}}</div>

    <!-- expenses plans -->
    <div>
        <h6>{% translate 'Expenses' %}</h6>
        <c-new-button url="{% url 'plans:expense_new' %}" title="{{ record_button_title }}" />
    </div>
    <div hx-get="{% url 'plans:expense_list' %}" hx-trigger="reloadExpenses from:body, afterCopy from:body">{{expenses_list|safe}}</div>

    <!-- necessary expenses plans -->
    <div>
        <h6>{% translate 'Additional necessary expenses' %}</h6>
        <c-new-button url="{% url 'plans:necessary_new' %}" title="{{ record_button_title }}" />
    </div>
    <div hx-get="{% url 'plans:necessary_list' %}" hx-trigger="reloadNecessary from:body, afterCopy from:body">{{necessary_list|safe}}</div>

    <!-- savings plans -->
    <div>
        <h6>{% translate 'Savings' %}</h6>
        <c-new-button url="{% url 'plans:saving_new' %}" title="{{ record_button_title }}" />
    </div>
    <div hx-get="{% url 'plans:saving_list' %}" hx-trigger="reloadSavings from:body, afterCopy from:body">{{savings_list|safe}}</div>

    <!-- day plans -->
    <div>
        <h6>{% translate 'Sum per day' %}</h6>
        <c-new-button url="{% url 'plans:day_new' %}" title="{{ record_button_title }}" />
    </div>
    <div hx-get="{% url 'plans:day_list' %}" hx-trigger="reloadDay from:body, afterCopy from:body">{{day_list|safe}}</div>

    <!-- stats plans -->
    <div>
        <h6>{% translate 'Calculations' %}</h6>
        <div></div>
    </div>
    <div hx-get="{% url 'plans:stats' %}" hx-trigger="reloadIncomes from:body, reloadExpenses from:body, reloadSavings from:body, reloadDay from:body, reloadNecessary from:body, afterCopy from:body">{{plans_stats|safe}}</div>

</div>

{% endblock content %}
