<div id="container-for-consumption-history"></div>
<script>
    Highcharts.setOptions({
        lang: {
            thousandsSep: '.',
            decimalPoint: ',',
        }
    });
    Highcharts.chart('container-for-consumption-history', {
        title: {
            text: ''
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'top',
            floating: true,
            borderWidth: 1,
        },
        xAxis: {
            min: 0.4,
            max: 10.8,
            lineColor: '#000',
            lineWidth: 2,
            gridLineWidth: 1,
            tickmarkPlacement: 'on',
            categories: [
                'Sausis',
                'Vasaris',
                'Kovas',
                'Balandis',
                'Gegužė',
                'Birželis',
                'Liepa',
                'Rugpjūtis',
                'Rugsėjis',
                'Spalis',
                'Lapkritis',
                'Gruodis'
            ],
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
                rotation: -45,
            }
        },
        yAxis: {
            labels: {
            },
            title: {
                text: ''
            },
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                }
            }
        },
        tooltip: {
            shared: true,
            pointFormat: '<b>{point.y:,.1f} ml</b><br/>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillOpacity: 0.4
            }
        },
        series: [
            {
                name: '2018',
                data: [120, 130, 150, 160, 185, 90, 80, 70, 200, 15, 5, 305]
            },
            {
                name: '2019',
                data: [130, 140, 160, 170, 195, 100, 90, 80, 220, 15, 15, 5]
            },
            {
                name: '2020',
                data: [13, 14, 16, 17, 195, 10, 9, 8, 22, 1, 3, 120]
            },
        ]
    });
</script>
