<div id="container-for-quantity"></div>
<script>
    $(function () {
       Highcharts.chart('container-for-quantity', {
        chart: {
            type: 'column',
            height: '300px',
        },
        title: {
            text: ''
        },
        xAxis: {
            lineColor: '#000',
            lineWidth: 2,
            categories: [
                'Sausis',
                'Vasaris',
                'Kovas',
                'Balandis',
                'Gegužė',
                'Birželis',
                'Liepa',
                'Rugpjūtis',
                'Rugsėjis',
                'Spalis',
                'Lapkritis',
                'Gruodis'
            ],
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                },
                rotation: -45,
            }
        },
        yAxis: {
            title: {
                text: ''
            },
            labels: {
                style: {
                    fontSize: '10px',
                    fontFamily: 'Calibri, Verdana',
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            shared: true,
            headerFormat: '',
            pointFormat: '{series.name}: <b>{point.y:.1f}</b><br/>',
            style: {
                fontSize: '12px',
                fontFamily: 'Calibri, Verdana',
            }
        },
        plotOptions: {
            bar: {
                grouping: false,
                shadow: false,
                pointWidth: 13,
            }
        },
        series: [{
            name: 'Kiekis',
            color: 'rgba(70, 171, 157,0.65)',
            borderColor: 'rgba(70, 171, 157, 1)',
            data: {{ data|safe }},
            pointPadding: 0,
            pointPlacement: 0,
            dataLabels: {
                enabled: true,
                rotation: 0,
                color: '#000',
                format: '{point.y:.1f}',
                style: {
                    fontSize: '9px',
                    fontWeight: 'bold',
                    fontFamily: 'Verdana, sans-serif',
                    textOutline: false
                }
            }
        }]
    });
});
</script>
