{% load crispy_forms_tags %}
<form novalidate method="post" id="compare_form" class="row d-flex gx-1 align-items-center">
    {% csrf_token %}
    <div class="col align-self-start"></div>
    <div class="col-3">{{ form.year1|as_crispy_field }}</div>
    <div class="col-3 align-self-start">{{ form.year2|as_crispy_field }}</div>
    <div class="col-auto align-self-start"><input type="button" name="date_filter" value="Filter" class="btn btn-secondary btn-sm filter_click" data-url="{% url 'drinks:compare' %}"></div>
</form>

<style>
    #div_id_year1, #div_id_year2 {
        margin-bottom: 0!important;
    }
</style>
