{% load i18n %}
{% load slippers %}

<div class="row">
    <div><b>{% translate 'Year comparison' %}</b></div>
    <form novalidate method="post" hx-post="{% url 'drinks:compare_two' %}" hx-target="#compare-form-and-chart">
    {% csrf_token %}
        {% form_field field=form.year1 %}
        {% form_field field=form.year2 %}
        <input type="submit" value="{% translate 'Filter' %}" class="btn btn-secondary">
    </form>
</div>

<div id="chart-compare-two-container"></div>
{% if chart.serries  %}
{{chart|json_script:"chart-compare-two-data"}}
<script>chartCompare('chart-compare-two-data', 'chart-compare-two-container')</script>
{% endif %}
