<table class="table table-striped table-hover stats">
    <thead class="thead-light">
        <tr class="top-text"><th colspan="2">Dienos riba</th></tr>
        <tr class="top">
            <th class="text-right">Max per dieną</th>
        </tr>
    </thead>
    <tfoot>
        {% for item in items %}
        {% url 'drinks:drinks_target_update' item.id as url_update %}
        <tr data-url="{{ url_update }}">
            <td>{{ item.quantity }}</td>
        </tr>
        {% empty %}
        <tr><td>Neįvestas tikslas</td></tr>
        {% endfor %}
    </tbody>
</table>
