{% load i18n %}
{% load slippers %}

<nav id="drinks-nav">
    <ul>
        <li>
            <button
                class="btn btn-sm {% if tab == 'index' %}btn-active{% endif %}"
                hx-get="{% url 'drinks:tab_index' %}"
                hx-target="#tab_content">
            {% translate 'Charts' %}
            </button>
        </li>
        <li>
            <button
                class="btn btn-sm {% if tab == 'data' %}btn-active{% endif %}"
                hx-get="{% url 'drinks:tab_data' %}"
                hx-target="#tab_content">
                {% translate 'Data' %}
            </button>
        </li>
        <li>
            <button
                class="btn btn-sm {% if tab == 'history' %}btn-active{% endif %}"
                hx-get="{% url 'drinks:tab_history' %}"
                hx-target="#tab_content">
                {% translate 'History' %}
            </button>
        </li>

        <li class="dropdown">
            <a id="dropdownDrinkType" class="dropdown__title" href="#">{{current_drink_type}}</a>
            <ul class="dropdown__menu">
                {% for type in select_drink_type %}
                    <li><a class="dropdown-item btn-sm" href="{% url 'drinks:set_drink_type' type.1 %}">{{type.0}}</a></li>
                {% endfor %}

            </ul>
        </li>

        <li>
            {% url 'drinks:new' tab as url_drinks %}
            {% translate "Drinks" context "drinks button" as drinks_button_title %}
            {% new_button url=url_drinks title=drinks_button_title css_class="btn-outline-success" %}
        </li>

        <li>
            {% url 'drinks:target_new' tab as url_drinks_target %}
            {% new_button url=url_drinks_target title=_('Goal for the year') css_class="btn-active" %}
        </li>
    </ul>
</nav>