{% load i18n %}
{% load slippers %}

<nav id="drinks-nav">
    <button
        class="{% if tab == 'index' %}button-active{% else %}button-secondary{% endif %}"
        hx-get="{% url 'drinks:tab_index' %}"
        hx-target="#tab_content">
    {% translate 'Charts' %}
    </button>

    <button
        class="{% if tab == 'data' %}button-active{% else %}button-secondary{% endif %}"
        hx-get="{% url 'drinks:tab_data' %}"
        hx-target="#tab_content">
        {% translate 'Data' %}
    </button>

    <button
        class="{% if tab == 'history' %}button-active{% else %}button-secondary{% endif %}"
        hx-get="{% url 'drinks:tab_history' %}"
        hx-target="#tab_content">
        {% translate 'History' %}
    </button>

    <div>
        <div class="dropdown">
            <button class="dropdown__btn">{{current_drink_type}}</button>
            <div class="dropdown__menu">
                {% for type in select_drink_type %}
                <a class="dropdown-item button-sm" href="{% url 'drinks:set_drink_type' type.1 %}">{{type.0}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <c-new-button url="{% url 'drinks:new' tab %}" title="{% translate 'Drinks' context 'drinks button' %}" />
    <c-new-button url="{% url 'drinks:target_new' tab %}" title="{% translate 'Goal for the year' %}" />
</nav>