
{% if not records %}<div id="no-records">{% include 'core/no_records.html' with two_years=True %}</div>{% endif %}

<div class="row _hidden" {% if not records %}style="display: none"{% endif %}>
    <div class="col">{% include 'drinks/includes/chart_summary.html' %}</div>
</div>

<script>
    $(document).on('hidden.bs.modal', '#modal-form', function () {
        $.ajax({
            success: function (data) {
                window.location.href = '{% url 'drinks:drinks_history' %}';
            },
        });
    });
</script>
