{% load i18n %}
{% load cell_format %}

<table class="striped hover caption-top">
    <caption>{% translate 'Drunk' %}, {% translate 'pcs' %}</caption>
    <thead>
        <tr>
            <th></th>
            <th>{% translate 'Total' %}</th>
            <th>{% translate 'Per day' %}</th>
            <th>{% translate 'Per week' %}</th>
            <th>{% translate 'Per month' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in ctx.items %}
        <tr {% if 'Av' in item.title %}class="std-av-border"{% endif %}>
            <td class="text-start"><span>{{ item.title }}</span></td>
            <td>{{item.total|cellformat}}</td>
            <td>{{item.per_day|cellformat}}</td>
            <td>{{item.per_week|cellformat}}</td>
            <td>{{item.per_month|cellformat}}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">{% translate 'No data' %}</td></tr>
        {% endfor %}
    </tbody>
</table>
