{% load i18n %}
{% load cell_format %}

<table class="main">
    <caption>
        {% translate 'Converted' %}, {% translate 'pcs' %}
        <small class="main__note">{% translate 'The same amount of alcohol, converted to different drink types.' %}</small>
    </caption>
    <thead>
        <tr>
            <th></th>
            <th>{% translate 'Total' %}</th>
            <th>{% translate 'Per day' %}</th>
            <th>{% translate 'Per week' %}</th>
            <th>{% translate 'Per month' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in ctx.items %}
        <tr {% if 'Av' in item.title %}class="main__total"{% endif %}>
            <td class="text-left">{{ item.title }}</td>
            <td>{{item.total|cellformat}}</td>
            <td>{{item.per_day|cellformat}}</td>
            <td>{{item.per_week|cellformat}}</td>
            <td>{{item.per_month|cellformat}}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">{% translate 'No data' %}</td></tr>
        {% endfor %}
    </tbody>
</table>
