{% load cell_format %}
{% load i18n %}
{% load slippers %}

{% var drink_type=request.user.drink_type|title %}

<table class="table table-sm caption-top">
    <caption>{% translate drink_type %}</caption>
    <thead>
        <tr>
            <th class="text-start">{% translate 'Total' %}, {% translate 'pcs' %}</th>
            <th>{% translate 'Per day' %} avg, ml</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if qty %}
            <td class="text-start">{{ qty|floatformat:1 }}</td>
            <td class="{{ target|compare:avg }}">{{ avg|floatformat:1 }}</td>
            {% else %}
            <td colspan="2">{% translate 'No data' %}</td>
            {% endif %}
        </tr>
    </tbody>
</table>
