{% load cell_format %}
{% load i18n %}

{% firstof request.user.drink_type|title as drink_type %}

<table class="main">
    <caption>{% translate drink_type %}</caption>
    <thead>
        <tr>
            <th class="text-left">{% translate 'Total' %}, {% translate 'pcs' %}</th>
            <th>{% translate 'Per day' %} avg, ml</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if ctx.qty %}
            <td class="text-left">{{ ctx.qty|floatformat:'1g' }}</td>
            <td class="{{ ctx.target|compare:ctx.avg }}">{{ ctx.avg|floatformat:'1g' }}</td>
            {% else %}
            <td colspan="2">{% translate 'No data' %}</td>
            {% endif %}
        </tr>
    </tbody>
</table>
