{% load cell_format %}
{% load i18n %}

<table class="table table-hover stats">
    <thead class="thead-light">
        <tr class="top-text">
            <th colspan="2">{% translate 'Beer (drunk)' %}</th>
        </tr>
        <tr class="top">
            <th>vnt</th>
            <th class="text-end">ml</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            {% if qty %}
            <td class="text-start">{{ qty|floatformat:1 }}</td>
            <td class="{{ target|compare:avg }}">{{ avg|floatformat:1 }}</td>
            {% else %}
            <td colspan="2">{% translate 'No data' %}</td>
            {% endif %}
        </tr>
    </tfoot>
</table>
