{% load i18n %}

<table class="main">
    <caption>{% translate 'Trend' %}, 90 {% translate 'days' %}</caption>
    <thead>
        <tr>
            <th class="text-left">{% translate 'Direction' %}</th>
            <th>{% translate 'Change' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if trend_slope.has_data %}
            {% if trend_slope.direction == 'down' %}
            <td class="text-left table-success">&darr; {% translate 'Improving' %}</td>
            <td class="table-success">{{ trend_slope.pct|floatformat:'1g' }}%</td>
            {% elif trend_slope.direction == 'up' %}
            <td class="text-left table-danger">&uarr; {% translate 'Worsening' %}</td>
            <td class="table-danger">{{ trend_slope.pct|floatformat:'1g' }}%</td>
            {% else %}
            <td class="text-left">&rarr; {% translate 'Flat' %}</td>
            <td>{{ trend_slope.pct|floatformat:'1g' }}%</td>
            {% endif %}
            {% else %}
            <td colspan="2">{% translate 'No data' %}</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<table class="main">
    <caption>{% translate 'This year vs last' %}, Std Av</caption>
    <thead>
        <tr>
            <th class="text-left">{% translate 'Now' %} / {% translate 'Then' %}</th>
            <th>{% translate 'Change' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if trend_ytd.has_past %}
            <td class="text-left">{{ trend_ytd.current|floatformat:'1g' }} / {{ trend_ytd.past|floatformat:'1g' }}</td>
            <td class="{% if trend_ytd.improving %}table-success{% else %}table-danger{% endif %}">{{ trend_ytd.pct|floatformat:'1g' }}%</td>
            {% else %}
            <td class="text-left">{{ trend_ytd.current|floatformat:'1g' }}</td>
            <td>&mdash;</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<table class="main">
    <caption>{% translate 'Year-end forecast' %}, ml</caption>
    <thead>
        <tr>
            <th class="text-left">{% translate 'Forecast' %} / {% translate 'Limit' %}</th>
            <th>{% translate 'vs limit' %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if trend_projection.has_target %}
            <td class="text-left">{{ trend_projection.projected|floatformat:'0g' }} / {{ trend_projection.target|floatformat:'0g' }}</td>
            <td class="{% if trend_projection.over %}table-danger{% else %}table-success{% endif %}">{{ trend_projection.pct|floatformat:'1g' }}%</td>
            {% else %}
            <td class="text-left">{{ trend_projection.projected|floatformat:'0g' }}</td>
            <td>&mdash;</td>
            {% endif %}
        </tr>
    </tbody>
</table>
